/*================================================================================================
    Start Digital Studio Home CSS
===================================================================================================*/
@import "../reset.css";
@import "../mobile-menu.css";
@import "../header.css";

:root {
  --bx-primary-color: #93ff7d;
  --bx-title-color: #011;
}

.bx-section-head__label {
  border-radius: 4px;
  background: #f6f6f6;
  color: var(--bx-title-color);
}

.bx-btn {
  background: var(--bx-primary-color);
  color: var(--bx-title-color);
}
.bx-btn:hover {
  background: var(--bx-title-color);
  color: var(--bx-white-color);
}
.mobile-menu-offcanvas-toggler .line {
  background: var(--bx-title-color);
}

/* Header  */
.bx-header {
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 999;
}
.bx-header__block {
  border-bottom: 0;
}

.header-main.sticky {
  background: #ffffffc2;
}

.bx-header__inner {
  position: initial;
}
.bx-header__logo {
  border-right: 0;
  padding-right: 0px;
  height: auto;
}
.bx-header__right {
  gap: 56px;
}
.bx-header__action {
  gap: 24px;
}
.bx-header__action-btn {
  display: flex;
  align-items: center;
  gap: 16px;
}
.bx-header__search {
  color: var(--bx-title-color);
  width: 44px;
  height: 44px;
  border: 1px solid var(--bx-title-color);
  border-radius: 100%;
  text-align: center;
  line-height: 48px;
  font-size: 18px;
}
.bx-header__search:hover {
  background: var(--bx-title-color);
  color: var(--bx-white-color);
}
.bx-header__nav {
  border-right: none;
  padding: 0;
}
.bx-header__nav-menu li a {
  padding: 35px 0px;
}
.bx-header__nav-menu li a {
  color: var(--bx-title-color);
}

.bx-header__nav-menu li:hover > a,
.bx-header__nav-menu li.active a {
  color: var(--bx-title-color);
}

.offcanvas__sub_menu_item.active,
.offcanvas__menu_item.active,
.offcanvas__sub_menu_item:hover,
.offcanvas__menu_item:hover,
.header-main.sticky .bx-header__nav-menu li .active {
  color: #85a6a6;
}
.offcanvas__sub_menu_toggle::after,
.offcanvas__sub_menu_toggle::before {
  background-color: #85a6a6;
}

@media only screen and (max-width: 1280px) {
  .bx-header__right {
    border: none;
    padding: 0;
  }
}

/* Hero  */
.bx-hero {
  background-color: #eaffe6;
  overflow: hidden;
  padding-top: 114px;
  padding-bottom: 140px;
}

.bx-hero__shapes {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.bx-hero__shapes .shape-1 {
  position: absolute;
  left: 52px;
  bottom: 28%;
}
.bx-hero__shapes .shape-2 {
  position: absolute;
  right: 100px;
  top: 150px;
}

.bx-hero__inner {
  gap: 70px;
  align-items: center;
  justify-content: center;
}
.bx-hero__content {
  position: relative;
  max-width: 752px;
}
.bx-hero__content .title {
  font-size: 140px;
  line-height: 134px;
  margin: 0;
  font-weight: 700;
  letter-spacing: -2.8px;
}
.hero-main-img {
  max-width: 586px;
}
.bx-hero__trustpilot {
  width: 304px;
  height: 304px;
  background: var(--bx-primary-color);
  border-radius: 100%;
  text-align: center;
  position: absolute;
  right: -100px;
  bottom: 50px;
  padding: 84px 24px;
}
.bx-hero__trustpilot ul li {
  display: inline-block;
  margin-left: -14px;
}
.bx-hero__trustpilot ul li img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid var(--bx-white-color);
}
.bx-hero__trustpilot ul {
  margin-left: 12px;
}
.bx-hero__trustpilot-info {
  margin-top: 24px;
}
.bx-hero__trustpilot-info h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--bx-title-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: -0.18px;
  margin-bottom: 12px;
}
.bx-hero__trustpilot-info h4 img {
  max-width: 96px;
}
.bx-hero__trustpilot-info p {
  line-height: 120%;
  color: var(--bx-title-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .bx-hero__content .title {
    font-size: 116px;
    line-height: 112px;
  }
  .bx-hero__inner {
    gap: 24px;
  }
  .bx-hero__trustpilot {
    right: -50px;
  }
  .bx-hero__shapes .shape-1 {
    left: 0;
  }
  .bx-hero__shapes .shape-2 {
    right: 62px;
  }
}

/* About  */
.bx-about {
  background-color: #eaffe6;
  overflow: hidden;
}
.bx-about__shape {
  position: absolute;
  bottom: 34%;
  right: 100px;
  z-index: -1;
}
.bx-about__counter-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
.bx-about .single-counter {
  display: flex;
  align-items: center;
  gap: 16px;
}
.bx-about .single-counter h4 {
  margin: 0;
  font-size: 76px;
  line-height: 70px;
  color: var(--bx-title-color);
  font-weight: 500;
}
.bx-about .single-counter .odometer.odometer-auto-theme,
.bx-about .single-counter .odometer.odometer-theme-default {
  font-family: var(--bx-inter-font);
  line-height: 70px;
  letter-spacing: -1px;
}
.bx-about .single-counter p {
  font-size: 20px;
  font-family: var(--bx-inter-font);
  font-weight: 400;
  line-height: 34px;
  color: var(--bx-paragraph-color);
}
.bx-about__inner {
  gap: 224px;
  margin-top: 140px;
}
.bx-about__badge {
  position: absolute;
  background: var(--bx-white-color);
  border: 1px solid rgba(0, 17, 17, 0.15);
  width: 238px;
  height: 238px;
  border-radius: 100%;
  text-align: center;
  line-height: 238px;
  top: 50%;
  right: -119px;
  transform: translate(0, -50%);
}
.bx-about__badge img {
  max-width: 112px;
}
.bx-about__image img {
  max-width: 884px;
}
.bx-about__image {
  max-width: 884px;
  position: relative;
}
.bx-about__content {
  max-width: 460px;
}
.bx-about__content .title {
  font-size: 26px;
  font-weight: 600;
  line-height: 38px;
}
.bx-about__content .text {
  font-size: 20px;
  line-height: 34px;
}
.bx-about__btn {
  margin-top: 56px;
}
.bx-about__btn .bx-btn {
  color: var(--bx-title-color);
}
.bx-about__btn .bx-btn:hover {
  color: var(--bx-white-color);
}
.bx-about__big-title {
  font-size: 70px;
  font-weight: 500;
  line-height: 96px;
  color: #5b5b5b;
  margin: 0;
  margin-top: 130px;
  max-width: 1332px;
}
.bx-about__big-title span {
  color: var(--bx-title-color);
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .bx-about__counter-wrapper {
    gap: 40px;
  }
}

/* Partners  */
.bx-partner {
  background-color: #eaffe6;
}
.bx-partner__section-head {
  border-bottom: 1px solid rgba(34, 48, 53, 0.17);
  padding-bottom: 40px;
}
.bx-partner__section-head .title {
  color: var(--bx-paragraph-color);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.4px;
  margin: 0;
}
.owl-carousel.bx-partner__slider {
  margin-top: 40px;
}
.bx-partner__item img {
  max-width: 174px;
}

/* Service  */
.bx-service {
  overflow: hidden;
}
.bx-service .bx-section-head {
  gap: 40px;
}
.bx-service .bx-section-head__info {
  max-width: 636px;
}
.bx-service .bx-section-head__info.two {
  max-width: 480px;
}
.bx-service .bx-section-head__text {
  color: var(--bx-title-color);
  margin: 0;
}
.bx-service .bx-section-head__btn {
  margin-top: 32px;
}
.owl-carousel.bx-features__slider {
  padding-left: 176px;
  margin-top: 50px;
}
.bx-service__item {
  position: relative;
  padding-right: 50px;
  margin-right: 50px;
}
.bx-service__item::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 598px;
  right: 0;
  top: 0;
  background: rgba(34, 48, 53, 0.17);
}
.bx-service__item .service-img {
  overflow: hidden;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.service-img img {
  border-radius: 8px;
  transition: all 0.3s ease;
}
.bx-service__item:hover .service-img img {
  transform: scale(1.04);
}
.service-content {
  margin-top: 30px;
}
.service-content span {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.32px;
  color: var(--bx-paragraph-color);
  display: block;
}
.service-content h4 {
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
  margin: 0;
  margin-top: 10px;
  color: var(--bx-title-color);
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .owl-carousel.bx-features__slider {
    padding-left: 24px;
  }
}

/* Why Choose  */
.bx-why-choose {
  overflow: hidden;
  background-color: #eaffe6;
}
.bx-why-choose__shape {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.bx-why-choose .shape-1 {
  position: absolute;
  left: 14%;
  top: 34%;
  z-index: -1;
}
.bx-why-choose .shape-2 {
  position: absolute;
  right: 10%;
  bottom: 150px;
  z-index: -1;
}

.bx-why-choose__inner {
  margin: 0px 292px;
}
.bx-why-choose__section-title {
  color: var(--bx-title-color);
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  line-height: 43px;
  margin: 0;
}
.bx-why-choose__main {
  margin-top: 56px;
  display: flex;
  align-items: center;
  gap: 97px;
}
.bx-why-choose__circle {
  max-width: 424px;
  min-width: 424px;
  height: 424px;
  border-radius: 424px;
  background: #daf5d5;
  text-align: center;
  padding: 120px 62px;
}
.bx-why-choose__circle .title {
  font-size: 140px;
  font-weight: 500;
  line-height: 96px;
  color: var(--bx-title-color);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.bx-why-choose__circle .title span {
  font-size: 48px;
  position: relative;
  top: -28px;
}
.bx-why-choose__circle .text {
  color: var(--bx-paragraph-color);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  margin-top: 32px;
}
.bx-why-choose__content {
  min-width: 460px;
}
.bx-why-choose__content .text {
  color: var(--bx-paragraph-color);
  font-family: var(--bx-inter-font);
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
}
.bx-why-choose__btn {
  margin-top: 56px;
  margin-left: 32px;
}

/* Portfolio  */
.bx-portfolio {
  background-color: #daf5d5;
}
.bx-portfolio__inner {
  gap: 80px;
}
.bx-portfolio .bx-section-head {
  max-width: 636px;
  margin: 0;
}
.bx-portfolio .bx-section-head__btn {
  margin-top: 40px;
}
.bx-portfolio .bx-section-head__btn .bx-btn {
  color: var(--bx-title-color);
}
.bx-portfolio .bx-section-head__btn .bx-btn:hover {
  color: var(--bx-white-color);
}
.bx-portfolio__wrapper {
  text-align: center;
}
.portfolio-item {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-top: 30px;
}
.portfolio-item:first-child {
  margin: 0;
}
.portfolio-item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 17, 17, 0.16) 0%,
    rgba(0, 17, 17, 0.74) 100%
  );
  border-radius: 8px;
  z-index: 1;
}
.portfolio-img {
  position: relative;
  max-width: 1574px;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
}
.portfolio-img img {
  max-width: 1574px;
  border-radius: 8px;
}
.portfolio-item:hover .portfolio-img img {
  transform: scale(1.06);
}
.portfolio-item .date {
  position: absolute;
  padding: 9px 18px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.22);
  display: inline-block;
  z-index: 2;
  font-size: 15px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.15px;
  color: var(--bx-white-color);
  top: 40px;
  left: 40px;
}
.portfolio-icon {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 2;
  transition: all 0.3s ease;
  width: 44px;
  height: 44px;
  border: 1px solid var(--bx-white-color);
  border-radius: 100%;
  line-height: 50px;
  color: var(--bx-white-color);
  font-size: 24px;
  transform: rotate(-40deg);
}
.portfolio-item:hover .portfolio-icon {
  background: var(--bx-white-color);
  color: var(--bx-title-color);
}
.portfolio-content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  text-align: left;
  padding: 0px 40px 40px 40px;
  width: 100%;
}
.portfolio-content .title {
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
  color: var(--bx-white-color);
  display: inline-block;
  margin-top: 12px;
}
.portfolio-content .title:hover {
  color: var(--bx-primary-color);
}
.portfolio-content .category li {
  display: inline-block;
  margin-right: 12px;
}
.portfolio-content .category li:last-child {
  margin: 0;
}
.portfolio-content .category li a {
  border-radius: 4px;
  font-size: 18px;
  font-weight: 400;
  color: var(--bx-white-color);
  line-height: 120%;
  letter-spacing: -0.36px;
}

/* Team  */
.bx-team__shape {
  position: absolute;
  right: 0;
  top: -164px;
}
.bx-team__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 88px;
  margin-top: 40px;
}
.bx-team__card {
  text-align: center;
}
.bx-team__img {
  border-radius: 100%;
  overflow: hidden;
}
.bx-team__img img {
  width: 100%;
  border-radius: 100%;
}
.bx-team__card:hover .bx-team__img img {
  transform: scale(1.04);
}
.bx-team__social {
  margin-bottom: 20px;
}
.bx-team__card:hover .bx-team__social {
  bottom: 30px;
}
.bx-team__social li {
  display: inline-block;
  margin-right: 12px;
}
.bx-team__social li a {
  font-size: 20px;
  color: var(--bx-title-color);
}
.bx-team__social li a:hover {
  color: var(--bx-primary-color);
}
.bx-team__social li:last-child {
  margin: 0;
}
.bx-team__content {
  margin-top: 32px;
}
.bx-team__content .name {
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 14px;
}
.bx-team__content .name a {
  color: var(--bx-title-color);
}
.bx-team__content .name a:hover {
  color: var(--bx-primary-color);
}
.bx-team__content .designation {
  color: var(--bx-paragraph-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.36px;
}

/* Testimonial  */
.bx-testimonial {
  background-color: #eaffe6;
}

.owl-carousel.bx-testimonial__slider-5 {
  margin-top: 80px;
}
.clutch-review {
  min-width: 250px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  justify-content: center;
  gap: 16px;
  padding: 12px 32px;
  border: 1px solid rgba(34, 48, 53, 0.25);
}
.clutch-review .clutch-info-inner {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 30px;
}
.clutch-review .rattings {
  color: var(--bx-title-color);
  font-size: 26px;
  font-weight: 600;
  line-height: 38px;
  margin: 0;
}
.clutch-review .clutch-icon img {
  max-width: 32px;
}
.clutch-review .clutch-info img {
  max-width: 80px;
  min-width: 80px;
}
.clutch-review .clutch-info .text {
  color: var(--bx-paragraph-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
}
.bx-testimonial .bx-section-head__info {
  border-top: 1px solid rgba(34, 48, 53, 0.25);
  margin-top: 24px;
  padding-top: 56px;
  gap: 24px;
}
.bx-testimonial .bx-section-head__title {
  font-size: 70px;
  max-width: 990px;
  margin: 0;
  color: var(--bx-title-color);
  line-height: 140%;
}
.testimonial-item {
  border-radius: 6px;
  background: var(--bx-white-color);
}
.testimonial-info {
  padding: 40px 50px 50px 50px;
}

.testimonial-rattings li {
  color: var(--bx-title-color);
  font-size: 22px;
  display: inline-block;
}
.testimonial-info .title {
  margin: 0;
  margin-top: 32px;
  font-size: 30px;
  font-weight: 400;
  line-height: 46px;
  color: var(--bx-title-color);
}
.testimonial-author {
  display: flex;
  align-items: center;
  gap: 16px;
  border-top: 1px solid rgba(34, 48, 53, 0.25);
  padding: 46px 50px 50px 50px;
}
.testimonial-author .author-img img {
  max-width: 60px;
  height: 60px;
  border-radius: 199%;
  object-fit: cover;
  border: 2px solid var(--bx-white-color);
}
.testimonial-author .author-info .name {
  font-size: 18px;
  font-weight: 700;
  color: var(--bx-title-color);
  line-height: 120%;
  margin-bottom: 8px;
}

.testimonial-author .author-info .role {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: var(--bx-paragraph-color);
}

/* Motivation  */
.bx-motivation {
  background-color: #eaffe6;
}
.bx-motivation__image {
  text-align: center;
}
.bx-motivation__image img {
  width: 100%;
  border-radius: 6px;
}
.bx-motivation__content {
  gap: 150px;
  justify-content: center;
  justify-items: end;
}
.bx-award__medal {
  margin-top: 128px;
}
.bx-award__medal .title {
  margin: 0;
  color: var(--bx-title-color);
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
}
.bx-award__medal-icons {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 55px;
}
.bx-award__medal-icons img {
  max-width: 90px;
}
.bx-motivation__widget {
  border-radius: 6px;
  background: var(--bx-primary-color);
  max-width: 342px;
  padding: 45px 30px 35px 30px;
  margin-top: -112px;
}
.bx-motivation__widget .title {
  color: #0b0b0b;
  font-size: 26px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 13px;
}
.bx-motivation__widget .text {
  color: rgba(11, 11, 11, 0.75);
  font-family: var(--bx-inter-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.bx-motivation__widget img {
  margin-top: 28px;
}

/* Blog  */
.bx-blog {
  background-color: #eaffe6;
}
.bx-blog .bx-section-head {
  align-items: end;
}
.bx-blog .bx-section-head__btn .bx-btn {
  background: var(--bx-title-color);
  color: var(--bx-white-color);
}
.bx-blog .bx-section-head__btn .bx-btn:hover {
  background: var(--bx-primary-color);
  color: var(--bx-title-color);
}
.bx-blog .bx-section-head__text {
  margin: 0;
  color: var(--bx-title-color);
}
.bx-blog .bx-section-head__btn {
  margin-top: 32px;
}

.bx-section-head__info.two {
  max-width: 480px;
}

.bx-blog__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.bx-blog__card {
  display: flex;
  gap: 30px;
  padding: 30px;
  border-radius: 8px;
  align-items: center;
  transition: all 0.3s ease;
  background: var(--bx-white-color);
}
.bx-blog__cover {
  min-width: 306px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.bx-blog__cover img {
  max-width: 306px;
  border-radius: 8px;
}
.bx-blog__card:hover .bx-blog__cover img {
  transform: scale(1.04);
}
.bx-blog__meta .category {
  padding: 12px 20px;
  border-radius: 57px;
  font-size: 14px;
  font-weight: 500;
  line-height: 12px;
  color: var(--bx-title-color);
  display: inline-block;
  border: 1px solid rgba(34, 48, 53, 0.25);
}

.bx-blog__meta .category:hover {
  background: var(--bx-primary-color);
  color: var(--bx-title-color);
  border: 1px solid transparent;
}
.bx-blog__meta {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 20px;
}
.bx-blog__meta .date {
  color: var(--bx-title-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.bx-blog__content .title {
  margin-bottom: 16px;
  font-size: 26px;
  font-weight: 400;
}
.bx-blog__content .title a {
  font-weight: 400;
  line-height: 40px;
  color: var(--bx-title-color);
}
.bx-blog__content .title a:hover {
  text-decoration: underline;
}
.bx-blog__content .text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  color: var(--bx-paragraph-color);
}

/* Call Action  */
.bx-call-action {
  background-color: var(--bx-primary-color);
  overflow: hidden;
}
.bx-call-action__shapes {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.bx-call-action__shapes .shape {
  position: absolute;
  left: 8%;
  top: 20%;
}
.bx-call-action__shapes .shape-2 {
  position: absolute;
  right: -8%;
  bottom: -39%;
}
.bx-call-action__content {
  padding: 0px 66px;
}
.bx-call-action__content .sm-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.15px;
  color: var(--bx-white-color);
  padding: 10px 18px;
  border-radius: 4px;
  display: inline-block;
  background: var(--bx-title-color);
}

.bx-call-action__content .title {
  margin: 0;
  margin-top: 24px;
  font-size: 48px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -0.48px;
  color: var(--bx-title-color);
}

.bx-call-action__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 32px;
}
.bx-call-action__btn .bx-btn,
.bx-call-action__btn .bx-btn.outline-btn:hover {
  background: var(--bx-title-color);
  color: var(--bx-white-color);
  border: 1px solid transparent;
}
.bx-call-action__btn .bx-btn.outline-btn,
.bx-call-action__btn .bx-btn:hover {
  background: transparent;
  color: var(--bx-title-color);
  border: 1px solid var(--bx-title-color);
}

/* Footer  */
.bx-footer {
  z-index: 2;
  background-color: var(--bx-title-color);
}

.bx-footer__main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 128px;
  padding: 100px 0px 140px;
}
.bx-footer__widget {
  margin-top: 40px;
}
.bx-footer__widget.bx-footer__about {
  min-width: 465px;
}
.bx-footer__logo img {
  max-width: 142px;
}
.bx-footer__about .title {
  color: var(--bx-white-color);
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
  margin: 0;
  margin-top: 32px;
}
.bx-footer__social {
  margin-top: 56px;
}
.bx-footer__social li {
  display: inline-block;
  align-content: ;
  margin-right: 24px;
}
.bx-footer__social li a {
  font-size: 24px;
  color: var(--bx-white-color);
}
.bx-footer__social li a:hover {
  color: var(--bx-primary-color);
}
.bx-footer__social li:last-child {
  margin: 0;
}
.bx-footer__widget-group {
  min-width: 632px;
}
.bx-footer__widget-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 116px;
}
.bx-footer__widget .widget-title {
  color: var(--bx-white-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 32px;
}
.bx-footer__widget .list-links li {
  margin-bottom: 28px;
}
.bx-footer__widget .list-links li a {
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}
.bx-footer__widget .list-links li:last-child {
  margin: 0;
}
.bx-footer__widget .list-links li a:hover {
  color: var(--bx-primary-color);
}
.bx-footer__widget .contact-item {
  display: flex;
  gap: 24px;
  margin-bottom: 56px;
}
.bx-footer__widget .contact-icon img {
  max-width: 53px;
}
.bx-footer__widget .contact-info .label {
  display: block;
  color: rgba(255, 255, 255, 0.69);
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 10px;
}
.bx-footer__widget .contact-info .links {
  color: var(--bx-white-color);
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
}
.bx-footer__widget .contact-info .links:hover {
  color: var(--bx-primary-color);
}
.bx-footer__widget .contact-item:last-child {
  margin: 0;
}
.bx-footer__copyright {
  background: #000000;
  padding: 12px 0px;
}
.bx-footer__copyright-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bx-footer__links li {
  display: inline-block;
  padding-right: 20px;
  margin-right: 20px;
  position: relative;
}
.bx-footer__links li::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 18px;
  background: rgba(255, 255, 255, 0.16);
  right: 0;
  top: 4px;
}
.bx-footer__links li:last-child {
  padding: 0;
  margin: 0;
}
.bx-footer__links li:last-child::before {
  display: none;
}
.bx-footer__links li a {
  color: rgba(255, 255, 255, 0.69);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.bx-footer__links li a:hover {
  color: var(--bx-primary-color);
}
.copyright-text {
  color: rgba(255, 255, 255, 0.69);
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.bx-footer__newsletter {
  margin-top: 64px;
  position: relative;
}
.bx-footer__newsletter input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.19);
  border-radius: 0;
  width: 100%;
  padding: 14px 180px 22px 0px;
  color: var(--bx-white-color);
  font-weight: 400;
}
.bx-footer__newsletter input:focus {
  color: var(--bx-white-color);
}
.bx-footer__newsletter .bx-btn {
  position: absolute;
  right: 0;
  bottom: 10px;
  font-size: 15px;
  padding: 8px 18px;
  background: var(--bx-white-color);
  color: var(--bx-title-color);
  transition: all 0.3s ease;
}
.bx-footer__newsletter .bx-btn:hover {
  background: var(--bx-primary-color);
  color: var(--bx-title-color);
}

.bx-header__nav-menu .megamenu-active:hover > a,
.bx-header__nav-menu .megamenu-active a {
  color: var(--bx-title-color);
}

.mega-menu__item-action .bx-btn {
  color: var(--bx-title-color) !important;
}
.mega-menu__item-action .bx-btn:hover {
  color: var(--bx-white-color) !important;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .bx-footer__main {
    gap: 80px;
  }
  .bx-footer__widget-inner {
    gap: 60px;
  }
  .bx-footer__widget.bx-footer__about {
    min-width: 423px;
  }
  .bx-footer__widget-group {
    min-width: 560px;
  }
}

/* Hero  */
.bx-hero {
  background-color: #eaffe6;
  overflow: hidden;
  padding-top: 114px;
  padding-bottom: 140px;
}

.bx-hero__shapes {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.bx-hero__shapes .shape-1 {
  position: absolute;
  left: 52px;
  bottom: 18%;
}
.bx-hero__shapes .shape-2 {
  position: absolute;
  right: 90px;
  top: 30%;
}
.bx-hero__inner {
  gap: 70px;
  align-items: center;
  justify-content: center;
}
.bx-hero__content {
  position: relative;
  max-width: 752px;
}
.bx-hero__content .title {
  font-size: 140px;
  line-height: 134px;
  margin: 0;
  font-weight: 700;
  letter-spacing: -2.8px;
}
.hero-main-img {
  max-width: 586px;
}
.bx-hero__trustpilot {
  width: 304px;
  height: 304px;
  background: var(--bx-primary-color);
  border-radius: 100%;
  text-align: center;
  position: absolute;
  right: -100px;
  bottom: 50px;
  padding: 84px 24px;
}
.bx-hero__trustpilot ul li {
  display: inline-block;
  margin-left: -14px;
}
.bx-hero__trustpilot ul li img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid var(--bx-white-color);
}
.bx-hero__trustpilot ul {
  margin-left: 12px;
}
.bx-hero__trustpilot-info {
  margin-top: 24px;
}
.bx-hero__trustpilot-info h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--bx-title-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: -0.18px;
  margin-bottom: 12px;
}
.bx-hero__trustpilot-info h4 img {
  max-width: 96px;
}
.bx-hero__trustpilot-info p {
  line-height: 120%;
  color: var(--bx-title-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  /* Hero  */
  .bx-hero {
    padding-top: 90px;
    padding-bottom: 110px;
  }
  .bx-hero__inner {
    gap: 50px;
  }
  .bx-hero__content .title {
    font-size: 110px;
    line-height: 105px;
    letter-spacing: -2px;
  }
  .hero-main-img {
    max-width: 480px;
  }
  .bx-hero__trustpilot {
    width: 250px;
    height: 250px;
    padding: 60px 20px;
    right: 0;
    bottom: 40px;
  }
  .bx-hero__shapes .shape-1 {
    left: 40px;
  }
  .bx-hero__shapes .shape-2 {
    right: 80px;
    top: 120px;
  }

  /* About  */
  .bx-about__counter-wrapper {
    gap: 60px;
  }
  .bx-about .single-counter h4 {
    font-size: 58px;
    line-height: 56px;
  }
  .bx-about .single-counter .odometer.odometer-auto-theme,
  .bx-about .single-counter .odometer.odometer-theme-default {
    line-height: 56px;
  }
  .bx-about .single-counter p {
    font-size: 18px;
    line-height: 28px;
  }
  .bx-about__inner {
    gap: 120px;
    margin-top: 100px;
  }
  .bx-about__badge {
    width: 180px;
    height: 180px;
    line-height: 180px;
    right: -90px;
  }
  .bx-about__badge img {
    max-width: 90px;
  }
  .bx-about__image img {
    max-width: 650px;
  }
  .bx-about__image {
    max-width: 650px;
  }
  .bx-about__content {
    max-width: 400px;
  }
  .bx-about__content .title {
    font-size: 24px;
    line-height: 34px;
  }
  .bx-about__content .text {
    font-size: 18px;
    line-height: 30px;
  }
  .bx-about__btn {
    margin-top: 40px;
  }
  .bx-about__big-title {
    font-size: 54px;
    line-height: 74px;
    margin-top: 100px;
    max-width: 1100px;
  }
  .bx-about__shape {
    right: 80px;
  }

  /* Why Choose  */
  .bx-why-choose__inner {
    margin: 0px 200px;
  }
  .bx-why-choose__main {
    gap: 70px;
  }
  .bx-why-choose__circle {
    max-width: 380px;
    min-width: 380px;
    height: 380px;
    padding: 100px 50px;
  }
  .bx-why-choose__circle .title {
    font-size: 120px;
    line-height: 90px;
  }
  .bx-why-choose__circle .title span {
    font-size: 42px;
    top: -24px;
  }
  .bx-why-choose__content {
    min-width: 400px;
  }
  .bx-why-choose__content .text {
    font-size: 18px;
    line-height: 32px;
  }
  .bx-why-choose__btn {
    margin-top: 48px;
    margin-left: 24px;
  }

  /* Portfolio  */
  .bx-portfolio__inner {
    gap: 60px;
  }
  .bx-portfolio .bx-section-head {
    max-width: 500px;
  }
  .portfolio-img img {
    width: 100%;
  }
  .portfolio-content .title {
    font-size: 20px;
  }
  .portfolio-content .category li a {
    font-size: 16px;
  }

  /* Testimonial  */
  .bx-testimonial .bx-section-head__title {
    font-size: 60px;
  }
  .owl-carousel.bx-testimonial__slider-5 {
    margin-top: 60px;
  }
  .testimonial-info {
    padding: 35px 40px 40px 40px;
  }
  .testimonial-info .title {
    font-size: 26px;
    line-height: 40px;
    margin-top: 25px;
  }
  .testimonial-author {
    padding: 35px 40px 40px 40px;
  }

  /* Motivation  */
  .bx-motivation__image img {
    max-width: 100%;
  }
  .bx-motivation__content {
    gap: 100px;
  }
  .bx-award__medal {
    margin-top: 100px;
  }
  .bx-award__medal-icons {
    gap: 40px;
  }
  .bx-award__medal-icons img {
    max-width: 80px;
  }
  .bx-motivation__widget {
    margin-top: -90px;
    padding: 40px 25px 30px 25px;
  }

  /* Blog  */
  .bx-blog__card {
    display: block;
  }
  .bx-blog__cover img {
    max-width: 100%;
    width: 100%;
  }
  .bx-blog__content {
    margin-top: 40px;
  }

  /* Call Action  */
  .bx-call-action__content {
    padding: 0;
  }
  .bx-call-action__content .title {
    font-size: 36px;
    margin-bottom: 35px;
  }

  /* Footer  */
  .bx-footer__main {
    grid-template-columns: repeat(2, 1fr);
  }
  .bx-footer__widget.bx-footer__contact {
    margin-top: -160px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* Hero  */
  .bx-hero {
    padding-top: 120px;
    padding-bottom: 90px;
  }
  .bx-hero__inner {
    gap: 40px;
    flex-direction: column;
    text-align: center;
  }
  .bx-hero__content {
    max-width: 600px;
  }
  .bx-hero__content .title {
    font-size: 85px;
    line-height: 85px;
    letter-spacing: -1.5px;
  }
  .hero-main-img {
    max-width: 400px;
  }
  .bx-hero__trustpilot {
    width: 220px;
    height: 220px;
    padding: 45px 15px;
    right: -50px;
    bottom: 30px;
  }
  .bx-hero__trustpilot ul li img {
    width: 40px;
    height: 40px;
  }
  .bx-hero__trustpilot-info h4 {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .bx-hero__trustpilot-info h4 img {
    max-width: 80px;
  }
  .bx-hero__trustpilot-info p {
    font-size: 14px;
    line-height: 20px;
  }
  .bx-hero__shapes .shape-1 {
    left: 30px;
    bottom: 20%;
  }
  .bx-hero__shapes .shape-2 {
    right: 60px;
    top: 100px;
  }

  /* About  */
  .bx-about__counter-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  .bx-about .single-counter {
    width: calc(50% - 40px);
  }
  .bx-about .single-counter h4 {
    font-size: 50px;
    line-height: 46px;
  }
  .bx-about .single-counter .odometer.odometer-auto-theme,
  .bx-about .single-counter .odometer.odometer-theme-default {
    line-height: 46px;
  }
  .bx-about .single-counter p {
    font-size: 16px;
    line-height: 24px;
  }
  .bx-about__inner {
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin-top: 80px;
  }
  .bx-about__badge {
    width: 160px;
    height: 160px;
    line-height: 160px;
    right: 0;
    top: auto;
    bottom: -60px;
    transform: none;
  }
  .bx-about__badge img {
    max-width: 80px;
  }
  .bx-about__image img {
    max-width: 100%;
  }
  .bx-about__image {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
  .bx-about__content {
    max-width: 100%;
    text-align: center;
  }
  .bx-about__btn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  .bx-about__big-title {
    font-size: 40px;
    line-height: 54px;
    margin-top: 80px;
    text-align: center;
  }
  .bx-about__shape {
    right: 50px;
    bottom: 20%;
  }

  /* About  */
  .bx-about__counter-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  .bx-about .single-counter {
    width: calc(50% - 40px);
  }
  .bx-about .single-counter h4 {
    font-size: 50px;
    line-height: 46px;
  }
  .bx-about .single-counter .odometer.odometer-auto-theme,
  .bx-about .single-counter .odometer.odometer-theme-default {
    line-height: 46px;
  }
  .bx-about .single-counter p {
    font-size: 16px;
    line-height: 24px;
  }
  .bx-about__inner {
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin-top: 80px;
  }
  .bx-about__badge {
    width: 160px;
    height: 160px;
    line-height: 160px;
    right: 0;
    top: auto;
    bottom: -60px;
    transform: none;
  }
  .bx-about__badge img {
    max-width: 80px;
  }
  .bx-about__image img {
    max-width: 100%;
  }
  .bx-about__image {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
  .bx-about__content {
    max-width: 100%;
    text-align: center;
  }
  .bx-about__btn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  .bx-about__big-title {
    font-size: 40px;
    line-height: 54px;
    margin-top: 80px;
    text-align: center;
  }
  .bx-about__shape {
    right: 50px;
    bottom: 20%;
  }

  /* Service  */
  .bx-service .bx-section-head {
    flex-direction: column;
    gap: 25px;
  }
  .bx-service .bx-section-head__info,
  .bx-service .bx-section-head__info.two {
    max-width: 100%;
  }
  .bx-service .bx-section-head__btn {
    margin-top: 20px;
  }
  .owl-carousel.bx-features__slider {
    padding-left: 60px;
    margin-top: 35px;
  }
  .bx-service .bx-section-head__text {
    margin-top: 12px;
  }
  .bx-service__item {
    padding: 0;
    margin-right: 24px;
  }
  .bx-service__item::before {
    display: none;
  }
  .service-content {
    margin-top: 25px;
  }
  .service-content h4 {
    font-size: 18px;
    margin-top: 8px;
  }

  /* Why Choose  */
  .bx-why-choose__shape {
    left: -60px;
    top: 140px;
    width: 230px;
  }
  .bx-why-choose__inner {
    margin: 0px 80px;
  }
  .bx-why-choose__section-title {
    font-size: 22px;
    line-height: 36px;
  }
  .bx-why-choose__main {
    margin-top: 40px;
    flex-direction: column;
    gap: 50px;
  }
  .bx-why-choose__circle {
    max-width: 320px;
    min-width: 320px;
    height: 320px;
    padding: 80px 40px;
  }
  .bx-why-choose__circle .title {
    font-size: 100px;
    line-height: 70px;
  }
  .bx-why-choose__circle .title span {
    font-size: 36px;
    top: -20px;
  }
  .bx-why-choose__circle .text {
    font-size: 16px;
    line-height: 28px;
    margin-top: 24px;
  }
  .bx-why-choose__content {
    min-width: auto;
    max-width: 600px;
  }
  .bx-why-choose__content .text {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
  .bx-why-choose__btn {
    margin-top: 40px;
    margin-left: 0;
    text-align: center;
  }

  /* Portfolio  */
  .bx-portfolio__inner {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .bx-portfolio .bx-section-head {
    position: relative;
    top: 0;
    max-width: 100%;
    text-align: center;
  }
  .bx-portfolio .bx-section-head__btn {
    margin-top: 30px;
    text-align: center;
  }
  .portfolio-item .date {
    padding: 7px 14px;
    font-size: 14px;
    top: 20px;
    left: 20px;
  }
  .portfolio-icon {
    top: 20px;
    right: 20px;
    width: 38px;
    height: 38px;
    line-height: 44px;
    font-size: 20px;
  }
  .portfolio-content {
    padding: 0px 20px 20px 20px;
  }
  .portfolio-content .title {
    font-size: 18px;
  }
  .portfolio-content .category li a {
    font-size: 15px;
  }

  /* Testimonial  */
  .bx-testimonial .bx-section-head__info {
    flex-direction: column;
    padding-top: 40px;
  }
  .bx-testimonial .bx-section-head__title {
    font-size: 48px;
    max-width: 100%;
    margin-top: 32px;
  }
  .owl-carousel.bx-testimonial__slider-5 {
    margin-top: 50px;
  }
  .testimonial-info {
    padding: 30px 35px 35px 35px;
  }
  .testimonial-info .title {
    font-size: 22px;
    line-height: 36px;
    margin-top: 20px;
  }
  .testimonial-rattings li {
    font-size: 18px;
  }
  .testimonial-author {
    padding: 30px 35px 35px 35px;
  }
  .testimonial-author .author-img img {
    max-width: 50px;
    height: 50px;
  }
  .testimonial-author .author-info .name {
    font-size: 16px;
  }
  .testimonial-author .author-info .role {
    font-size: 14px;
  }

  /* Motivation  */
  .bx-motivation__image img {
    max-width: 100%;
  }
  .bx-motivation__content {
    flex-direction: column;
    gap: 60px;
    align-items: center;
  }
  .bx-award__medal {
    margin-top: 60px;
    text-align: center;
  }
  .bx-award__medal .title {
    font-size: 24px;
    line-height: 34px;
  }
  .bx-award__medal-icons {
    gap: 30px;
    justify-content: center;
  }
  .bx-award__medal-icons img {
    max-width: 70px;
  }
  .bx-motivation__widget {
    margin-top: 0;
    max-width: 500px;
    text-align: center;
  }
  .bx-motivation__widget .title {
    font-size: 24px;
  }
  .bx-motivation__widget .text {
    font-size: 16px;
    line-height: 28px;
  }
  .bx-motivation__widget img {
    display: block;
    margin: 24px auto 0;
  }

  /* Blog  */
  .bx-blog__wrapper {
    display: grid;
    margin-top: 20px;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
  }
  .bx-blog__cover {
    min-width: 100%;
    width: 100%;
  }
  .bx-blog__card {
    display: block;
    min-width: 100%;
    width: 100%;
    padding: 24px;
  }
  .bx-blog__cover img {
    max-width: 100%;
    border-radius: 8px;
    width: 100%;
  }
  .bx-blog__content .title {
    margin-bottom: 9px;
    font-size: 22px;
  }
  .bx-blog__content .title a {
    line-height: 32px;
  }
  .bx-blog__content .text {
    line-height: 25px;
  }
  .bx-blog__meta .category {
    padding: 8px 12px;
    line-height: 11px;
  }
  .bx-blog__content {
    margin-top: 32px;
  }

  /* Call Action  */
  .bx-call-action__content {
    padding: 0;
  }
  .bx-call-action__content .title {
    font-size: 32px;
    line-height: 130%;
    margin-bottom: 30px;
  }
  .bx-call-action__shapes {
    display: none;
  }

  /* Footer  */
  .bx-footer__main {
    display: flex;
    gap: 40px;
    padding: 40px 0px 80px;
    flex-wrap: wrap;
  }
  .bx-footer__widget.bx-footer__about {
    min-width: 100%;
  }
  .bx-footer__about .title {
    font-size: 24px;
  }
  .bx-footer__social {
    margin-top: 40px;
  }
  .bx-footer__social li a {
    font-size: 20px;
  }
  .bx-footer__widget-group {
    min-width: 100%;
  }
  .bx-footer__copyright-inner {
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }
}

@media only screen and (max-width: 767px) {
  /* Hero  */
  .bx-hero {
    padding-top: 100px;
    padding-bottom: 70px;
  }
  .bx-hero__inner {
    gap: 30px;
    flex-direction: column;
    text-align: center;
  }
  .bx-hero__content {
    max-width: 100%;
  }
  .bx-hero__content .title {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.8px;
  }
  .bx-hero__image-widget {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .hero-main-img {
    max-width: 300px;
  }
  .bx-hero__trustpilot {
    width: 180px;
    height: 180px;
    padding: 30px 10px;
    right: -20px;
    bottom: 20px;
  }
  .bx-hero__trustpilot ul li img {
    width: 35px;
    height: 35px;
  }
  .bx-hero__trustpilot-info {
    margin-top: 15px;
  }
  .bx-hero__trustpilot-info h4 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
    gap: 5px;
  }
  .bx-hero__trustpilot-info h4 img {
    max-width: 70px;
  }
  .bx-hero__trustpilot-info p {
    font-size: 12px;
    line-height: 16px;
  }
  .bx-hero__shapes .shape-1 {
    left: 15px;
    bottom: 15%;
    width: 30px;
  }
  .bx-hero__shapes .shape-2 {
    right: 30px;
    top: 80px;
    width: 30px;
  }

  /* About  */
  .bx-about__counter-wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .bx-about .single-counter {
    width: 100%;
    justify-content: center;
  }
  .bx-about .single-counter h4 {
    font-size: 42px;
    line-height: 40px;
  }
  .bx-about .single-counter .odometer.odometer-auto-theme,
  .bx-about .single-counter .odometer.odometer-theme-default {
    line-height: 40px;
  }
  .bx-about .single-counter p {
    font-size: 16px;
    line-height: 24px;
  }
  .bx-about__inner {
    flex-direction: column;
    gap: 60px;
    margin-top: 60px;
  }
  .bx-about__badge {
    width: 120px;
    height: 120px;
    line-height: 120px;
    right: 10px;
    top: auto;
    bottom: -30px;
    transform: none;
  }
  .bx-about__badge img {
    max-width: 60px;
  }
  .bx-about__image img {
    max-width: 100%;
  }
  .bx-about__image {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
  .bx-about__content {
    max-width: 100%;
    text-align: center;
  }
  .bx-about__content .title {
    font-size: 22px;
    line-height: 30px;
  }
  .bx-about__content .text {
    font-size: 16px;
    line-height: 26px;
  }
  .bx-about__btn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  .bx-about__big-title {
    font-size: 28px;
    line-height: 38px;
    margin-top: 60px;
    text-align: center;
  }
  .bx-about__shape {
    right: 20px;
    bottom: 10%;
    width: 40px;
  }

  /* Partner  */
  .bx-partner__section-head {
    padding-bottom: 24px;
  }
  .bx-partner__section-head .title {
    font-size: 18px;
  }
  .owl-carousel.bx-partner__slider {
    margin-top: 32px;
  }

  /* Service  */
  .bx-service .bx-section-head {
    flex-direction: column;
    gap: 20px;
  }
  .bx-service .bx-section-head__info,
  .bx-service .bx-section-head__info.two {
    max-width: 100%;
  }
  .bx-service .bx-section-head__btn {
    margin-top: 15px;
  }
  .owl-carousel.bx-features__slider {
    padding-left: 15px;
    margin-top: 20px;
  }
  .bx-service__item {
    padding-right: 0px;
    margin-right: 16px;
  }
  .bx-service__item::before {
    display: none;
  }
  .service-content {
    margin-top: 20px;
  }
  .service-content span {
    font-size: 14px;
  }
  .service-content h4 {
    font-size: 16px;
    margin-top: 5px;
  }

  /* Why Choose  */
  .bx-why-choose__shape {
    left: -100px;
    top: 120px;
    width: 180px;
  }
  .bx-why-choose__inner {
    margin: 0px;
  }
  .bx-why-choose__section-title {
    font-size: 18px;
    line-height: 32px;
  }
  .bx-why-choose__main {
    margin-top: 32px;
    flex-direction: column;
    gap: 40px;
  }
  .bx-why-choose__circle {
    max-width: 280px;
    min-width: 280px;
    height: 280px;
    padding: 70px 30px;
  }
  .bx-why-choose__circle .title {
    font-size: 80px;
    line-height: 60px;
  }
  .bx-why-choose__circle .title span {
    font-size: 28px;
    top: -16px;
  }
  .bx-why-choose__circle .text {
    font-size: 15px;
    line-height: 26px;
    margin-top: 20px;
  }
  .bx-why-choose__content {
    min-width: auto;
  }
  .bx-why-choose__content .text {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }
  .bx-why-choose__btn {
    margin-top: 32px;
    margin-left: 0;
    text-align: center;
  }

  /* Portfolio  */
  .bx-portfolio__inner {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .bx-portfolio .bx-section-head {
    position: relative;
    top: 0;
    max-width: 100%;
    text-align: center;
  }
  .bx-portfolio .bx-section-head__title {
    font-size: 24px;
  }
  .bx-portfolio .bx-section-head__title br {
    display: none;
  }
  .bx-portfolio .bx-section-head__btn {
    margin-top: 20px;
    text-align: center;
  }
  .bx-portfolio__wrapper {
    margin-bottom: 20px;
  }
  .portfolio-item {
    margin-top: 20px;
  }
  .portfolio-item .date {
    padding: 5px 10px;
    font-size: 12px;
    top: 15px;
    left: 15px;
  }
  .portfolio-icon {
    top: 15px;
    right: 15px;
    width: 32px;
    height: 32px;
    line-height: 38px;
    font-size: 18px;
  }
  .portfolio-content {
    padding: 0px 15px 15px 15px;
  }
  .portfolio-content .title {
    font-size: 16px;
    margin-top: 8px;
  }
  .portfolio-content .category li {
    margin-right: 8px;
  }
  .portfolio-content .category li a {
    font-size: 14px;
  }
  .portfolio-img,
  .portfolio-img img {
    max-width: 100%;
  }

  /* Testimonial  */
  .clutch-review {
    min-width: auto;
    padding: 10px 20px;
    gap: 12px;
  }
  .clutch-review .rattings {
    font-size: 22px;
    line-height: 30px;
  }
  .clutch-review .clutch-info img {
    max-width: 70px;
    min-width: 70px;
  }
  .clutch-review .clutch-info .text {
    font-size: 12px;
  }
  .bx-testimonial .bx-section-head__info {
    flex-direction: column;
    gap: 25px;
    padding-top: 30px;
    margin-top: 20px;
  }
  .bx-testimonial .bx-section-head__title {
    font-size: 32px;
    line-height: 130%;
  }
  .owl-carousel.bx-testimonial__slider-5 {
    margin-top: 40px;
  }
  .testimonial-info {
    padding: 25px 20px 30px 20px;
  }
  .testimonial-info .title {
    font-size: 18px;
    line-height: 30px;
    margin-top: 15px;
  }
  .testimonial-rattings li {
    font-size: 16px;
  }
  .testimonial-author {
    padding: 25px 20px 30px 20px;
  }
  .testimonial-author .author-img img {
    max-width: 45px;
    height: 45px;
  }
  .testimonial-author .author-info .name {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .testimonial-author .author-info .role {
    font-size: 13px;
  }

  /* Motivation  */
  .bx-motivation__image {
    text-align: center;
  }
  .bx-motivation__image img {
    max-width: 100%;
    border-radius: 6px;
  }
  .bx-motivation__content {
    gap: 150px;
    justify-content: center;
    justify-items: end;
    display: block !important;
  }
  .bx-award__medal {
    margin-top: 40px;
  }
  .bx-award__medal .title {
    margin: 0;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
  }
  .bx-award__medal-icons {
    margin-top: 24px;
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
  }
  .bx-award__medal-icons img {
    max-width: 64px;
  }
  .bx-motivation__widget {
    border-radius: 6px;
    max-width: 100%;
    padding: 24px;
    margin-top: 40px;
  }
  .bx-motivation__widget .title {
    color: #0b0b0b;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 13px;
  }
  .bx-motivation__widget .text {
    color: rgba(11, 11, 11, 0.75);
    font-family: var(--bx-inter-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  .bx-motivation__widget img {
    margin-top: 28px;
  }

  /* Blog  */
  .bx-blog__wrapper {
    display: grid;
    margin-top: 20px;
    gap: 24px;
    grid-template-columns: repeat(1, 1fr);
  }
  .bx-blog__cover {
    min-width: 100%;
    width: 100%;
  }
  .bx-blog__cover img {
    max-width: 100%;
    border-radius: 8px;
    width: 100%;
  }
  .bx-blog__card {
    display: block;
    min-width: 100%;
    width: 100%;
    padding: 24px;
  }
  .bx-blog__content .title {
    margin-bottom: 9px;
    font-size: 22px;
  }
  .bx-blog__content .title a {
    line-height: 32px;
  }
  .bx-blog__content .text {
    line-height: 25px;
  }
  .bx-blog__meta .category {
    padding: 8px 12px;
    line-height: 11px;
  }
  .bx-blog__content {
    margin-top: 32px;
  }

  /* Call Action  */
  .bx-call-action__content {
    padding: 0;
  }
  .bx-call-action__content .sm-title {
    font-size: 14px;
    margin-bottom: 16px;
  }
  .bx-call-action__content .title {
    font-size: 26px;
    line-height: 130%;
    margin-bottom: 24px;
  }
  .bx-call-action__btn {
    flex-direction: column;
    gap: 16px;
  }
  .bx-call-action__shapes {
    display: none;
  }

  /* Footer  */
  .bx-footer__main {
    grid-template-columns: repeat(1, 1fr);
    padding: 16px 0px 56px;
  }
  .bx-footer__widget.bx-footer__about {
    min-width: 100%;
  }
  .bx-footer__about .title {
    font-size: 24px;
    margin-top: 24px;
  }
  .bx-footer__social {
    margin-top: 24px;
  }
  .bx-footer__social li {
    margin-right: 22px;
  }
  .bx-footer__social li a {
    font-size: 20px;
  }
  .bx-footer__widget-group {
    min-width: 100%;
  }
  .bx-footer__main {
    gap: 0;
  }
  .bx-footer__widget .widget-title {
    font-size: 18px;
  }
  .bx-footer__widget-inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .bx-footer__newsletter input {
    height: 48px;
  }
  .bx-footer__newsletter {
    margin-top: 40px;
  }
  .bx-footer__widget .contact-icon img {
    max-width: 40px;
  }
  .bx-footer__widget .contact-info .links {
    font-size: 16px;
    line-height: 120%;
  }
  .bx-footer__widget .contact-item {
    margin-bottom: 32px;
  }
  .bx-footer__copyright-inner {
    display: block;
    text-align: center;
  }
  .copyright-text {
    text-align: center;
    margin-top: 12px;
  }
  .bx-footer__links li {
    padding-right: 12px;
    margin-right: 12px;
  }
}

/*================================================================================================
  End Digital Studio Home CSS
===================================================================================================*/
