/*================================================================================================
    Start Business Home CSS
===================================================================================================*/
@import "../reset.css";
@import "../mobile-menu.css";
@import "../header.css";

/* Header  */
.bx-header {
  background-color: #001111;
}
.bx-header__inner {
  position: initial;
}
.bx-header__logo {
  border-right: 0;
  padding-right: 0px;
  height: auto;
}
.bx-header__right {
  gap: 248px;
}
.bx-header__action {
  gap: 24px;
}
.bx-header__action-btn {
  display: flex;
  align-items: center;
  gap: 16px;
}
.bx-header__search,
.bx-header__menu {
  color: var(--bx-primary-color);
  width: 44px;
  height: 44px;
  border: 1px solid var(--bx-primary-color);
  border-radius: 100%;
  text-align: center;
  line-height: 48px;
  font-size: 18px;
}
.bx-header__search:hover,
.bx-header__menu:hover {
  background: var(--bx-primary-color);
  color: var(--bx-white-color);
}
.bx-header__nav {
  border-right: none;
  padding: 0;
}
.bx-header__nav-menu li a {
  padding: 35px 0px;
}
.bx-header__nav-menu li a,
.bx-header__info .support-text i {
  color: var(--bx-white-color);
}
.bx-header__nav-menu li:hover > a,
.bx-header__nav-menu li.active a {
  color: var(--bx-primary-color);
}
.bx-header__nav-menu .megamenu-active:hover > a,
.bx-header__nav-menu .megamenu-active a {
  color: var(--bx-primary-color);
}
.header-main.sticky .bx-header__nav-menu li .active {
  color: var(--bx-primary-color);
}

/* Hero  */
.bx-hero {
  background-color: #001111;
}
.bx-hero__bg-text {
  background: linear-gradient(
    90deg,
    rgba(136, 174, 185, 0.03) 0%,
    rgba(136, 174, 185, 0.25) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 500px;
  font-weight: 500;
  letter-spacing: -30px;
  position: absolute;
  top: 185px;
  line-height: 80%;
  margin: 0;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, 0);
}
.bx-hero__wrapper {
  margin: 0px 162px 0px 100px;
  padding-top: 180px;
}
.bx-hero__content {
  max-width: 660px;
}
.bx-hero__content .title {
  color: #afc1c5;
  font-size: 77px;
  font-weight: 500;
  line-height: 91px;
  letter-spacing: -1.54px;
  margin: 0;
}
.bx-hero__content .title span {
  color: rgba(255, 255, 255, 0.78);
  font-family: var(--bx-literata-font);
  font-size: 77px;
  font-style: italic;
  font-weight: 900;
  line-height: 160%;
  letter-spacing: -3.08px;
  display: block;
}
.bx-hero__content .text {
  font-size: 26px;
  font-weight: 400;
  line-height: 43px;
  color: rgba(255, 255, 255, 0.65);
  margin-top: 60px;
}
.bx-hero__images .hero-img {
  max-width: 549px;
}
.bx-hero__images .element-img-1 {
  position: absolute;
  bottom: 82px;
  left: -29%;
}
.bx-hero__images .element-img-2 {
  position: absolute;
  bottom: -44px;
  right: -11%;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .bx-hero__wrapper {
    margin: 0px 80px 0px 100px;
  }
  .bx-hero__bg-text {
    font-size: 380px;
  }
  .bx-hero__images .hero-img {
    max-width: 460px;
  }
  .bx-hero__content {
    max-width: 632px;
  }
}

/* About  */
.bx-about .bx-section-head {
  max-width: 400px;
  margin: 0;
}
.bx-about .bx-about__content {
  max-width: 834px;
}
.bx-about .bx-section-head__title {
  margin-top: 40px;
  font-size: 26px;
  line-height: 120%;
}
.bx-about .bx-section-head__text {
  color: var(--bx-paragraph-color);
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.36px;
}
.bx-about .bx-section-head svg {
  float: right;
  margin-top: 80px;
  position: relative;
  right: -52px;
}
.bx-about__content .title {
  font-size: 64px;
  font-weight: 500;
  line-height: 81px;
  letter-spacing: -0.64px;
  margin: 0;
}
.bx-about__content .title-2 {
  color: rgba(34, 48, 53, 0.35);
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 81px;
  letter-spacing: -0.64px;
  margin: 0;
  margin-top: 52px;
}

/* Features  */
.owl-carousel.bx-features__slider {
  padding-left: 115px;
}
.bx-features__item {
  position: relative;
  padding-right: 50px;
  margin-right: 50px;
}
.bx-features__item::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 598px;
  background: rgba(34, 48, 53, 0.17);
  right: 0;
  top: 0;
}
.bx-features__item .features-img {
  overflow: hidden;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.features-img img {
  border-radius: 8px;
  transition: all 0.3s ease;
}
.bx-features__item:hover .features-img img {
  transform: scale(1.04);
}
.features-content {
  margin-top: 30px;
}
.features-content span {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.32px;
  color: var(--bx-paragraph-color);
  display: block;
}
.features-content h4 {
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
  margin: 0;
  margin-top: 10px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .owl-carousel.bx-features__slider {
    padding-left: 24px;
  }
}

/* Services  */
.bx-service {
  overflow: hidden;
}
.bx-service__inner {
  padding-top: 200px;
}

.bx-service__inner .bx-section-head__label {
  background: rgba(255, 255, 255, 0.14);
  color: var(--bx-white-color);
}

.bx-service::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 17, 17, 0.45);
  z-index: -1;
}
.bx-service__content {
  border-radius: 8px 8px 0px 0px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(16.700000762939453px);
  max-width: 708px;
  padding: 70px;
  position: relative;
  border-bottom: none;
}
.bx-service .progress-item {
  margin-bottom: 50px;
}
.bx-service .progress-item:last-child {
  margin: 0;
}

.bx-service .progress-item__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.bx-service .progress-item__title,
.bx-service .progress-item__percentage {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  color: var(--bx-white-color);
}
.bx-service .progress-container,
.bx-service .progress {
  border-radius: 500px;
  position: relative;
  height: 6px;
  width: 100%;
  border: 1px solid var(--bx-primary-color);
  border-radius: 12px;
}
.bx-service .progress {
  background-color: var(--bx-primary-color);
  width: 0;
  transition: width 0.3s linear;
  height: 6px;
  top: -1px;
  left: 0;
}
.bx-service .percentage {
  font-size: 0px;
  position: absolute;
  left: 0;
  transition: left 0.3s linear;
}
.bx-service__btn {
  margin-top: 60px;
}
.bx-service__image img {
  max-width: 360px;
}

/* Testimonial  */
.owl-carousel.bx-testimonial__slider-2 {
  padding: 0px 190px;
}
.testimonial-inner {
  display: flex;
  align-items: center;
  gap: 78px;
  border-bottom: 1px solid rgba(34, 48, 53, 0.17);
  padding-bottom: 72px;
  margin-bottom: 32px;
}
.testimonial-inner .quotation-icon {
  min-width: 90px;
  height: 90px;
  line-height: 90px;
  background: #f0f0f0;
  border-radius: 100%;
  text-align: center;
}
.testimonial-inner .quotation-icon img {
  max-width: 40px;
  display: inline-block !important;
}
.testimonial-info img {
  max-width: 140px;
}
.testimonial-info .title {
  margin: 0;
  margin-top: 40px;
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -0.4px;
}

.testimonial-author {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 170px;
}
.testimonial-author .author-img img {
  max-width: 60px;
  height: 60px;
  border-radius: 199%;
  object-fit: cover;
}
.testimonial-author .author-info .name {
  font-size: 18px;
  font-weight: 700;
  color: var(--bx-title-color);
  line-height: 120%;
  margin-bottom: 8px;
}

.testimonial-author .author-info .role {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

/* Slider Controls  */
.owl-carousel.bx-testimonial__slider-2 .owl-dots {
  position: absolute;
  right: 190px;
  bottom: 25px;
  line-height: 0;
  display: flex;
  z-index: 2;
  width: unset !important;
  left: unset !important;
  top: unset !important;
}
.owl-carousel.bx-testimonial__slider-2 .owl-dots span {
  width: 8px;
  height: 8px;
  margin: 0px 16px;
  background: var(--bx-paragraph-color);
  display: block;
  border-radius: 100%;
  position: relative;
  transition: all 0.4s ease;
  opacity: 1;
}
.owl-carousel.bx-testimonial__slider-2
  .owl-dots
  .swiper-pagination-bullet::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid var(--bx-paragraph-color);
  border-radius: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
.owl-carousel.bx-testimonial__slider-2
  span.swiper-pagination-bullet.swiper-pagination-bullet-active,
.owl-carousel.bx-testimonial__slider-2 .swiper-pagination-bullet:hover {
  background: var(--bx-paragraph-color);
}
.owl-carousel.bx-testimonial__slider-2
  span.swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

/* Why Choose  */
.bx-why-choose__content {
  max-width: 720px;
}

.bx-why-choose__content .title {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.4px;
  margin: 0px;
}
.bx-why-choose__content .text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  margin-top: 24px;
}

.bx-why-choose__progress {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 52px;
}

.bx-why-choose__progress .progress-container {
  position: relative;
  width: 178px;
  height: 178px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bx-why-choose__progress .progress-circle {
  transform: rotate(-90deg);
}
.bx-why-choose__progress .progress-bg,
.bx-why-choose__progress .progress {
  fill: none;
  stroke-width: 3;
}
.bx-why-choose__progress .progress-bg {
  stroke: #dee4e4;
}
.bx-why-choose__progress .progress-item {
  text-align: center;
  max-width: 178px;
}
.bx-why-choose__progress .progress {
  stroke: var(--bx-primary-color);
  stroke-linecap: round;
  stroke-dasharray: 314; /* Circumference of the circle */
  stroke-dashoffset: 314; /* Start offset */
  transition: stroke-dashoffset 1s linear;
}
.bx-why-choose__progress .progress-text {
  position: absolute;
  left: auto !important;
  font-size: 26px;
  font-weight: 600;
  color: var(--bx-title-color);
}
.bx-why-choose__progress .progress-item__title {
  font-size: 22px;
  font-weight: 500;
  line-height: 140%;
  color: var(--bx-title-color);
}
.bx-why-choose__image-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 712px;
}
.bx-why-choose__image-wrapper .why-choose-img {
  border-radius: 8px;
  width: 100%;
}
.bx-why-choose__image-wrapper::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 16, 21, 0.45);
  border-radius: 8px;
}
.bx-why-choose__counter {
  text-align: center;
  margin-bottom: 44px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.bx-why-choose__counter::before {
  position: absolute;
  content: "";
  width: 434px;
  height: 10px;
  border-radius: 0;
  background: #ffffff45;
  backdrop-filter: blur(8.199999809265137px);
  z-index: -1;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -50px;
}
.bx-why-choose__counter .circle-overlay {
  position: absolute;
  width: 438px;
  height: 438px;
  border-radius: 438px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(8.199999809265137px);
  z-index: -1;
  left: 50%;
  transform: translate(-50%, 0);
  top: 45px;
}
.bx-why-choose__counter-icon {
  width: 90px;
  height: 90px;
  background: var(--bx-primary-color);
  border-radius: 100%;
  line-height: 94px;
  font-size: 32px;
  color: var(--bx-white-color);
  display: inline-block;
}
.bx-why-choose__counter-desc {
  margin-top: 45px;
}
.bx-why-choose__counter-desc h4 {
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  letter-spacing: -0.88px;
  line-height: 84%;
  margin: 0;
}
.bx-why-choose__counter-desc h4 span {
  color: var(--bx-white-color);
  font-size: 44px;
  font-weight: 500;
  letter-spacing: -0.88px;
  line-height: 38px !important;
  font-family: var(--bx-inter-font) !important;
}
.bx-why-choose__counter-desc p {
  color: rgba(255, 255, 255, 0.85);
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.36px;
  margin-top: 24px;
}

/* Partners  */
.bx-partner__section-head {
  border-bottom: 1px solid rgba(34, 48, 53, 0.17);
  padding-bottom: 40px;
}
.bx-partner__section-head .title {
  color: var(--bx-paragraph-color);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.4px;
  margin: 0;
}
.owl-carousel.bx-partner__slider {
  margin-top: 40px;
}
.bx-partner__item img {
  max-width: 174px;
}

/* Portfolio  */
.bx-portfolio__wrapper {
  margin-top: 40px;
}
.bx-portfolio__item {
  border-radius: 8px;
  border: 1px solid rgba(34, 48, 53, 0.17);
  padding-left: 120px;
  background: #f0f0f0;
}
.bx-portfolio__item:last-child {
  margin: 0;
}
.bx-portfolio__item .portfolio-image {
  min-width: 865px;
  overflow: hidden;
  border-radius: 0px 8px 8px 0px;
}
.bx-portfolio__item .portfolio-image img {
  min-width: 865px;
  border-radius: 0px 8px 8px 0px;
  transition: all 0.3s ease;
}
.bx-portfolio__item:hover .portfolio-image img {
  transform: scale(1.04);
}
.bx-portfolio__item .portfolio-content {
  max-width: 430px;
}
.bx-portfolio__item .portfolio-content .number {
  display: block;
  font-size: 90px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.9px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(34, 48, 53, 0.62);
}
.bx-portfolio__item .portfolio-content .category {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.36px;
  margin-top: 16px;
  display: block;
}
.bx-portfolio__item .portfolio-content .title {
  font-size: 26px;
  font-weight: 600;
  line-height: 120%;
  margin: 0;
  margin-top: 20px;
}

.bx-portfolio__item .portfolio-content .text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  margin-top: 16px;
}
.bx-portfolio__item .portfolio-content .key-ponits {
  margin-top: 32px;
}
.bx-portfolio__item .portfolio-content .key-ponits li {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.bx-portfolio__item .portfolio-content .key-ponits li:last-child {
  margin: 0;
}
.bx-portfolio__item .portfolio-content .key-ponits li i {
  color: #85a6a6;
  position: relative;
  top: 2px;
}
.bx-portfolio__item .portfolio-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--bx-title-color);
  font-weight: 700;
  letter-spacing: -0.32px;
  line-height: 120%;
  margin-top: 48px;
}
.bx-portfolio__item .portfolio-btn:hover {
  color: var(--bx-primary-color);
}
.bx-portfolio__item .portfolio-btn i {
  position: relative;
  top: 2px;
}

/* Text Move  */
.bx-text-move {
  overflow: hidden;
}
.swiper.text-move_slider-reverse {
  margin-top: 40px;
}
.bx-text-move .swiper-slide {
  width: auto !important;
}
.bx-text-move .swiper-wrapper {
  transition-timing-function: linear;
}
.bx-text-slide__item {
  display: flex;
  gap: 58px;
  justify-content: center;
  align-items: center;
}
.bx-text-slide__item .text {
  font-size: 77px;
  font-weight: 900;
  letter-spacing: -3.08px;
  color: var(--bx-title-color);
  line-height: 140%;
}
.bx-text-slide__item .text.text-outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--bx-title-color);
}
.bx-text-slide__item .arrow-img {
  max-width: 50px;
  max-height: 50px;
}

/* Text Move Style 2 */
.bx-text-move__style2 {
  background-color: var(--bx-title-color);
  padding-top: 30px;
}
.bx-text-move__style2 .text.text-outline {
  -webkit-text-stroke-color: var(--bx-white-color);
}

/* Contact  */
.bx-contact {
  padding-top: 60px;
}
.bx-contact::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 17, 17, 0.85);
  z-index: -1;
}
.bx-contact__inner {
  display: flex;
  align-items: center;
  gap: 126px;
}
.bx-contact__image img {
  max-width: 708px;
}
.bx-contact__widget {
  border-radius: 8px;
  background: #f0f0f0;
  padding: 75px;
}
.bx-contact__widget h3 {
  font-size: 40px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.4px;
  margin: 0;
}
.bx-contact__form {
  margin-top: 48px;
}
.bx-contact__form .form-group {
  margin-bottom: 24px;
}
.bx-contact__form .form-group input,
.bx-contact__form .form-group textarea {
  width: 100%;
  height: 48px;
  border: 1px solid rgba(34, 48, 53, 0.17);
  background-color: transparent;
  color: var(--bx-title-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  border-radius: 8px;
}
.bx-contact__form .form-group input:focus,
.bx-contact__form .form-group textarea:focus {
  border: 1px solid var(--bx-primary-color);
}
.bx-contact__form .form-group textarea {
  height: 152px;
}

.bx-contact__form .form-group .nice-select {
  width: 100%;
  height: 48px;
  line-height: 48px;
  background: transparent;
  border: 1px solid rgba(34, 48, 53, 0.17);
  background-color: transparent;
  border-radius: 8px;
  color: #70717e;
  padding-left: 12px;
  font-weight: 400;
}
.bx-contact__form .form-group .nice-select::after {
  border-bottom: 2px solid var(--bx-primary-color);
  border-right: 2px solid var(--bx-primary-color);
}

/* Blog  */
.bx-blog__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.bx-blog__card {
  display: flex;
  gap: 30px;
  padding: 30px;
  border-radius: 8px;
  border: 1px solid rgba(34, 48, 53, 0.25);
  align-items: center;
  transition: all 0.3s ease;
}
.bx-blog__card:hover {
  background: var(--bx-white-color);
  border: 1px solid transparent;
}
.bx-blog__cover {
  min-width: 306px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.bx-blog__cover::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  background: rgba(34, 48, 53, 0.24);
  transition: all 0.3s ease;
  z-index: 1;
}
.bx-blog__cover img {
  max-width: 306px;
  border-radius: 8px;
}
.bx-blog__card:hover .bx-blog__cover img {
  transform: scale(1.04);
}
.bx-blog__meta .category {
  padding: 12px 20px;
  border-radius: 57px;
  border: 1px solid rgba(34, 48, 53, 0.25);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #85a6a6;
  display: inline-block;
}

.bx-blog__meta .category:hover {
  background: var(--bx-primary-color);
  color: var(--bx-white-color);
}
.bx-blog__meta {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 20px;
}
.bx-blog__meta .date {
  color: #85a6a6;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.bx-blog__content .title {
  margin-bottom: 16px;
  font-size: 26px;
  font-weight: 400;
}
.bx-blog__content .title a {
  font-weight: 400;
  line-height: 40px;
}
.bx-blog__content .title a:hover {
  color: var(--bx-primary-color);
  text-decoration: underline;
}
.bx-blog__content .text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}

/* Footer  */
.bx-footer {
  background-color: var(--bx-title-color);
}
.bx-footer .bx-container {
  max-width: 1530px;
}
.mask-img-text {
  font-size: 240px;
  font-weight: 700;
  text-transform: uppercase;
  background: url(../../images/business-home/contact/contact-mask-bg-2.png) 0 0 /
    cover no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 260px;
  letter-spacing: -9.6px;
  margin: 0;
}
.bx-footer__cta {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  padding: 120px 0px;
}
.bx-cta-action__btn a {
  width: 195px;
  height: 195px;
  background: var(--bx-primary-color);
  border-radius: 100%;
  text-align: center;
  display: inline-block;
  transition: all 0.3s ease;
  padding: 68px 12px;
  transition: all 0.3s ease;
  position: relative;
  margin-top: -200px;
}
.bx-cta-action__btn a span {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.32px;
  color: var(--bx-white-color);
  margin-top: 16px;
  transition: all 0.3s ease;
}
.bx-cta-action__btn a:hover {
  background: var(--bx-white-color);
}
.bx-cta-action__btn a:hover span {
  color: var(--bx-primary-color);
}
.bx-cta-action__btn a:hover svg path {
  fill: var(--bx-primary-color);
}

.bx-footer__main {
  display: flex;
  gap: 94px;
  padding: 40px 0px 100px;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.bx-footer__main::before {
  position: absolute;
  content: "";
  width: 732px;
  height: 100%;
  background: #151b1d;
  top: 0;
  left: -195px;
  z-index: -1;
}
.bx-footer__logo img {
  max-width: 142px;
}
.bx-footer__about .text {
  color: rgba(255, 255, 255, 0.56);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  margin-top: 32px;
}

.bx-footer__widget-group {
  display: flex;
  gap: 110px;
}

.bx-footer__widget {
  margin-top: 40px;
}
.footer-mask-img {
  max-width: 372px;
}
.bx-footer__widget.company {
  min-width: 156px;
}
.bx-footer__widget.services {
  min-width: 200px;
}
.bx-footer__widget.f-newsletter {
  min-width: 340px;
}

.bx-footer__social-wrapper .widget-title {
  margin-bottom: 20px !important;
}
.bx-footer__social li {
  display: inline-block;
  margin-right: 20px;
}
.bx-footer__social li a {
  font-size: 18px;
  color: var(--bx-white-color);
}
.bx-footer__social li a:hover {
  color: var(--bx-primary-color);
}
.bx-footer__social li:last-child {
  margin: 0;
}

.bx-footer__widget .widget-title {
  color: var(--bx-white-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 32px;
}
.bx-footer__widget .widget-text {
  color: rgba(255, 255, 255, 0.78);
  font-size: 17px;
  font-weight: 500;
  line-height: 140%;
}
.bx-footer__widget .list-links li {
  margin-bottom: 28px;
}
.bx-footer__widget .list-links li a {
  color: rgba(255, 255, 255, 0.78);
  font-size: 17px;
  font-weight: 500;
  line-height: 120%;
}
.bx-footer__widget .list-links li:last-child {
  margin: 0;
}
.bx-footer__widget .list-links li a:hover {
  color: var(--bx-primary-color);
}
.bx-footer__contact {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 42px;
}
.bx-footer__contact .contact-item {
  display: flex;
  gap: 16px;
  position: relative;
  align-items: center;
}

.bx-footer__contact .contact-icon img {
  max-width: 28px;
}
.bx-footer__contact .contact-info .label {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.5);
}
.bx-footer__contact .contact-info .links {
  color: var(--bx-white-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
}
.bx-footer__contact .contact-info .links:hover {
  color: var(--bx-primary-color);
}
.bx-footer__contact .contact-item:last-child {
  margin: 0;
}
.bx-footer__social-wrapper {
  margin-top: 40px;
}
.bx-footer__copyright {
  background: #2f3c41;
  padding: 18px 0px;
}

.bx-footer__links {
  text-align: right;
}
.bx-footer__links li {
  display: inline-block;
  padding-right: 20px;
  margin-right: 20px;
  position: relative;
}
.bx-footer__links li::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 18px;
  background: rgba(255, 255, 255, 0.16);
  right: 0;
  top: 4px;
}
.bx-footer__links li:last-child {
  padding: 0;
  margin: 0;
}
.bx-footer__links li:last-child::before {
  display: none;
}
.bx-footer__links li a {
  color: rgba(255, 255, 255, 0.69);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.bx-footer__links li a:hover {
  color: var(--bx-primary-color);
}
.bx-footer__copyright .copyright-text {
  color: rgba(255, 255, 255, 0.69);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.bx-footer__newsletter {
  position: relative;
}
.bx-footer__newsletter form {
  margin-top: 32px;
}
.bx-footer__newsletter .title {
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.48px;
  color: var(--bx-white-color);
  margin-bottom: 28px;
}
.bx-footer__newsletter input {
  width: 100%;
  padding: 20px 30px;
  color: #455151;
  font-weight: 500;
  border: none;
  background: var(--bx-white-color);
  height: 50px;
  border-radius: 57px;
}
.bx-footer__newsletter .bx-btn {
  width: 100%;
  height: 52px;
  margin-top: 20px;
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  /* Header  */
  .bx-header__right {
    gap: 40px;
  }

  /* Hero  */
  .bx-hero__wrapper {
    margin: 0;
  }
  .bx-hero__content {
    max-width: 579px;
  }
  .bx-hero__content .title {
    font-size: 60px;
  }
  .bx-hero__images .element-img-2 {
    right: 0;
  }
  .bx-hero__content .text {
    margin-top: 40px;
  }

  /* About  */
  .bx-about .bx-section-head svg {
    float: initial;
  }
  .bx-about .bx-section-head {
    max-width: 100%;
  }
  .bx-about .bx-about__content {
    max-width: 100%;
  }
  .bx-about__content .title-2 {
    font-size: 60px;
  }
  .bx-about__inner {
    gap: 40px;
  }

  /* Testimonial  */
  .owl-carousel.bx-testimonial__slider-2 {
    padding: 0px 40px;
  }

  /* Why Choose  */
  .bx-why-choose__counter .circle-overlay {
    width: 340px;
    height: 340px;
  }

  /* Portfolio  */
  .bx-portfolio__item .portfolio-image img {
    min-width: 50%;
    border-radius: 8px;
  }
  .bx-portfolio__item .portfolio-image {
    min-width: 50%;
  }
  .bx-portfolio__item {
    padding: 40px;
    gap: 40px;
  }
  .bx-portfolio__item .portfolio-content {
    max-width: 50%;
  }

  /* Contact  */
  .bx-contact__image img {
    max-width: 531px;
  }
  .bx-contact__inner {
    gap: 60px;
  }
  .bx-contact {
    padding: 120px 0px;
  }
  .bx-contact__widget {
    padding: 50px;
  }

  /* Blog  */
  .bx-blog__card {
    display: block;
  }
  .bx-blog__cover img {
    max-width: 100%;
    width: 100%;
  }
  .bx-blog__content {
    margin-top: 40px;
  }

  /* Footer  */
  .bx-footer__widget-group {
    gap: 40px;
  }
  .bx-footer__contact {
    flex-wrap: wrap;
  }
  .bx-footer__main::before {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* Header  */
  .bx-header__btn {
    display: none;
  }

  /* Hero  */
  .bx-hero__wrapper {
    margin: 0;
    padding: 140px 0px 0px;
    display: block;
  }
  .bx-hero__content .title span {
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 0;
  }
  .bx-hero__content .title {
    font-size: 48px;
    line-height: 150%;
  }
  .bx-hero__content .text {
    line-height: 32px;
    margin-top: 12px;
  }
  .bx-hero__images .hero-img {
    max-width: 100%;
  }
  .bx-hero__images {
    margin-top: 40px;
    text-align: center;
  }
  .bx-hero__images .element-img-1 {
    left: 0;
    max-width: 240px;
  }
  .bx-hero__images .element-img-2 {
    right: 0;
    max-width: 240px;
  }
  .bx-hero__bg-text {
    font-size: 200px;
    letter-spacing: 0;
  }

  /* About  */
  .bx-about .bx-section-head__title {
    margin-top: 16px;
  }
  .bx-about .bx-section-head__text {
    line-height: 26px;
    margin-top: 12px;
  }
  .bx-about .bx-about__content {
    max-width: 100%;
  }
  .bx-about .bx-section-head svg {
    float: initial;
    margin-top: 16px;
    right: 0;
    max-width: 124px;
  }
  .bx-about__content .title {
    font-size: 40px;
    line-height: 140%;
  }
  .bx-about__content .title-2 {
    font-size: 32px;
    line-height: 140%;
    margin-top: 24px;
  }
  .bx-about__inner.d-flex-between-top {
    display: block;
  }

  /* Features  */
  .owl-carousel.bx-features__slider {
    padding: 0px 5%;
  }
  .bx-features__item {
    padding-right: 0px;
    margin-right: 24px;
  }
  .features-img img {
    max-height: 300px;
  }
  .features-content h4 {
    font-size: 20px;
  }
  .features-content {
    margin-top: 24px;
  }
  .bx-features__item::before {
    display: none;
  }

  /* Service  */
  .bx-service__inner {
    padding-top: 56px;
    display: block;
  }
  .bx-service__content {
    border-radius: 8px;
    max-width: 100%;
    padding: 24px;
  }
  .bx-service .progress-item {
    margin-bottom: 24px;
  }
  .bx-service .progress-item__label {
    margin-bottom: 12px;
  }
  .bx-service .progress-item__title,
  .bx-service .progress-item__percentage {
    font-size: 18px;
  }
  .bx-service__btn {
    margin-top: 40px;
  }
  .bx-service__image img {
    max-width: 100%;
  }
  .bx-service__image {
    margin-top: 40px;
    text-align: center;
  }

  /* Testimonial  */
  .owl-carousel.bx-testimonial__slider-2 {
    padding: 0;
    padding-bottom: 48px;
  }
  .testimonial-inner .quotation-icon {
    min-width: 80px;
    height: 80px;
    line-height: 80px;
    max-width: 80px;
  }
  .testimonial-inner .quotation-icon img {
    max-width: 24px;
  }
  .testimonial-info .title {
    margin-top: 16px;
    font-size: 32px;
    line-height: 43px;
  }
  .testimonial-inner {
    display: block;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }
  .testimonial-author {
    margin-left: 0;
  }
  .owl-carousel.bx-testimonial__slider-2 .owl-dots {
    position: absolute;
    right: auto;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .testimonial-info {
    margin-top: 24px;
  }
  .owl-carousel.bx-testimonial__slider-2
    .owl-dots
    .swiper-pagination-bullet::before {
    width: 24px;
    height: 24px;
  }
  .owl-carousel.bx-testimonial__slider-2 .owl-dots span {
    margin: 0px 12px;
  }

  /* Why Choose  */
  .bx-why-choose__content {
    max-width: 100%;
  }
  .bx-why-choose__content .title {
    font-size: 38px;
    line-height: 53px;
  }
  .bx-why-choose__content .text {
    margin-top: 16px;
  }
  .bx-why-choose__progress {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 24px;
    gap: 24px;
  }
  .bx-why-choose__progress .progress-circle {
    width: 160px;
    height: 160px;
  }
  .bx-why-choose__progress .progress-container {
    width: 160px;
    height: 160px;
  }
  .bx-why-choose__progress .progress-item {
    max-width: 160px;
  }
  .bx-why-choose__progress .progress-text {
    font-size: 18px;
  }
  .bx-why-choose__inner.d-flex-between {
    display: block;
  }
  .bx-why-choose__inner.d-flex-between {
    display: block;
  }
  .bx-why-choose__image-wrapper {
    margin-top: 80px;
    max-width: 100%;
    max-height: 480px;
  }
  .bx-why-choose__counter .circle-overlay {
    width: 340px;
    height: 340px;
    border-radius: 100%;
    top: 33px;
  }
  .bx-why-choose__counter {
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    bottom: 32px;
  }
  .bx-why-choose__counter-desc {
    margin-top: 24px;
  }
  .bx-why-choose__counter-desc h4 {
    font-size: 40px;
  }
  .bx-why-choose__counter-desc h4 span {
    font-size: 40px;
    line-height: 31px !important;
  }
  .bx-why-choose__counter-desc p {
    margin-top: 12px;
  }
  .bx-why-choose__counter-icon {
    width: 80px;
    height: 80px;
    line-height: 84px;
    font-size: 24px;
  }

  /* Partner  */
  .bx-partner__section-head {
    padding-bottom: 32px;
  }
  .bx-partner__section-head .title {
    font-size: 20px;
  }
  .owl-carousel.bx-partner__slider {
    margin-top: 32px;
  }

  /* Portfolio  */
  .bx-portfolio__item {
    padding: 24px;
    display: block;
    margin-top: 24px;
  }
  .bx-portfolio__item .portfolio-content .number {
    font-size: 56px;
  }
  .bx-portfolio__item .portfolio-image img {
    min-width: 100%;
  }
  .bx-portfolio__item .portfolio-image {
    min-width: 100%;
    border-radius: 8px;
    margin-top: 24px;
  }
  .bx-portfolio__item .portfolio-btn {
    margin-top: 24px;
    font-size: 14px;
  }
  .bx-portfolio__item .portfolio-content .key-ponits {
    margin-top: 16px;
  }
  .bx-portfolio__item .portfolio-content .title {
    font-size: 28px;
    margin-top: 15px;
  }

  /* Text Move  */
  .bx-text-slide__item .text {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0;
  }
  .bx-text-slide__item .arrow-img {
    max-width: 34px;
    max-height: 34px;
  }
  .bx-text-slide__item {
    gap: 32px;
  }
  .swiper.text-move_slider-reverse {
    margin-top: 32px;
  }

  /* Contact  */
  .bx-contact {
    padding: 80px 0px;
  }
  .bx-contact__inner {
    display: block;
  }
  .bx-contact__image {
    text-align: center;
  }
  .bx-contact__image img {
    max-width: 100%;
  }
  .bx-contact__widget {
    padding: 40px;
  }
  .bx-contact__widget h3 {
    font-size: 32px;
  }
  .bx-contact__form {
    margin-top: 24px;
  }

  /* Blog  */
  .bx-blog__wrapper {
    display: grid;
    margin-top: 20px;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
  }
  .bx-blog__cover {
    min-width: 100%;
    width: 100%;
  }
  .bx-blog__card {
    display: block;
    min-width: 100%;
    width: 100%;
    padding: 24px;
  }
  .bx-blog__cover img {
    max-width: 100%;
    border-radius: 8px;
    width: 100%;
  }
  .bx-blog__content .title {
    margin-bottom: 9px;
    font-size: 22px;
  }
  .bx-blog__content .title a {
    line-height: 32px;
  }
  .bx-blog__content .text {
    line-height: 25px;
  }
  .bx-blog__meta .category {
    padding: 8px 12px;
    line-height: 11px;
  }
  .bx-blog__content {
    margin-top: 32px;
  }

  /* Call Action  */
  .bx-footer__cta {
    padding: 56px 0px;
  }
  .mask-img-text {
    font-size: 100px;
    letter-spacing: 0;
  }
  .bx-cta-action__btn a {
    width: 180px;
    height: 180px;
    padding: 48px;
  }
  .bx-cta-action__btn a span {
    font-size: 18px;
  }

  /* Footer  */
  .bx-footer__main {
    display: block;
    padding: 40px 0px 80px;
  }
  .bx-footer__contact {
    flex-wrap: wrap;
  }
  .bx-footer__widget-group {
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .bx-footer__widget .widget-title {
    font-size: 20px;
  }
  .bx-footer__widget .list-links li {
    margin-bottom: 20px;
  }
  .bx-footer__main::before {
    display: none;
  }
  .bx-footer__widget.company {
    min-width: 150px;
  }
  .bx-footer__widget.services {
    min-width: 100%;
  }
  .bx-footer__widget.f-newsletter {
    min-width: 300px;
  }
}

@media only screen and (max-width: 767px) {
  /* Header  */
  .bx-header__btn {
    display: none;
  }

  /* Hero  */
  .bx-hero__wrapper {
    margin: 0;
    padding: 112px 0px 0px;
    display: block;
  }
  .bx-hero__content .title span {
    font-size: 41px;
    font-weight: 800;
    letter-spacing: 0;
  }
  .bx-hero__content .title {
    font-size: 40px;
    line-height: 55px;
  }
  .bx-hero__content .text {
    line-height: 32px;
    margin-top: 12px;
  }
  .bx-hero__images .hero-img {
    max-width: 100%;
  }
  .bx-hero__images {
    margin-top: 40px;
    text-align: center;
  }
  .bx-hero__images .element-img-1 {
    left: 0;
    max-width: 100px;
  }
  .bx-hero__images .element-img-2 {
    right: 0;
    max-width: 150px;
  }
  .bx-hero__bg-text {
    font-size: 200px;
    letter-spacing: 0;
  }

  /* About  */
  .bx-about .bx-section-head__title {
    margin-top: 16px;
  }
  .bx-about .bx-section-head__text {
    line-height: 26px;
    margin-top: 12px;
  }
  .bx-about .bx-about__content {
    max-width: 100%;
  }
  .bx-about .bx-section-head svg {
    float: initial;
    margin-top: 16px;
    right: 0;
    max-width: 124px;
  }
  .bx-about__content .title {
    font-size: 32px;
    line-height: 140%;
  }
  .bx-about__content .title-2 {
    font-size: 28px;
    line-height: 140%;
    margin-top: 24px;
  }
  .bx-about__inner.d-flex-between-top {
    display: block;
  }

  /* Features  */
  .owl-carousel.bx-features__slider {
    padding: 0px 5%;
  }
  .bx-features__item {
    padding-right: 0px;
    margin-right: 12px;
    min-height: 100%;
  }
  .features-img img {
    max-height: 240px;
  }
  .features-content h4 {
    font-size: 16px;
  }
  .features-content {
    margin-top: 24px;
  }
  .bx-features__item::before {
    display: none;
  }

  /* Service  */
  .bx-service__inner {
    padding-top: 56px;
    display: block;
  }
  .bx-service__content {
    border-radius: 8px;
    max-width: 100%;
    padding: 24px;
  }
  .bx-service .progress-item {
    margin-bottom: 24px;
  }
  .bx-service .progress-item__label {
    margin-bottom: 12px;
  }
  .bx-service .progress-item__title,
  .bx-service .progress-item__percentage {
    font-size: 14px;
  }
  .bx-service__btn {
    margin-top: 24px;
  }
  .bx-service__image img {
    max-width: 100%;
  }
  .bx-service__image {
    margin-top: 40px;
    text-align: center;
  }

  /* Testimonial  */
  .owl-carousel.bx-testimonial__slider-2 {
    padding: 0;
    padding-bottom: 48px;
  }
  .testimonial-inner .quotation-icon {
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    max-width: 60px;
  }
  .testimonial-inner .quotation-icon img {
    max-width: 24px;
  }
  .testimonial-info .title {
    margin-top: 16px;
    font-size: 24px;
    line-height: 34px;
  }
  .testimonial-inner {
    display: block;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }
  .testimonial-author {
    margin-left: 0;
  }
  .owl-carousel.bx-testimonial__slider-2 .owl-dots {
    position: absolute;
    right: auto;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .testimonial-info {
    margin-top: 24px;
  }
  .owl-carousel.bx-testimonial__slider-2
    .owl-dots
    .swiper-pagination-bullet::before {
    width: 24px;
    height: 24px;
  }
  .owl-carousel.bx-testimonial__slider-2 .owl-dots span {
    margin: 0px 12px;
  }

  /* Why Choose  */
  .bx-why-choose__content {
    max-width: 100%;
  }
  .bx-why-choose__content .title {
    font-size: 24px;
    line-height: 40px;
  }
  .bx-why-choose__content .text {
    margin-top: 16px;
  }
  .bx-why-choose__progress {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 24px;
    gap: 24px;
  }
  .bx-why-choose__progress .progress-circle {
    width: 140px;
    height: 120px;
  }
  .bx-why-choose__progress .progress-container {
    width: 140px;
    height: 140px;
  }
  .bx-why-choose__progress .progress-item {
    max-width: 140px;
  }
  .bx-why-choose__progress .progress-text {
    font-size: 18px;
  }
  .bx-why-choose__inner.d-flex-between {
    display: block;
  }
  .bx-why-choose__inner.d-flex-between {
    display: block;
  }
  .bx-why-choose__image-wrapper {
    margin-top: 40px;
    max-width: 100%;
  }
  .bx-why-choose__counter .circle-overlay {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    top: 33px;
  }
  .bx-why-choose__counter {
    margin-bottom: 0;
    margin-right: 0;
    top: 0;
    margin-top: 95px;
  }
  .bx-why-choose__counter-desc {
    margin-top: 24px;
  }
  .bx-why-choose__counter-desc h4 {
    font-size: 28px;
  }
  .bx-why-choose__counter-desc h4 span {
    font-size: 28px;
    line-height: 31px !important;
  }
  .bx-why-choose__counter-desc p {
    margin-top: 12px;
  }
  .bx-why-choose__counter-icon {
    width: 80px;
    height: 80px;
    line-height: 84px;
    font-size: 24px;
  }

  /* Partner  */
  .bx-partner__section-head {
    padding-bottom: 24px;
  }
  .bx-partner__section-head .title {
    font-size: 18px;
  }
  .owl-carousel.bx-partner__slider {
    margin-top: 32px;
  }

  /* Portfolio  */
  .bx-portfolio__item {
    padding: 24px;
    display: block;
    margin-top: 24px;
  }
  .bx-portfolio__item .portfolio-content .number {
    font-size: 50px;
  }
  .bx-portfolio__item .portfolio-image img {
    min-width: 100%;
  }
  .bx-portfolio__item .portfolio-image {
    min-width: 100%;
    border-radius: 8px;
    margin-top: 24px;
  }
  .bx-portfolio__item .portfolio-btn {
    margin-top: 24px;
    font-size: 14px;
  }
  .bx-portfolio__item .portfolio-content .key-ponits {
    margin-top: 16px;
  }
  .bx-portfolio__item .portfolio-content .title {
    font-size: 20px;
    margin-top: 15px;
  }

  /* Text Move  */
  .bx-text-slide__item .text {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0;
  }
  .bx-text-slide__item .arrow-img {
    max-width: 24px;
  }
  .bx-text-slide__item {
    gap: 32px;
  }
  .swiper.text-move_slider-reverse {
    margin-top: 24px;
  }

  /* Contact  */
  .bx-contact__inner {
    display: block;
  }
  .bx-contact__image {
    text-align: center;
  }
  .bx-contact__image img {
    max-width: 100%;
  }
  .bx-contact__widget {
    padding: 24px;
  }
  .bx-contact__widget h3 {
    font-size: 24px;
  }
  .bx-contact__form {
    margin-top: 24px;
  }
  .bx-contact {
    padding: 56px 0px;
  }

  /* Blog  */
  .bx-blog__wrapper {
    display: grid;
    margin-top: 20px;
    gap: 24px;
    grid-template-columns: repeat(1, 1fr);
  }
  .bx-blog__cover {
    min-width: 100%;
    width: 100%;
  }
  .bx-blog__cover img {
    max-width: 100%;
    border-radius: 8px;
    width: 100%;
  }
  .bx-blog__card {
    display: block;
    min-width: 100%;
    width: 100%;
    padding: 24px;
  }
  .bx-blog__content .title {
    margin-bottom: 9px;
    font-size: 22px;
  }
  .bx-blog__content .title a {
    line-height: 32px;
  }
  .bx-blog__content .text {
    line-height: 25px;
  }
  .bx-blog__meta .category {
    padding: 8px 12px;
    line-height: 11px;
  }
  .bx-blog__content {
    margin-top: 32px;
  }

  /* Call Action  */
  .mask-img-text {
    font-size: 62px;
    line-height: 120%;
    letter-spacing: 0;
  }
  .bx-cta-action__btn a {
    width: 120px;
    height: 120px;
    padding: 24px;
    margin-top: 0;
  }
  .bx-cta-action__btn a span {
    font-size: 14px;
  }

  /* Footer  */
  .bx-footer__cta {
    padding: 56px 0px;
  }
  .bx-footer__main {
    display: block;
    padding: 16px 0px 56px;
  }
  .bx-footer__contact {
    flex-wrap: wrap;
  }
  .bx-footer__widget-group {
    gap: 24px;
    flex-wrap: wrap;
  }
  .bx-footer__widget.company,
  .bx-footer__widget.services,
  .bx-footer__widget.f-newsletter {
    min-width: 100%;
  }
  .bx-footer__widget .widget-title {
    font-size: 18px;
  }
  .bx-footer__widget .list-links li {
    margin-bottom: 20px;
  }
  .bx-footer__main::before {
    display: none;
  }
}

/*================================================================================================
  End Business Home CSS
===================================================================================================*/
