/*================================================================================================
    Start Main Home CSS
===================================================================================================*/
@import "../reset.css";
@import "../mobile-menu.css";
@import "../header.css";

/* Header  */
.header-main.sticky .bx-header__nav-menu li .active {
  color: var(--bx-white-color);
}

/* Hero  */
.bx-hero {
  overflow: hidden;
}
.bx-hero__slider-items {
  padding-top: 186px;
}
.bx-hero__slider-items::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 17, 17, 0.9);
}

.bx-hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.bx-hero__bg img {
  width: 100% !important;
  height: 100%;
  object-fit: cover;
}
.bx-hero__slider .swiper-slide.swiper-slide-active .bx-hero__bg {
  -webkit-animation: zoomin 25s ease-in infinite;
  animation: zoomin 25s ease-in infinite;
  transition: all 0.5s ease-in-out;
}
.bx-hero__wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: flex-end;
}
.bx-hero__content {
  max-width: 650px;
  margin-bottom: 134px;
}

.bx-hero__content small {
  border-radius: 75px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.15);
  padding: 10px 24px;
  color: var(--bx-white-color);
  font-size: 15px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.15px;
  display: inline-block;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
.bx-hero__slider .swiper-slide.swiper-slide-active .bx-hero__content small {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 700ms;
  -moz-transition-delay: 700ms;
  -ms-transition-delay: 700ms;
  -o-transition-delay: 700ms;
  transition-delay: 700ms;
}

.bx-hero__content h1 {
  color: #fff;
  font-size: 77px;
  font-weight: 500;
  line-height: 91px;
  letter-spacing: -1.54px;
  margin: 0;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
.bx-hero__slider .swiper-slide.swiper-slide-active .bx-hero__content h1 {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1000ms;
  -moz-transition-delay: 1000ms;
  -ms-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
  transition-delay: 1000ms;
}

.bx-hero__content h1 span {
  color: rgba(255, 255, 255, 0.78);
  font-family: Literata;
  font-size: 77px;
  font-style: italic;
  font-weight: 900;
  line-height: 160%;
  letter-spacing: -3.08px;
  display: block;
}
.bx-hero__content-btm {
  gap: 58px;
  align-items: center;
  margin-top: 98px;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 1200ms ease;
  -moz-transition: all 1200ms ease;
  -ms-transition: all 1200ms ease;
  -o-transition: all 1200ms ease;
  transition: all 1200ms ease;
}
.bx-hero__slider .swiper-slide.swiper-slide-active .bx-hero__content-btm {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1000ms;
  -moz-transition-delay: 1000ms;
  -ms-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
  transition-delay: 1000ms;
}
.bx-hero__content-desc p {
  color: rgba(255, 255, 255, 0.85);
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.44px;
}
.bx-hero__content-desc a {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 14px;
  color: var(--bx-primary-color);
  font-weight: 700;
  letter-spacing: -0.32px;
  font-size: 16px;
}
.bx-hero__content-desc a:hover {
  color: var(--bx-white-color);
}
.bx-hero__content-desc a i {
  position: relative;
  top: 3px;
  font-size: 18px;
}
.bx-hero__content-btm svg {
  min-width: 160px;
  transition: all 0.4s ease;
}
.bx-hero__content-btm svg path {
  transition: all 0.4s ease;
}
.bx-hero__content-btm svg:hover path {
  fill: #0f1e1e;
}
.bx-hero__img {
  margin-left: -80px;
  margin-bottom: -2px;
}
.bx-hero__img img {
  width: 760px !important;
  height: 835px;
  object-fit: contain;
}
.bx-hero__counter {
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}
.bx-hero__counter::before {
  position: absolute;
  content: "";
  width: 434px;
  height: 10px;
  border-radius: 0;
  background: #ffffff45;
  backdrop-filter: blur(8.199999809265137px);
  z-index: -1;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -50px;
}
.circle-overlay {
  position: absolute;
  width: 438px;
  height: 438px;
  border-radius: 438px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(8.199999809265137px);
  z-index: -1;
  left: 50%;
  transform: translate(-50%, 0);
  top: 36px;
}
.bx-hero__counter-icon {
  width: 90px;
  height: 90px;
  background: var(--bx-primary-color);
  border-radius: 100%;
  line-height: 94px;
  font-size: 32px;
  color: var(--bx-white-color);
  display: inline-block;
}
.bx-hero__counter-desc {
  margin-top: 45px;
}
.bx-hero__counter-desc h4 {
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  letter-spacing: -0.88px;
  line-height: 84%;
  margin: 0;
}
.bx-hero__counter-desc h4 span {
  color: var(--bx-white-color);
  font-size: 44px;
  font-weight: 500;
  letter-spacing: -0.88px;
  line-height: 38px !important;
  font-family: var(--bx-inter-font) !important;
}
.bx-hero__counter-desc p {
  color: rgba(255, 255, 255, 0.85);
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.36px;
  margin-top: 24px;
}

/* Slider Controls  */
.owl-carousel.bx-hero__slider .owl-controls {
  position: absolute;
  width: 100%;
  bottom: 16px;
}
.owl-carousel.bx-hero__slider .owl-dots {
  position: absolute;
  right: 80px;
  top: 50%;
  line-height: 0;
  transform: translate(0, -50%);
  display: grid;
  z-index: 2;
  bottom: unset !important;
  left: unset !important;
  width: unset !important;
}
.owl-carousel.bx-hero__slider .owl-dots span {
  width: 8px;
  height: 8px;
  margin: 16px 0;
  background: var(--bx-white-color);
  display: block;
  border-radius: 100%;
  position: relative;
  transition: all 0.4s ease;
  opacity: 1;
}
.owl-carousel.bx-hero__slider .owl-dots span::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid var(--bx-white-color);
  border-radius: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
.owl-carousel.bx-hero__slider
  span.swiper-pagination-bullet.swiper-pagination-bullet-active,
.owl-carousel.bx-hero__slider .swiper-pagination-bullet:hover {
  background: var(--bx-white-color);
}
.owl-carousel.bx-hero__slider
  span.swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

/* About  */
.bx-about::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 610px;
  background-color: #f0f0f0;
  top: 0;
  left: 0;
}
.bx-about__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 116px;
}
.bx-about__widget.img-wrapper {
  max-width: 840px;
}
.bx-about__img img {
  max-width: 840px;
  border-radius: 8px;
}
.bx-about__img {
  position: relative;
}
.bx-about__img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 16, 21, 0.65);
  border-radius: 8px;
}
.bx-about__widget {
  position: relative;
}
.bx-about__img-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0px 288px 56px 50px;
}
.bx-about__img-info h3 {
  color: var(--bx-white-color);
  font-size: 48px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: -0.48px;
  margin-bottom: 32px;
}
.bx-about__img-info h3 span {
  font-family: Literata;
  font-style: italic;
  font-weight: 700;
}
.bx-about__img-info p {
  color: rgba(255, 255, 255, 0.85);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}

.bx-about__widget.content-wrapper {
  display: grid;
  gap: 148px;
  grid-template-columns: auto auto;
}

.bx-about__content-title {
  display: inline-block;
  padding: 10px 19px;
  border-radius: 4px;
  background: var(--bx-white-color);
  color: #60726c;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.15px;
  line-height: 15px;
}
.bx-about__trustpilot {
  margin-top: 162px;
}
.bx-about__trustpilot ul li {
  display: inline-block;
  margin-left: -14px;
}

.bx-about__trustpilot ul li img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid var(--bx-white-color);
}

.bx-about__trustpilot ul {
  margin-left: 12px;
}

.bx-about__trustpilot-info {
  margin-top: 24px;
}

.bx-about__trustpilot-info h4 {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--bx-title-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: -0.18px;
}

.bx-about__trustpilot-info h4 img {
  max-width: 96px;
}
.bx-about__trustpilot-info h4 {
  margin-bottom: 14px;
}
.bx-about__trustpilot-info p {
  line-height: 120%;
  color: #748aa0;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}
.bx-about__content-list {
  margin-top: 72px;
}
.bx-about__content-list ul li {
  color: var(--bx-title-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 28px;
  display: flex;
  align-items: center;
}

.bx-about__content-list ul li i {
  margin-right: 10px;
  color: var(--bx-primary-color);
  position: relative;
  top: 2px;
}

.bx-about__circle-btn {
  width: 195px;
  height: 195px;
  background: var(--bx-primary-color);
  border-radius: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 182px;
}
.bx-about__circle-btn:hover {
  background: var(--bx-secondary-color);
}
.bx-about__circle-btn-info {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color: var(--bx-white-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.32px;
}
.bx-about__circle-btn i {
  display: block;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .bx-about__wrapper {
    gap: 60px;
  }
  .bx-about__widget.content-wrapper {
    gap: 100px;
  }
  .bx-about__circle-btn {
    left: 132px;
  }
}

/* Service  */
.bx-service__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.bx-service__slider {
  margin-top: 40px;
}
.bx-service__card {
  position: relative;
  border-radius: 8px;
  border: 1px solid rgba(34, 48, 53, 0.17);
  padding: 40px;
  transition: all 0.3s ease;
}
.bx-service__card:hover {
  border: 1px solid transparent;
}
.bx-service__card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 16, 21, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  border-radius: 8px;
}
.bx-service__card:hover::before {
  opacity: 1;
  visibility: visible;
}
.bx-service__cover {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bx-service__img {
  overflow: hidden;
  border-radius: 100%;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.bx-service__card:hover .bx-service__img {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  transform: scale(0.5);
}
.bx-service__img img {
  max-width: 125px;
  height: 125px;
  border-radius: 100%;
  transition: all 0.3s ease;
  transform: scale(1);
}

.bx-service__card .bx-service__icon {
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  left: 40px;
  top: 40px;
  max-width: 125px;
  height: 125px;
  text-align: center;
  transition: all 0.3s ease;
}
.bx-service__card:hover .bx-service__icon {
  opacity: 1;
  visibility: visible;
}
.bx-service__card .bx-service__icon img {
  transform: scale(0.5);
}
.bx-service__card:hover .bx-service__icon img {
  transform: scale(1);
}
.bx-service__number {
  color: #85a6a6;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.2px;
  transition: all 0.3s ease;
  z-index: 2;
}
.bx-service__card:hover .bx-service__number {
  color: var(--bx-white-color);
}

.bx-service__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  overflow: hidden;
  border-radius: 8px;
}
.bx-service__card:hover .bx-service__image {
  opacity: 1;
  visibility: visible;
}
.bx-service__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.bx-service__card:hover .bx-service__image img {
  transform: scale(1.04);
}
.bx-service__content {
  position: relative;
  margin-top: 162px;
  z-index: 3;
}
.bx-service__content .title {
  font-size: 26px;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-bottom: 16px;
  color: var(--bx-title-color);
}
.bx-service__card:hover .bx-service__content .title {
  color: var(--bx-white-color);
}
.bx-service__content .text {
  font-size: 18px;
  transition: all 0.3s ease;
}
.bx-service__card:hover .bx-service__content .text {
  color: var(--bx-white-color);
}

/* CTA  Description */
.bx-cta-desc__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 264px;
  padding: 0px 85px;
  align-items: center;
}
.bx-cta-desc__content h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -0.4px;
  margin: 0;
  min-width: 685px;
}
.bx-cta-desc__content .text {
  font-size: 20px;
  line-height: 34px;
  letter-spacing: -0.4px;
}
.bx-cta-desc__actions {
  margin-top: 65px;
  display: flex;
  align-items: center;
  gap: 35px;
}
.bx-cta-desc__contact span {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.bx-cta-desc__contact span i {
  color: var(--bx-primary-color);
  position: relative;
  top: 2px;
}
.bx-cta-desc__contact a {
  color: var(--bx-title-color);
  font-family: var(--bx-inter-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 8px;
}
.bx-cta-desc__contact a:hover {
  color: var(--bx-primary-color);
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .bx-cta-desc__inner {
    padding: 0px 40px;
  }
}

/* Text Move  */
.bx-text-move {
  overflow: hidden;
}
.swiper.text-move_slider-reverse {
  margin-top: 40px;
}
.bx-text-move .swiper-slide {
  width: auto !important;
}
.bx-text-move .swiper-wrapper {
  transition-timing-function: linear;
}
.bx-text-slide__item {
  display: flex;
  gap: 58px;
  justify-content: center;
  align-items: center;
}
.bx-text-slide__item .text {
  font-size: 77px;
  font-weight: 900;
  letter-spacing: -3.08px;
  color: var(--bx-title-color);
  line-height: 140%;
}
.bx-text-slide__item .text.text-outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--bx-title-color);
}
.bx-text-slide__item .arrow-img {
  max-width: 50px;
  max-height: 50px;
}

/* Why Choose  */
.bx-why-choose__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 90px;
  margin-top: 50px;
}
.bx-why-choose__slider {
  margin-top: 40px;
}
.bx-why-choose__card .card-content {
  margin-top: 55px;
}
.bx-why-choose__card .title {
  color: var(--bx-white-color);
  font-size: 26px;
  margin-bottom: 30px;
  line-height: 100%;
}
.bx-why-choose__card .text {
  color: rgba(255, 255, 255, 0.75);
  font-size: 20px;
  letter-spacing: -0.4px;
  line-height: 34px;
}

/* Video  */
.bx-video__img {
  position: relative;
  z-index: 2;
}
.bx-video__img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(0, 17, 17, 0.45);
  z-index: 1;
}
.bx-video__img img {
  border-radius: 8px;
}

.bx-video__btn {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  line-height: 150px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  background: #ffffff30;
  backdrop-filter: blur(4px);
  color: var(--bx-white-color) !important;
  border: 1px solid #ffffff57;
  z-index: 2;
  transition: all 0.3s ease;
  margin-left: -70px;
  margin-top: -70px;
}

.bx-video__btn:hover {
  background: var(--bx-white-color);
  border: 1px solid transparent;
  color: var(--bx-primary-color) !important;
}

/* Partners  */
.bx-partner__section-head {
  border-bottom: 1px solid rgba(255, 255, 255, 0.22);
  padding-bottom: 40px;
}
.bx-partner__section-head .title {
  color: rgba(255, 255, 255, 0.75);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.4px;
  font-weight: 400;
  margin: 0;
}
.owl-carousel.bx-partner__slider {
  margin-top: 40px;
}
.bx-partner__item img {
  max-width: 174px;
}

/* Achievements */
.bx-achievements {
  background-color: #f0f0f0;
}
.bx-achievements__funfact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 132px;
}

.funfact-card .icon {
  width: 104px;
  height: 104px;
  background: var(--bx-primary-color);
  border-radius: 100%;
  text-align: center;
  line-height: 104px;
}

.funfact-card .info {
  margin-top: 80px;
}

.funfact-card .title,
.funfact-card .odometer {
  font-size: 77px;
  font-weight: 500;
  letter-spacing: -1.54px;
  line-height: 58px;
  font-family: var(--bx-inter-font);
  margin-bottom: 0px;
  display: flex;
  text-transform: uppercase;
  position: relative;
  top: -3px;
}
.funfact-card .text {
  margin-top: 40px;
  font-size: 22px;
  font-weight: 500;
  line-height: 38px;
}
.bx-achievements__progress {
  margin-left: 112px;
}
.progress-item {
  margin-bottom: 60px;
}
.progress-item:last-child {
  margin: 0;
}
.progress-item__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.progress-item__title,
.progress-item__percentage {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}
.progress-container,
.progress {
  border-radius: 500px;
  position: relative;
  height: 12px;
  width: 100%;
  border: 1px solid var(--bx-primary-color);
  border-radius: 12px;
}
.progress {
  background-color: var(--bx-primary-color);
  width: 0;
  transition: width 0.3s linear;
  height: 12px;
  top: -1px;
  left: 0;
}
.percentage {
  font-size: 0px;
  position: absolute;
  left: 0;
  transition: left 0.3s linear;
}

/* Award  */
.bx-award__section-arrow {
  position: absolute;
  z-index: -1;
  bottom: -70px;
  left: 0;
}
.bx-award__grid {
  display: flex;
  gap: 90px;
}
.bx-award__grid-first img {
  max-width: 460px;
  border-radius: 8px;
}
.bx-award__medal {
  margin-top: 100px;
  display: flex;
}
.bx-award__medal-img img {
  max-width: 214px;
  border-radius: 8px;
}
.bx-award__medal-content {
  margin-left: 100px;
}
.bx-award__medal-content .text {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.36px;
}
.bx-award__medal-list {
  margin-top: 48px;
}
.bx-award__medal-list .title {
  font-size: 26px;
  font-weight: 600;
  margin: 0;
}
.bx-award__medal-icons {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.bx-award__medal-icons img {
  max-width: 80px;
}
.bx-award__desc {
  max-width: 900px;
}

.bx-award__desc .title {
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.4px;
  font-weight: 500;
  margin-bottom: 50px;
}

.bx-award__desc .text {
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.4px;
}

.bx-award__experience {
  background: var(--bx-primary-color);
  padding: 50px 34px;
  min-width: 236px;
  margin-left: 75px;
  text-align: center;
  border-radius: 8px;
  margin-top: -84px;
  height: 290px;
}
.bx-award__experience .title,
.bx-award__experience .odometer {
  font-size: 48px;
  color: var(--bx-white-color);
  font-weight: 800;
  letter-spacing: -0.48px;
  font-family: var(--bx-inter-font);
  line-height: 38px;
  margin: 0;
}

.bx-award__experience .icon {
  margin-bottom: 26px;
}

.bx-award__experience .text {
  margin-top: 26px;
  color: var(--bx-white-color);
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.36px;
  border-radius: 6px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .bx-award__medal-content {
    margin-left: 50px;
  }
}

/* Portfolio */
.bx-portfolio__inner {
  margin-top: 40px;
}
/* .portfolio-row {
  --bs-gutter-y: 1.9rem;
  margin-top: 20px;
} */
.filter-menu {
  border-bottom: 1px solid rgba(34, 48, 53, 0.17);
  text-align: center;
  margin-bottom: 50px;
}
.filter-menu .tab-btn {
  color: var(--bx-paragraph-color);
  font-size: 16px;
  font-weight: 500;
  position: relative;
  padding: 20px 40px;
  line-height: 18px;
}
.filter-menu .tab-btn.active,
.filter-menu .tab-btn:hover {
  color: var(--bx-primary-color);
}
.filter-menu .tab-btn::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 40px;
  background: rgba(34, 48, 53, 0.17);
  right: 0px;
  bottom: 0;
}
.portfolio-card {
  position: relative;
  overflow: hidden;
}

.portfolio-img {
  position: relative;
}
.portfolio-img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  background: rgba(0, 16, 21, 0.65);
  z-index: 1;
  transition: all 0.3s ease;
}
.portfolio-card:hover .portfolio-img::before {
  background: var(--bx-primary-color);
}
.portfolio-img {
  overflow: hidden;
  border-radius: 8px;
}
.portfolio-img img {
  width: 100%;
  height: 524px;
  object-fit: cover;
  border-radius: 8px;
}
.portfolio-card:hover .portfolio-img img {
  transform: scale(1.04);
}
.portfolio-card .arrow-icon {
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 2;
}
.portfolio-card:hover .arrow-icon path {
  fill: var(--bx-white-color);
}
.portfolio-content {
  position: absolute;
  padding: 40px;
  width: 100%;
  height: auto;
  left: 0;
  bottom: 0;
  z-index: 2;
  transition: all 0.3s ease;
  transform: translateY(100px);
}
.portfolio-card:hover .portfolio-content {
  transform: translateY(0px);
}
.portfolio-content .sm-title {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.29);
  display: inline-block;
  color: var(--bx-white-color);
  padding: 6px 18px;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.15px;
}

.portfolio-content .title {
  margin: 0;
  margin-top: 24px;
  color: var(--bx-white-color);
  font-size: 26px;
  font-weight: 600;
  line-height: 120%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.portfolio-content p {
  margin-top: 16px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  transition: all 0.3 ease;
  min-height: 90px;
}

/* Testimonial  */
.owl-carousel.bx-testimonial__slider {
  margin-top: 40px;
}
.bx-testimonial__item {
  border-radius: 8px;
  background: var(--bx-white-color);
  padding: 35px 45px;
}
.bx-testimonial__image {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bx-testimonial__image .clinet-img {
  max-width: 60px;
  border-radius: 100%;
}
.bx-testimonial__image .trustpilot {
  max-width: 108px;
}
.bx-testimonial__content .text {
  font-size: 26px;
  font-weight: 400;
  line-height: 40px;
  font-family: var(--bx-inter-font);
  color: var(--bx-title-color);
}
.bx-testimonial__content {
  margin-top: 50px;
}
.bx-testimonial__info {
  margin-top: 32px;
}
.bx-testimonial__reviews {
  display: flex;
  gap: 12px;
  align-items: center;
  border-top: 1px solid rgba(34, 48, 53, 0.25);
  padding-top: 24px;
  margin-top: 24px;
}
.bx-testimonial__reviews .title {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.78px;
}
.bx-testimonial__info .name {
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
}
.bx-testimonial__info .designation {
  line-height: 120%;
}
.bx-testimonial__reviews .text {
  line-height: 24px;
}

/* Team  */

.bx-team__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 65px 100px;
  margin-left: 340px;
  margin-top: 40px;
}
.bx-team__card {
  text-align: center;
}
.bx-team__head {
  position: relative;
  overflow: hidden;
  margin: auto;
  max-width: 258px;
  max-height: 258px;
  border-radius: 100%;
}
.bx-team__img {
  border-radius: 100%;
  overflow: hidden;
}
.bx-team__img img {
  border-radius: 100%;
  max-width: 258px;
  max-height: 258px;
}
.bx-team__card:hover .bx-team__img img {
  transform: scale(1.08);
}
.bx-team__social {
  display: flex;
  justify-content: center;
  gap: 4px;
  position: absolute;
  left: 50%;
  bottom: -58px;
  transform: translate(-50%, 0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.bx-team__card:hover .bx-team__social {
  bottom: 14px;
}
.bx-team__card:hover .bx-team__social {
  opacity: 1;
  visibility: visible;
}
.bx-team__social li a {
  width: 42px;
  height: 42px;
  background: var(--bx-white-color);
  border-radius: 100%;
  line-height: 42px;
  font-size: 16px;
}

.bx-team__social li a:hover {
  background: var(--bx-primary-color);
  color: var(--bx-white-color);
}

.bx-team__social li a {
  line-height: 47px;
  color: rgba(34, 48, 53, 1);
}
.bx-team__social li:nth-child(1),
.bx-team__social li:nth-child(4) {
  transform: translateY(-22px);
}
.bx-team__content {
  margin-top: 32px;
}
.bx-team__content .name {
  font-size: 24px;
  line-height: 20px;
  margin-bottom: 16px;
}
.bx-team__content .name a {
  font-weight: 600;
  line-height: 120%;
}
.bx-team__card:hover .bx-team__content .name a {
  color: var(--bx-primary-color);
}
.bx-team__content .designation {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .bx-team__wrapper {
    gap: 32px;
  }
}

/* Blog  */
.bx-blog {
  z-index: 2;
}
.bx-blog__section-arrow {
  position: absolute;
  right: 226px;
  top: 0;
  z-index: -1;
}
.bx-blog__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.bx-blog__card {
  display: flex;
  gap: 30px;
  padding: 30px;
  border-radius: 8px;
  border: 1px solid rgba(34, 48, 53, 0.25);
  align-items: center;
  transition: all 0.3s ease;
}
.bx-blog__card:hover {
  background: var(--bx-white-color);
  border: 1px solid transparent;
}
.bx-blog__cover {
  min-width: 306px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.bx-blog__cover::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  background: rgba(34, 48, 53, 0.24);
  transition: all 0.3s ease;
  z-index: 1;
}
.bx-blog__cover img {
  max-width: 306px;
  border-radius: 8px;
}
.bx-blog__card:hover .bx-blog__cover img {
  transform: scale(1.04);
}
.bx-blog__meta .category {
  padding: 12px 20px;
  border-radius: 57px;
  border: 1px solid rgba(34, 48, 53, 0.25);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #85a6a6;
  display: inline-block;
}

.bx-blog__meta .category:hover {
  background: var(--bx-primary-color);
  color: var(--bx-white-color);
}
.bx-blog__meta {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 20px;
}
.bx-blog__meta .date {
  color: #85a6a6;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.bx-blog__content .title {
  margin-bottom: 16px;
  font-size: 26px;
  font-weight: 400;
}
.bx-blog__content .title a {
  font-weight: 400;
  line-height: 40px;
}
.bx-blog__content .title a:hover {
  color: var(--bx-primary-color);
  text-decoration: underline;
}
.bx-blog__content .text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}

/* Call Action  */
.bx-call-action {
  z-index: 2;
  padding-top: 74px;
}
.bx-call-action::before,
.bx-call-action::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.bx-call-action::before {
  width: 54%;
  height: 624px;
  top: 0;
  left: 0;
  background-image: url("../../images/patterns/white-pattern-left.png");
}
.bx-call-action::after {
  width: 50%;
  height: 594px;
  bottom: 0;
  right: 0;
  background-image: url("../../images/patterns/white-pattern-right.png");
}
.bx-call-action .paper-plane {
  position: absolute;
  left: 30%;
  top: 24%;
}
.bx-call-action__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 160px;
}
.bx-call-action__img img {
  max-width: 660px;
}

.bx-call-action__content {
  padding-right: 50px;
}

.bx-call-action__content .sm-title {
  background: #f0f0f0;
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.15px;
  color: #60726c;
  padding: 10px 18px;
  border-radius: 4px;
  display: inline-block;
}

.bx-call-action__content .title {
  margin: 0;
  margin-top: 24px;
  font-size: 48px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -0.48px;
  color: var(--bx-white-color);
}

.bx-call-action__content .text {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: -0.4px;
  color: var(--bx-white-color);
}

.bx-call-action_btn {
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 32px;
}
.bx-call-action_btn .bx-btn,
.bx-call-action_btn .bx-btn.outline-btn:hover {
  background: var(--bx-title-color);
  color: var(--bx-white-color);
}

.bx-call-action_btn .bx-btn.outline-btn,
.bx-call-action_btn .bx-btn:hover {
  background: transparent;
  color: var(--bx-title-color);
  border: 1px solid var(--bx-title-color);
}

/* Footer  */
.bx-footer {
  z-index: 2;
}
.bx-footer::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 17, 17, 0.9);
  z-index: -1;
}
.bx-footer__main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 128px;
  padding: 100px 0px 140px;
}
.bx-footer__widget {
  margin-top: 40px;
}
.bx-footer__widget.bx-footer__about {
  min-width: 465px;
}
.bx-footer__logo img {
  max-width: 142px;
}
.bx-footer__about .title {
  color: var(--bx-white-color);
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
  margin: 0;
  margin-top: 32px;
}
.bx-footer__social {
  margin-top: 56px;
}
.bx-footer__social li {
  display: inline-block;
  align-content: ;
  margin-right: 24px;
}
.bx-footer__social li a {
  font-size: 24px;
  color: var(--bx-white-color);
}
.bx-footer__social li a:hover {
  color: var(--bx-primary-color);
}
.bx-footer__social li:last-child {
  margin: 0;
}
.bx-footer__widget-group {
  min-width: 632px;
}
.bx-footer__widget-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 116px;
}
.bx-footer__widget .widget-title {
  color: var(--bx-white-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 32px;
}
.bx-footer__widget .list-links li {
  margin-bottom: 28px;
}
.bx-footer__widget .list-links li a {
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}
.bx-footer__widget .list-links li:last-child {
  margin: 0;
}
.bx-footer__widget .list-links li a:hover {
  color: var(--bx-primary-color);
}
.bx-footer__widget .contact-item {
  display: flex;
  gap: 24px;
  margin-bottom: 56px;
}
.bx-footer__widget .contact-icon img {
  max-width: 53px;
}
.bx-footer__widget .contact-info .label {
  display: block;
  color: rgba(255, 255, 255, 0.69);
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 10px;
}
.bx-footer__widget .contact-info .links {
  color: var(--bx-white-color);
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
}
.bx-footer__widget .contact-info .links:hover {
  color: var(--bx-primary-color);
}
.bx-footer__widget .contact-item:last-child {
  margin: 0;
}
.bx-footer__copyright-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bx-footer__copyright {
  background: #3c525a;
  padding: 12px 0px;
}
.bx-footer__links li {
  display: inline-block;
  padding-right: 20px;
  margin-right: 20px;
  position: relative;
}
.bx-footer__links li::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 18px;
  background: rgba(255, 255, 255, 0.16);
  right: 0;
  top: 4px;
}
.bx-footer__links li:last-child {
  padding: 0;
  margin: 0;
}
.bx-footer__links li:last-child::before {
  display: none;
}
.bx-footer__links li a {
  color: rgba(255, 255, 255, 0.69);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.bx-footer__links li a:hover {
  color: var(--bx-primary-color);
}
.copyright-text {
  color: rgba(255, 255, 255, 0.69);
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.bx-footer__newsletter {
  margin-top: 64px;
  position: relative;
}
.bx-footer__newsletter input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.19);
  border-radius: 0;
  width: 100%;
  padding: 14px 180px 22px 0px;
  color: var(--bx-white-color);
  font-weight: 400;
}
.bx-footer__newsletter input:focus {
  color: var(--bx-white-color);
}
.bx-footer__newsletter .bx-btn {
  position: absolute;
  right: 0;
  bottom: 10px;
  font-size: 15px;
  padding: 8px 18px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .bx-footer__main {
    gap: 80px;
  }
  .bx-footer__widget-inner {
    gap: 60px;
  }
  .bx-footer__widget.bx-footer__about {
    min-width: 423px;
  }
  .bx-footer__widget-group {
    min-width: 560px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  /* Hero  */
  .bx-hero__img {
    margin-bottom: -80px;
  }

  /* Portfolio  */
  .portfolio-content p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  /* About  */
  .bx-about.pd-top-120 {
    padding: 120px 0px;
  }
  .bx-about__widget.img-wrapper {
    max-width: 600px;
    height: auto;
  }
  .bx-about__img img {
    max-width: 600px;
    height: 100%;
  }
  .bx-about__img-info {
    padding: 56px;
    top: auto;
  }
  .bx-about__img {
    height: 100%;
  }
  .bx-about::before {
    height: 100%;
  }
  .bx-about__circle-btn {
    bottom: -192px;
  }

  /* Service  */
  .bx-service__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  /* CTA Description  */
  .bx-cta-desc__content h3 {
    min-width: 500px;
  }
  .bx-cta-desc__inner {
    gap: 80px;
  }

  /* Why Choose  */
  .bx-why-choose__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Awards  */
  .bx-award__desc {
    max-width: 600px;
  }
  .bx-award__medal {
    margin-top: 40px;
    display: flex;
    gap: 24px;
  }
  .bx-award__experience {
    min-width: 214px;
    margin-left: 0;
    margin-top: 0;
    height: auto;
    position: absolute;
    left: 8%;
    top: 66%;
  }
  .bx-award__medal-content {
    margin: 0;
  }
  .bx-award__medal-img {
    max-width: 214px;
  }

  /* Team  */
  .bx-section-head.style-2 .bx-section-head__title {
    margin-left: 0;
  }
  .bx-team__wrapper {
    margin-left: 0;
  }

  /* Blog  */

  .bx-blog__card {
    display: block;
  }
  .bx-blog__cover img {
    max-width: 100%;
    width: 100%;
  }
  .bx-blog__content {
    margin-top: 40px;
  }

  /* Call Action  */
  .bx-call-action__inner {
    gap: 40px;
  }
  .bx-call-action {
    padding: 80px 0px;
  }
  .bx-call-action__img img {
    max-width: 500px;
  }

  /* Footer  */
  .bx-footer__main {
    grid-template-columns: repeat(2, 1fr);
  }

  .bx-footer__widget.bx-footer__contact {
    margin-top: -160px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* Hero  */
  .bx-hero__slider-items {
    padding-top: 145px;
  }
  .bx-hero__content h1 {
    font-size: 48px;
    line-height: 64px;
  }
  .bx-hero__content h1 br {
    display: none;
  }
  .bx-hero__content h1 span {
    font-size: 48px;
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 0;
  }
  .bx-hero__content-btm {
    margin-top: 40px;
    margin-right: 40px;
  }
  .bx-hero__img {
    margin-left: -176px;
    display: none;
  }
  .bx-hero__content {
    margin: 80px 0px;
    max-width: 100%;
  }
  .circle-overlay {
    width: 300px;
    height: 300px;
  }
  .bx-hero__content-btm svg {
    min-width: 100px;
    max-width: 100px;
  }
  .bx-hero__content-desc p {
    font-size: 18px;
  }
  .bx-hero__content-desc a {
    margin-top: 24px;
  }
  .bx-hero__counter::before {
    width: 100%;
  }
  .bx-hero__counter-desc h4 {
    font-size: 32px;
  }
  .bx-hero__counter-desc {
    margin-top: 32px;
  }
  .bx-hero__counter-icon {
    width: 80px;
    height: 80px;
    line-height: 82px;
    font-size: 24px;
  }

  .bx-hero__counter-desc h4 span {
    font-size: 38px;
  }
  .bx-hero__counter-desc p {
    margin-top: 12px;
  }
  .bx-hero__counter {
    margin-bottom: 30px;
  }

  /* About  */
  .bx-about.pd-top-120 {
    padding: 80px 0px;
  }
  .bx-about__img img {
    width: 100%;
    max-width: 100%;
  }
  .bx-about__wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  .bx-about__img-info {
    padding: 56px;
  }
  .bx-about__img-info h3 {
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 24px;
  }
  .bx-about::before {
    height: 100%;
  }
  .bx-about__circle-btn {
    position: initial;
    margin-top: -80px;
  }
  .bx-about__widget.content-wrapper {
    gap: 40px;
  }
  .bx-about__trustpilot {
    margin-top: 40px;
  }
  .bx-about__content-list {
    margin-top: 40px;
  }
  .bx-about__content-list ul li {
    font-size: 16px;
  }

  /* Service  */
  .bx-service__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .bx-service__content {
    margin-top: 60px;
  }
  .bx-service__content .title {
    font-size: 24px;
    margin-bottom: 12px;
    line-height: 140%;
  }
  .bx-service__img img {
    max-width: 116px;
    height: 116px;
  }

  /* CTA Description  */
  .bx-cta-desc__inner {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    padding: 0;
  }
  .bx-cta-desc__content h3 {
    font-size: 38px;
    line-height: 56px;
    min-width: 100%;
  }
  .bx-cta-desc__actions {
    margin-top: 41px;
  }

  /* Text Move  */
  .bx-text-slide__item .text {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0;
  }
  .bx-text-slide__item .arrow-img {
    max-width: 34px;
    max-height: 34px;
  }
  .bx-text-slide__item {
    gap: 32px;
  }
  .swiper.text-move_slider-reverse {
    margin-top: 32px;
  }

  /* Why Choose  */
  .bx-why-choose__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .bx-why-choose__card .card-content {
    margin-top: 40px;
  }
  .bx-why-choose__card .title {
    font-size: 22px;
    margin-bottom: 16px;
  }
  .bx-why-choose__card .card-icon svg {
    width: 80px;
    height: 80px;
  }

  /* Video  */
  .bx-video__btn {
    width: 100px;
    height: 100px;
    line-height: 110px;
  }

  /* Achievement  */
  .bx-achievements__funfact {
    gap: 40px;
  }
  .funfact-card .title,
  .funfact-card .odometer {
    font-size: 58px;
  }
  .funfact-card .info {
    margin-top: 40px;
  }
  .funfact-card .text {
    margin-top: 24px;
    font-size: 20px;
  }
  .bx-achievements__progress {
    margin-left: 0px;
    margin-top: 40px;
  }

  /* Awards  */
  .bx-award__desc .title {
    font-size: 38px;
    line-height: 56px;
    margin-bottom: 32px;
  }
  .bx-award__medal {
    margin-top: 50px;
    gap: 40px;
    flex-wrap: wrap;
  }
  .bx-award__medal-content {
    margin-left: 0px;
  }
  .bx-award__medal-list {
    margin-top: 32px;
  }
  .bx-award__desc {
    max-width: 100%;
    margin-top: 0px;
  }
  .bx-award__grid-first img {
    max-width: 100%;
  }
  .bx-award__grid {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }
  .bx-award__experience {
    min-width: auto;
    margin-left: 0;
    margin-top: 0;
    height: auto;
  }

  /* Testimonial  */
  .bx-testimonial__item {
    padding: 40px;
  }
  .bx-testimonial__content .text {
    font-size: 24px;
  }

  /* Team  */
  .bx-team__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-left: 0px;
  }
  .bx-team__head {
    margin: auto;
  }

  /* Blog  */
  .bx-blog__wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  /* Call Action  */
  .bx-call-action {
    padding: 80px 0px;
  }
  .bx-call-action__img {
    display: none;
  }
  .bx-call-action__content {
    padding-right: 0;
  }
  .bx-call-action__inner {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  .bx-call-action::after,
  .bx-call-action::before {
    width: 100%;
    height: 100%;
  }
  .bx-call-action .paper-plane {
    display: none;
  }

  /* Footer  */
  .bx-footer__main {
    display: flex;
    gap: 40px;
    padding: 40px 0px 80px;
    flex-wrap: wrap;
  }
  .bx-footer__widget.bx-footer__about {
    min-width: 100%;
  }
  .bx-footer__about .title {
    font-size: 24px;
  }
  .bx-footer__social {
    margin-top: 40px;
  }
  .bx-footer__social li a {
    font-size: 20px;
  }
  .bx-footer__widget-group {
    min-width: 100%;
  }
  .bx-footer__copyright-inner {
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }
}

@media only screen and (max-width: 767px) {
  /* Hero  */
  .bx-hero__slider-items {
    padding-top: 168px;
  }
  .bx-hero__content {
    margin-bottom: 340px;
    margin-top: 56px;
  }
  .bx-hero__content small {
    padding: 8px 16px;
    font-size: 14px;
  }
  .bx-hero__content h1 span {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.92px;
  }
  .bx-hero__content h1 {
    font-size: 40px;
    line-height: 120%;
    margin-top: 16px;
  }
  .bx-hero__content-btm svg {
    display: none;
  }
  .bx-hero__content {
    max-width: 100%;
  }
  .bx-hero__content-btm {
    gap: 0;
    margin-top: 24px;
  }
  .bx-hero__content-desc a {
    margin-top: 16px;
    font-size: 15px;
  }
  .bx-hero__img {
    display: none;
  }
  .owl-carousel.bx-hero__slider .owl-dots {
    position: absolute;
    display: flex;
    left: 50%;
    top: auto;
    bottom: 40px;
    right: auto;
    gap: 24px;
    transform: translate(-50%, 0);
  }
  .owl-carousel.bx-hero__slider .owl-dots span {
    width: 4px;
    height: 4px;
    margin: 0;
  }
  .owl-carousel.bx-hero__slider .owl-dots span::before {
    width: 20px;
    height: 20px;
  }
  .circle-overlay {
    width: 200px;
    height: 200px;
    top: auto;
    bottom: -48px;
  }
  .bx-hero__wrapper {
    position: relative;
  }
  .bx-hero__counter {
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 150px;
  }
  .bx-hero__counter-icon {
    width: 64px;
    height: 64px;
    line-height: 70px;
    font-size: 22px;
  }
  .bx-hero__counter-desc h4 span {
    font-size: 24px;
  }
  .bx-hero__counter-desc {
    margin-top: 5px;
  }
  .bx-hero__counter-desc h4 {
    font-size: 24px;
    letter-spacing: 2.12px;
    line-height: 3px;
  }
  .bx-hero__counter-desc p {
    margin-top: 2px;
  }
  .bx-hero__counter::before {
    display: none;
  }

  /* About  */
  .bx-about.bx-hobble.pd-top-120 {
    padding: 56px 0px;
  }
  .bx-about__img img {
    max-width: 100%;
  }
  .bx-about__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .bx-about__img-info {
    padding: 24px;
  }
  .bx-about__widget.content-wrapper {
    grid-template-columns: auto;
  }
  .bx-about__trustpilot {
    margin-top: 40px;
  }
  .bx-about__content-title {
    padding: 8px 16px;
    font-size: 14px;
    line-height: 11px;
  }
  .bx-about__content-list {
    margin-top: 40px;
  }
  .bx-about::before {
    height: 100%;
  }
  .bx-about__widget.content-wrapper {
    gap: 40px;
  }
  .bx-about__wrapper {
    gap: 40px;
  }
  .bx-about__img-info h3 {
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 1.52px;
    margin-bottom: 12px;
  }
  .bx-about__content-list ul li {
    font-size: 14px;
  }

  .bx-about__circle-btn {
    width: 140px;
    height: 140px;
    position: initial;
    margin: auto;
  }
  .bx-about__circle-btn-info {
    font-size: 14px;
  }

  /* Service  */
  .bx-service__wrapper {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
  }
  .bx-service__slider {
    margin-top: 20px;
  }
  .bx-service__content {
    margin-top: 32px;
  }
  .bx-service__content .title {
    margin-bottom: 12px;
    line-height: 120%;
    font-size: 18px;
  }
  .bx-service__card {
    padding: 24px;
  }
  .bx-service__img img {
    max-width: 100px;
    height: 100px;
  }
  .bx-service__card .bx-service__icon {
    left: 24px;
    top: 24px;
    max-width: 100px;
    height: 100px;
  }

  /* CTA  Description */
  .bx-cta-desc__inner {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    padding: 0;
  }
  .bx-cta-desc__content h3 {
    font-size: 26px;
    line-height: 160%;
    min-width: 100%;
  }
  .bx-cta-desc__content .text {
    line-height: 160%;
  }
  .bx-cta-desc__actions {
    margin-top: 24px;
  }
  .bx-cta-desc__actions {
    gap: 24px;
    flex-wrap: wrap;
  }

  /* Text Move  */
  .bx-text-slide__item .text {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0;
  }
  .bx-text-slide__item .arrow-img {
    max-width: 24px;
  }
  .bx-text-slide__item {
    gap: 32px;
  }
  .swiper.text-move_slider-reverse {
    margin-top: 24px;
  }

  /* Why Choose  */
  .bx-why-choose__wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    margin-top: 20px;
  }
  .bx-why-choose__slider {
    margin-top: 40px;
  }
  .bx-why-choose__card .card-content {
    margin-top: 24px;
  }
  .bx-why-choose__card .title {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .bx-why-choose__card .text {
    line-height: 160%;
  }
  .bx-video__btn {
    width: 60px;
    height: 60px;
    line-height: 66px;
    font-size: 20px;
    margin-left: -30px;
    margin-top: -30px;
  }
  .bx-why-choose__card .card-icon svg {
    width: 80px;
    height: 80px;
  }

  /* Partner  */
  .bx-partner__section-head {
    padding-bottom: 24px;
  }
  .bx-partner__section-head .title {
    font-size: 18px;
  }
  .owl-carousel.bx-partner__slider {
    margin-top: 32px;
  }

  /* Achievements  */
  .bx-achievements__funfact {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
  .funfact-card .icon {
    width: 80px;
    height: 80px;
    line-height: 80px;
  }
  .funfact-card .title,
  .funfact-card .odometer {
    font-size: 40px;
    line-height: 38px;
  }
  .funfact-card .info {
    margin-top: 32px;
  }
  .funfact-card .text {
    margin-top: 16px;
    line-height: 160%;
  }
  .bx-achievements__progress {
    margin-left: 0px;
    margin-top: 40px;
  }
  .progress {
    height: 8px;
  }
  .progress-container,
  .progress {
    height: 8px;
  }
  .progress-item {
    margin-bottom: 24px;
  }
  .progress-item__title,
  .progress-item__percentage {
    font-size: 16px;
  }
  .funfact-card .icon svg {
    width: 32px;
    height: 32px;
  }

  /* Awards  */
  .bx-award__grid {
    display: block;
  }
  .bx-award__grid-second {
    margin-top: 24px;
  }
  .bx-award__grid-first img {
    max-width: 100%;
  }
  .bx-award__desc {
    max-width: 100%;
  }
  .bx-award__desc .title {
    font-size: 26px;
    line-height: 140%;
    margin-bottom: 24px;
  }
  .bx-award__desc .text {
    line-height: 30px;
  }
  .bx-award__medal {
    margin-top: 20px;
    display: block;
  }
  .bx-award__medal-img img {
    max-width: 100%;
  }
  .bx-award__medal-content {
    margin-left: 0px;
    margin-top: 24px;
  }
  .bx-award__medal-icons {
    gap: 24px;
    flex-wrap: wrap;
  }
  .bx-award__medal-icons img {
    max-width: 60px;
  }
  .bx-award__experience {
    padding: 40px;
    min-width: 100%;
    margin-left: 0;
    margin-top: 40px;
    height: auto;
  }
  .bx-award__experience .text {
    margin-top: 12px;
    line-height: 20px;
  }
  .bx-award__experience .title,
  .bx-award__experience .odometer {
    font-size: 38px;
    font-weight: 700;
    line-height: 34px;
  }
  .bx-award__experience .icon {
    margin-bottom: 20px;
  }

  /* Portfolio   */
  .bx-portfolio__inner {
    margin-top: 20px;
  }

  .portfolio-row {
    margin-top: 0;
  }

  .filter-menu .tab-btn {
    font-size: 14px;
    padding: 6px 10px;
  }
  .filter-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-bottom: 12px;
    margin-bottom: 40px;
  }
  .filter-menu .tab-btn::before {
    display: none;
  }
  .portfolio-img img {
    height: auto;
  }
  .portfolio-content .sm-title {
    padding: 4px 12px;
    font-size: 12px;
    line-height: 20px;
  }
  .portfolio-content .title {
    margin-top: 16px;
    font-size: 18px;
  }
  .portfolio-content p {
    line-height: 27px;
  }
  .portfolio-content {
    padding: 24px;
  }
  .portfolio-card .arrow-icon {
    right: 30px;
    top: 30px;
    max-width: 40px;
  }
  .portfolio-content {
    bottom: 12px;
  }

  /* Testimonial  */
  .owl-carousel.bx-testimonial__slider {
    margin-top: 20px;
  }
  .bx-testimonial__content .text {
    line-height: 30px;
  }
  .bx-testimonial__item {
    padding: 24px;
  }
  .bx-testimonial__content {
    margin-top: 24px;
  }
  .bx-testimonial__info {
    margin-top: 24px;
  }
  .bx-testimonial__info .name {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .bx-testimonial__reviews .title {
    font-size: 20px;
  }
  .bx-testimonial__reviews .text {
    line-height: 20px;
  }
  .bx-testimonial__reviews {
    padding-top: 16px;
    margin-top: 16px;
  }

  /* Team  */
  .bx-section-head.style-2 .bx-section-head__title {
    margin-left: 0;
    margin-top: 12px;
  }
  .bx-section-head.style-2 .bx-section-head__title br {
    display: none;
  }
  .bx-team__wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    margin-left: 0px;
    margin-top: 20px;
  }
  .bx-team__head {
    margin: auto;
  }
  .bx-team__content {
    margin-top: 24px;
  }
  .bx-team__content .name {
    font-size: 20px;
    margin-bottom: 12px;
  }

  /* Blog  */
  .bx-blog__wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    margin-top: 20px;
  }
  .bx-blog__card {
    padding: 24px;
    display: block;
  }
  .bx-blog__cover {
    min-width: 100%;
  }
  .bx-blog__cover img {
    width: 100%;
    max-width: 100%;
  }
  .bx-blog__meta .category {
    padding: 4px 12px;
    font-size: 12px;
    line-height: 18px;
  }
  .bx-blog__meta {
    gap: 12px;
    margin-bottom: 12px;
  }
  .bx-blog__meta .date {
    font-size: 12px;
  }
  .bx-blog__content .title {
    margin-bottom: 8px;
    font-size: 18px;
  }
  .bx-blog__content .title a {
    line-height: 24px;
  }
  .bx-blog__content .text {
    line-height: 24px;
  }
  .bx-blog__content {
    margin-top: 24px;
  }

  /* Call Action  */
  .bx-call-action__img {
    display: none;
  }
  .bx-call-action__inner {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  .bx-call-action__content {
    padding-right: 0px;
  }
  .bx-call-action__content .sm-title {
    font-size: 12px;
    padding: 5px 16px;
  }
  .bx-call-action__content .title {
    margin-top: 12px;
    font-size: 28px;
    line-height: 40px;
  }
  .bx-call-action__content .text {
    margin-top: 16px;
    line-height: 28px;
  }
  .bx-call-action_btn {
    margin-top: 24px;
    gap: 16px;
    flex-wrap: wrap;
  }
  .bx-call-action {
    padding: 56px 0px;
  }
  .bx-call-action::before {
    width: 100%;
    height: 100%;
  }
  .bx-call-action::after {
    width: 100%;
    height: 100%;
  }
  .bx-call-action .paper-plane {
    left: 33%;
    display: none;
  }

  /* Footer  */
  .bx-footer__main {
    grid-template-columns: repeat(1, 1fr);
    padding: 16px 0px 56px;
  }
  .bx-footer__widget.bx-footer__about {
    min-width: 100%;
  }
  .bx-footer__about .title {
    font-size: 24px;
    margin-top: 24px;
  }
  .bx-footer__social {
    margin-top: 24px;
  }
  .bx-footer__social li {
    margin-right: 22px;
  }
  .bx-footer__social li a {
    font-size: 20px;
  }
  .bx-footer__widget-group {
    min-width: 100%;
  }
  .bx-footer__main {
    gap: 0;
  }
  .bx-footer__widget .widget-title {
    font-size: 18px;
  }
  .bx-footer__widget-inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .bx-footer__newsletter input {
    height: 48px;
  }
  .bx-footer__newsletter {
    margin-top: 40px;
  }
  .bx-footer__widget .contact-icon img {
    max-width: 40px;
  }
  .bx-footer__widget .contact-info .links {
    font-size: 16px;
    line-height: 120%;
  }
  .bx-footer__widget .contact-item {
    margin-bottom: 32px;
  }
  .bx-footer__copyright-inner {
    display: block;
    text-align: center;
  }
  .copyright-text {
    text-align: center;
    margin-top: 12px;
  }
  .bx-footer__links li {
    padding-right: 12px;
    margin-right: 12px;
  }
}

/*================================================================================================
  End Main Home CSS
===================================================================================================*/
