/*================================================================================================
    Start Creative Home CSS
===================================================================================================*/
@import "../reset.css";
@import "../mobile-menu.css";
@import "../header.css";

:root {
  --bx-primary-color: #93ff7d;
  --bx-title-color: #011;
}

.bx-section-head__label {
  background: rgba(0, 17, 17, 0.08);
  color: var(--bx-title-color);
}

.bx-btn {
  background: var(--bx-title-color);
  color: var(--bx-white-color);
}
.bx-btn:hover {
  background: var(--bx-white-color);
  color: var(--bx-title-color);
}

/* Header  */
.bx-header {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 999;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.bx-header__block {
  border-bottom: 0;
}
.header-main.sticky {
  background: #ffffffc2;
}
.header-main.sticky .bx-header__btn .bx-btn:hover {
  background: var(--bx-primary-color);
  color: var(--bx-title-color);
}
.bx-header__inner {
  position: initial;
}
.bx-header__main {
  margin: 0px 10px;
}

.bx-header__logo {
  border-right: 0;
  padding-right: 0px;
  height: auto;
}
.bx-header__right {
  gap: 40px;
}

.bx-header__action {
  gap: 24px;
}
.bx-header__action-btn {
  display: flex;
  align-items: center;
  gap: 16px;
}
.bx-header__search {
  color: var(--bx-title-color);
  width: 44px;
  height: 44px;
  border: 1px solid var(--bx-title-color);
  border-radius: 100%;
  text-align: center;
  line-height: 48px;
  font-size: 18px;
}
.bx-header__search:hover {
  background: var(--bx-title-color);
  color: var(--bx-white-color);
}
.bx-header__nav {
  border-right: none;
  padding: 0;
}
.bx-header__nav-menu li a {
  padding: 35px 0px;
}
.bx-header__nav-menu li a {
  color: var(--bx-title-color) !important;
}
.bx-header__nav-menu li .sub-menu {
  border-top: 2px solid var(--bx-title-color);
}
.bx-searchbar .bx-searchbar-from .bx-btn:hover,
.bx-sidebar-subscribe .bx-btn:hover {
  background: var(--bx-primary-color);
}
.bx-header__nav-menu li .sub-menu li:hover > a,
.bx-header__nav-menu li .sub-menu li.active a,
.header-main.sticky .bx-header__nav-menu li .active {
  color: var(--bx-title-color);
  opacity: 0.8;
}
.bx-header__nav-menu li .sub-menu {
  border-top: 2px solid var(--bx-title-color);
}
.mega-menu__item-action .bx-btn {
  color: var(--bx-title-color) !important;
}
.mega-menu__item-action .bx-btn:hover {
  color: var(--bx-white-color) !important;
}
.offcanvas__sub_menu_item.active,
.offcanvas__menu_item.active,
.offcanvas__sub_menu_item:hover,
.offcanvas__menu_item:hover {
  color: #85a6a6;
}
.offcanvas__sub_menu_toggle::after,
.offcanvas__sub_menu_toggle::before {
  background-color: #85a6a6;
}
.mobile-menu-offcanvas-toggler .line {
  background: var(--bx-title-color);
}

/* Hero  */
.bx-hero {
  padding-top: 134px;
  overflow: hidden;
}
.bx-hero__inner {
  gap: 266px;
  padding: 0px 20px;
  align-items: self-start;
}
.bx-hero__content {
  max-width: 605px;
  margin-top: 80px;
}
.hero-review-wrapper {
  display: flex;
  align-items: center;
  gap: 14px;
}
.bx-hero__content .title {
  font-size: 77px;
  line-height: 91px;
  color: var(--bx-title-color);
  font-weight: 500;
  letter-spacing: -1.54px;
  margin: 0px;
}
.bx-hero__content .text {
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: -0.44px;
  font-family: var(--bx-inter-font);
  margin-top: 24px;
  color: rgba(0, 17, 17, 0.75);
}
.bx-hero__form form {
  position: relative;
  margin-top: 40px;
}
.bx-hero__form form input {
  width: 100%;
  height: 72px;
  border-radius: 55px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: var(--bx-white-color);
  padding: 20px 180px 20px 34px;
  color: #6e7d8c;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.bx-hero__form form input:focus,
.bx-hero__form form input::placeholder {
  color: #6e7d8c;
}
.bx-hero__form form .bx-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 52px;
}
.bx-hero__form form .bx-btn:hover {
  background: var(--bx-primary-color);
  color: var(--bx-title-color);
}
.h-image-elements {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.hero-main-img {
  max-width: 656px;
}
.h-image-elements .element-1 {
  position: absolute;
  top: 48%;
  left: -28%;
}
.h-image-elements .element-2 {
  position: absolute;
  top: 32%;
}
.h-image-elements .element-3 {
  position: absolute;
  bottom: -24%;
  left: -18%;
}
.h-image-elements .element-4 {
  position: absolute;
  right: -12%;
  bottom: -32%;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .h-image-elements .element-4 {
    right: 0;
  }
}

/* About  */
.bx-about {
  padding: 120px 0px 140px;
}
.bx-about::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 610px;
  background-color: #ebffe7;
  top: 0;
  left: 0;
}
.bx-about__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 116px;
}
.bx-about__img img {
  max-width: 840px;
  border-radius: 8px;
}
.bx-about__img {
  position: relative;
}
.bx-about__img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 17, 17, 0) 15.73%,
    rgba(0, 17, 17, 0.62) 61.73%
  );
  border-radius: 8px;
  bottom: 0;
  left: 0;
}
.bx-about__widget {
  position: relative;
}
.bx-about__img-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0px 288px 56px 50px;
}
.bx-about__img-info h3 {
  color: var(--bx-white-color);
  font-size: 48px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: -0.48px;
  margin-bottom: 32px;
}
.bx-about__img-info p {
  color: rgba(255, 255, 255, 0.85);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}
.bx-about__widget.content-wrapper {
  display: grid;
  gap: 148px;
  grid-template-columns: auto auto;
}
.bx-about__content-title {
  display: inline-block;
  padding: 10px 19px;
  border-radius: 4px;
  background: #d9ecd6;
  color: var(--bx-title-color);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.15px;
  line-height: 15px;
}
.bx-about__trustpilot {
  margin-top: 162px;
}
.bx-about__trustpilot ul li {
  display: inline-block;
  margin-left: -14px;
}

.bx-about__trustpilot ul li img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid var(--bx-white-color);
}

.bx-about__trustpilot ul {
  margin-left: 12px;
}

.bx-about__trustpilot-info {
  margin-top: 24px;
}

.bx-about__trustpilot-info h4 {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--bx-title-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: -0.18px;
}

.bx-about__trustpilot-info h4 img {
  max-width: 96px;
}
.bx-about__trustpilot-info h4 {
  margin-bottom: 14px;
}
.bx-about__trustpilot-info p {
  line-height: 120%;
  color: #748aa0;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}
.bx-about__content-list {
  margin-top: 72px;
}
.bx-about__content-list ul li {
  color: var(--bx-title-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.bx-about__content-list ul li i {
  margin-right: 10px;
  color: var(--bx-primary-color);
  position: relative;
  top: 2px;
}

.bx-about__circle-btn {
  width: 195px;
  height: 195px;
  background: var(--bx-primary-color);
  border-radius: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 182px;
}
.bx-about__circle-btn:hover {
  background: var(--bx-secondary-color);
}
.bx-about__circle-btn-info {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color: var(--bx-title-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.32px;
  transition: all 0.4s ease;
}
.bx-about__circle-btn:hover .bx-about__circle-btn-info {
  color: var(--bx-white-color);
}
.bx-about__circle-btn i {
  display: block;
}
.bx-about__counter-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  margin-top: 140px;
  padding: 0px 60px;
}
.bx-about .single-counter {
  display: flex;
  align-items: center;
  gap: 16px;
  z-index: 2;
}
.bx-about .single-counter h4 {
  margin: 0;
  font-size: 76px;
  line-height: 70px;
  color: var(--bx-title-color);
  font-weight: 500;
}
.bx-about .single-counter .odometer.odometer-auto-theme,
.bx-about .single-counter .odometer.odometer-theme-default {
  font-family: var(--bx-inter-font);
  line-height: 70px;
  letter-spacing: -1px;
}
.bx-about .single-counter p {
  font-size: 20px;
  font-family: var(--bx-inter-font);
  font-weight: 400;
  line-height: 34px;
  color: var(--bx-paragraph-color);
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .bx-about__widget.content-wrapper {
    gap: 100px;
  }
  .bx-about__circle-btn {
    left: 132px;
  }
  .bx-about__counter-wrapper {
    gap: 60px;
    padding: 0px;
  }
  .bx-about__top {
    justify-content: space-around;
  }
  .bx-about__wrapper {
    gap: 60px;
  }
}

/* Service  */
.bx-service {
  background-color: #eaffe6;
}
.bx-service .bx-section-head {
  align-items: end;
}
.bx-service .bx-section-head__btn .bx-btn {
  background: var(--bx-primary-color);
  color: var(--bx-title-color);
}
.bx-service .bx-section-head__btn .bx-btn:hover {
  background: var(--bx-title-color);
  color: var(--bx-white-color);
}
.bx-service .bx-section-head__text {
  margin: 0;
  color: var(--bx-title-color);
}
.bx-service .bx-section-head__btn {
  margin-top: 32px;
}
.bx-section-head__info.two {
  max-width: 480px;
}

.bx-service__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.bx-service__card {
  background: var(--bx-white-color);
  border-radius: 6px;
  border: 1px solid rgba(12, 54, 3, 0.17);
  display: flex;
  align-items: center;
  gap: 75px;
  padding: 60px 60px 60px 67px;
  transition: all 0.3s ease;
}
.bx-service__card:hover {
  transform: translateY(-5px);
}
.bx-service__icon img {
  max-width: 118px;
}
.bx-service__content .title {
  font-size: 26px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 16px;
}
.bx-service__content .text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}
.bx-service__content a {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.32px;
  color: var(--bx-title-color);
  margin-top: 24px;
}
.bx-service__content a i {
  position: relative;
  top: 2px;
  font-size: 18px;
}

/* Why Choose  */
.bx-why-choose__inner {
  gap: 160px;
  padding: 0px 24px;
}
.bx-why-choose__image {
  margin-bottom: 40px;
}
.bx-why-choose__image .image-elements {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}
.bx-why-choose__image .image-elements .element-1 {
  position: absolute;
  bottom: 45px;
  left: 45px;
}
.bx-why-choose__image .image-elements .element-2 {
  position: absolute;
  bottom: -37px;
  right: -48px;
}
.bx-why-choose__image img {
  max-width: 700px;
  border-radius: 6px;
}
.w-choose-content {
  max-width: 708px;
  min-width: 708px;
}
.w-choose-content .faq-inner {
  margin-top: 50px;
}
.w-choose-content .accordion-item {
  margin-bottom: 32px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(34, 48, 53, 0.17);
  border-radius: 0 !important;
}
.w-choose-content .accordion-item:last-child {
  margin: 0;
}
.w-choose-content .accordion-item .accordion-button {
  background: transparent;
  color: var(--bx-title-color);
  padding: 0 0 20px;
  border-radius: 8px !important;
  box-shadow: none;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}
.w-choose-content .accordion-item .accordion-button:not(.collapsed) {
  box-shadow: none;
  border-bottom: none !important;
  padding-bottom: 32px;
}
.w-choose-content .accordion-item .accordion-button:focus {
  box-shadow: none;
}
.w-choose-content .accordion-item .accordion-button svg {
  position: absolute;
  right: 4px;
  top: 12px;
}
.w-choose-content .accordion-body {
  padding: 0 0 32px;
  border-radius: 0px 0px 8px 8px;
  transition: all 0.4s ease;
}
.w-choose-content .accordion-item .accordion-button::after {
  display: none;
}
.w-choose-action {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 40px;
}
.w-choose-action .bx-btn {
  background: var(--bx-primary-color);
  color: var(--bx-title-color);
}
.w-choose-action .bx-btn:hover {
  background: var(--bx-title-color);
  color: var(--bx-white-color);
}
.w-choose-contact p {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
}
.w-choose-contact p i {
  color: var(--bx-title-color);
  position: relative;
  top: 2px;
}
.w-choose-contact a {
  font-size: 18px;
  font-weight: 700;
  color: var(--bx-title-color);
  line-height: 120%;
  margin-top: 4px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .bx-why-choose__inner {
    gap: 80px;
    padding: 0;
  }
  .bx-why-choose__image img {
    max-width: 640px;
  }
}

/* Video  */
.bx-video::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: -1;
}
.bx-video__content {
  padding: 490px 0px 100px;
}
.bx-video__content .title {
  font-size: 40px;
  font-weight: 500;
  color: var(--bx-white-color);
  max-width: 600px;
  margin: 0;
  line-height: 140%;
}
.bx-video__player {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.45);
  padding-top: 24px;
}
.bx-video__player .video-content p {
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
  color: var(--bx-white-color);
}
.bx-video__player .video-content span {
  font-size: 16px;
  font-weight: 500;
  line-height: 14px;
  color: var(--bx-white-color);
  display: block;
  margin-top: 16px;
}
.bx-video__player .bx-video__btn {
  width: 76px;
  height: 76px;
  line-height: 82px;
  font-size: 20px;
  border-radius: 100%;
  text-align: center;
  background: #ffffff30;
  backdrop-filter: blur(4px);
  color: var(--bx-white-color) !important;
  border: 1px solid #ffffff57;
  z-index: 2;
  transition: all 0.3s ease;
}
.bx-video__player .bx-video__btn:hover {
  background: var(--bx-white-color);
  color: var(--bx-title-color) !important;
  border: 1px solid transparent;
}

/* Partners  */
.bx-partner__section-head {
  border-bottom: 1px solid rgba(34, 48, 53, 0.17);
  padding-bottom: 40px;
}
.bx-partner__section-head .title {
  color: var(--bx-paragraph-color);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.4px;
  margin: 0;
}
.owl-carousel.bx-partner__slider {
  margin-top: 40px;
}
.bx-partner__item img {
  max-width: 174px;
}

/* Features  */
.bx-features__item {
  display: flex;
  align-items: center;
  gap: 140px;
}
.bx-features__item.two {
  margin-top: 110px;
}
.features-img img {
  max-width: 600px;
  border-radius: 6px;
}
.bx-features__item .features-content {
  max-width: 556px;
  min-width: 556px;
}
.bx-features__item .bx-section-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding-bottom: 30px;
}
.bx-features__item .bx-section-head__text {
  color: var(--bx-paragraph-color);
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.36px;
  margin-top: 16px;
}
.features-list li {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--bx-paragraph-color);
  font-size: 18px;
  letter-spacing: -0.36px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 12px;
}
.features-list li:last-child {
  margin: 0;
}
.features-list li i {
  color: var(--bx-title-color);
  position: relative;
  top: 2px;
}

/* Text Move  */
.bx-text-move {
  overflow: hidden;
}
.swiper.text-move_slider-reverse {
  margin-top: 40px;
}
.bx-text-move .swiper-slide {
  width: auto !important;
}
.bx-text-move .swiper-wrapper {
  transition-timing-function: linear;
}
.bx-text-slide__item {
  display: flex;
  gap: 58px;
  justify-content: center;
  align-items: center;
}
.bx-text-slide__item .text {
  font-size: 77px;
  font-weight: 400;
  letter-spacing: -3.08px;
  color: var(--bx-title-color);
  line-height: 140%;
}
.bx-text-slide__item .text.text-outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--bx-title-color);
}
.bx-text-slide__item .arrow-img {
  max-width: 50px;
  max-height: 50px;
}

/* Pricing  */
.bx-pricing__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 32px;
}
.pricing-card {
  border: 1px solid rgba(34, 48, 53, 0.17);
  margin-top: 40px;
}
.pricing-card .pricing-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(34, 48, 53, 0.17);
  padding: 24px 50px;
}
.pricing-card .pricing-head .title {
  margin: 0;
}
.pricing-card .pricing-head .title {
  margin: 0;
  color: var(--bx-title-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 3.6px;
}
.pricing-inner {
  padding: 40px 50px;
}
.pricing-middle .price {
  display: flex;
  gap: 10px;
  margin-bottom: 24px;
}
.pricing-middle .price .amount {
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.48px;
  color: var(--bx-title-color);
  display: block;
}
.pricing-middle .price .currency {
  color: var(--bx-title-color);
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
  font-family: var(--bx-inter-font);
  position: relative;
  top: 7px;
}
.pricing-middle .price .amount {
  font-family: var(--bx-inter-font);
}
.pricing-middle .price .duration {
  color: #60726c;
  font-size: 15px;
  font-weight: 500;
  line-height: 120%;
  position: relative;
  top: 32px;
}
.pricing-middle .text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}
.pricing-middle .bx-btn {
  width: 100%;
  height: 52px;
  margin-top: 32px;
  background: transparent;
  border: 1px solid var(--bx-title-color);
  color: var(--bx-title-color);
}
.pricing-middle .bx-btn:hover {
  background: var(--bx-title-color);
  color: var(--bx-white-color);
  border: 1px solid transparent;
}
.pricing-features {
  margin-top: 40px;
}
.pricing-features .title {
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.36px;
  margin-bottom: 24px;
  color: var(--bx-title-color);
}
.pricing-features .features-list li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--bx-paragraph-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

.pricing-features .features-list li:last-child {
  margin: 0;
}
.pricing-card.popular {
  border: 1px solid rgba(0, 17, 17, 0.15);
  background: var(--bx-primary-color);
}
.pricing-card.popular .pricing-middle .price .duration {
  color: var(--bx-title-color);
}

.pricing-card.popular .pricing-middle .text {
  color: var(--bx-title-color);
}
.pricing-card.popular .pricing-middle .bx-btn {
  background: var(--bx-title-color);
  color: var(--bx-white-color);
}
.pricing-card.popular .pricing-middle .bx-btn:hover {
  background: transparent;
  border: 1px solid var(--bx-title-color);
  color: var(--bx-title-color);
}
.pricing-card.popular .pricing-features .features-list li {
  color: var(--bx-title-color);
}

/* Testimonial  */
.bx-testimonial {
  background-color: #eaffe6;
}
.owl-carousel.bx-testimonial__slider {
  margin-top: 40px;
}
.bx-testimonial__item {
  border-radius: 8px;
  background: var(--bx-white-color);
  padding: 35px 45px;
}
.bx-testimonial__image {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bx-testimonial__image .clinet-img {
  max-width: 60px;
  border-radius: 100%;
}
.bx-testimonial__image .trustpilot {
  max-width: 108px;
}
.bx-testimonial__content .text {
  font-size: 26px;
  font-weight: 400;
  line-height: 40px;
  font-family: var(--bx-inter-font);
  color: var(--bx-title-color);
}
.bx-testimonial__content {
  margin-top: 50px;
}
.bx-testimonial__info {
  margin-top: 32px;
}
.bx-testimonial__reviews {
  display: flex;
  gap: 12px;
  align-items: center;
  border-top: 1px solid rgba(34, 48, 53, 0.25);
  padding-top: 24px;
  margin-top: 24px;
}
.bx-testimonial__reviews .title {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.78px;
  color: var(--bx-title-color);
}
.bx-testimonial__info .name {
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
}
.bx-testimonial__info .designation {
  line-height: 120%;
}
.bx-testimonial__reviews .text {
  line-height: 24px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .bx-testimonial__item {
    padding: 24px 32px;
  }
}

/* Blog  */
.bx-blog {
  background-color: #f6f6f6;
}
.bx-blog .bx-section-head {
  align-items: end;
}
.bx-blog .bx-section-head__btn .bx-btn {
  background: var(--bx-title-color);
  color: var(--bx-white-color);
}
.bx-blog .bx-section-head__btn .bx-btn:hover {
  background: var(--bx-primary-color);
  color: var(--bx-title-color);
}
.bx-blog .bx-section-head__text {
  margin: 0;
  color: var(--bx-title-color);
}
.bx-blog .bx-section-head__btn {
  margin-top: 32px;
}

.bx-section-head__info.two {
  max-width: 480px;
}

.bx-blog__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.bx-blog__card {
  display: flex;
  gap: 30px;
  padding: 30px;
  border-radius: 8px;
  align-items: center;
  transition: all 0.3s ease;
  background: var(--bx-white-color);
}
.bx-blog__cover {
  min-width: 306px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.bx-blog__cover img {
  max-width: 306px;
  border-radius: 8px;
}
.bx-blog__card:hover .bx-blog__cover img {
  transform: scale(1.04);
}
.bx-blog__meta .category {
  padding: 12px 20px;
  border-radius: 57px;
  font-size: 14px;
  font-weight: 500;
  line-height: 12px;
  color: var(--bx-title-color);
  display: inline-block;
  border: 1px solid rgba(34, 48, 53, 0.25);
}

.bx-blog__meta .category:hover {
  background: var(--bx-primary-color);
  color: var(--bx-title-color);
  border: 1px solid transparent;
}
.bx-blog__meta {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 20px;
}
.bx-blog__meta .date {
  color: var(--bx-title-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.bx-blog__content .title {
  margin-bottom: 16px;
  font-size: 26px;
  font-weight: 400;
}
.bx-blog__content .title a {
  font-weight: 400;
  line-height: 40px;
  color: var(--bx-title-color);
}
.bx-blog__content .title a:hover {
  text-decoration: underline;
}
.bx-blog__content .text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  color: var(--bx-paragraph-color);
}

/* Call Action  */
.bx-call-action {
  background-color: var(--bx-primary-color);
  overflow: hidden;
}
.bx-call-action__shapes {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.bx-call-action__shapes .shape {
  position: absolute;
  left: 8%;
  top: 20%;
}
.bx-call-action__shapes .shape-2 {
  position: absolute;
  right: -8%;
  bottom: -39%;
}
.bx-call-action__content {
  padding: 0px 66px;
}
.bx-call-action__content .sm-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.15px;
  color: var(--bx-white-color);
  padding: 10px 18px;
  border-radius: 4px;
  display: inline-block;
  background: var(--bx-title-color);
}

.bx-call-action__content .title {
  margin: 0;
  margin-top: 24px;
  font-size: 48px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -0.48px;
  color: var(--bx-title-color);
}

.bx-call-action__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 32px;
}
.bx-call-action__btn .bx-btn,
.bx-call-action__btn .bx-btn.outline-btn:hover {
  background: var(--bx-title-color);
  color: var(--bx-white-color);
  border: 1px solid transparent;
}
.bx-call-action__btn .bx-btn.outline-btn,
.bx-call-action__btn .bx-btn:hover {
  background: transparent;
  color: var(--bx-title-color);
  border: 1px solid var(--bx-title-color);
}

/* Footer  */
.bx-footer {
  z-index: 2;
  background-color: #001111;
}

.bx-footer__main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 128px;
  padding: 100px 0px 140px;
}
.bx-footer__widget {
  margin-top: 40px;
}
.bx-footer__widget.bx-footer__about {
  min-width: 465px;
}
.bx-footer__logo img {
  max-width: 142px;
}
.bx-footer__about .title {
  color: var(--bx-white-color);
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
  margin: 0;
  margin-top: 32px;
}
.bx-footer__social {
  margin-top: 56px;
}
.bx-footer__social li {
  display: inline-block;
  align-content: ;
  margin-right: 24px;
}
.bx-footer__social li a {
  font-size: 24px;
  color: var(--bx-white-color);
}
.bx-footer__social li a:hover {
  color: var(--bx-primary-color);
}
.bx-footer__social li:last-child {
  margin: 0;
}
.bx-footer__widget-group {
  min-width: 632px;
}
.bx-footer__widget-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 116px;
}
.bx-footer__widget .widget-title {
  color: var(--bx-white-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 32px;
}
.bx-footer__widget .list-links li {
  margin-bottom: 28px;
}
.bx-footer__widget .list-links li a {
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}
.bx-footer__widget .list-links li:last-child {
  margin: 0;
}
.bx-footer__widget .list-links li a:hover {
  color: var(--bx-primary-color);
}
.bx-footer__widget .contact-item {
  display: flex;
  gap: 24px;
  margin-bottom: 56px;
}
.bx-footer__widget .contact-icon img {
  max-width: 53px;
}
.bx-footer__widget .contact-info .label {
  display: block;
  color: rgba(255, 255, 255, 0.69);
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 10px;
}
.bx-footer__widget .contact-info .links {
  color: var(--bx-white-color);
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
}
.bx-footer__widget .contact-info .links:hover {
  color: var(--bx-primary-color);
}
.bx-footer__widget .contact-item:last-child {
  margin: 0;
}
.bx-footer__copyright {
  background: #000000;
  padding: 12px 0px;
}
.bx-footer__copyright-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bx-footer__links li {
  display: inline-block;
  padding-right: 20px;
  margin-right: 20px;
  position: relative;
}
.bx-footer__links li::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 18px;
  background: rgba(255, 255, 255, 0.16);
  right: 0;
  top: 4px;
}
.bx-footer__links li:last-child {
  padding: 0;
  margin: 0;
}
.bx-footer__links li:last-child::before {
  display: none;
}
.bx-footer__links li a {
  color: rgba(255, 255, 255, 0.69);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.bx-footer__links li a:hover {
  color: var(--bx-primary-color);
}
.copyright-text {
  color: rgba(255, 255, 255, 0.69);
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.bx-footer__newsletter {
  margin-top: 64px;
  position: relative;
}
.bx-footer__newsletter input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.19);
  border-radius: 0;
  width: 100%;
  padding: 14px 180px 22px 0px;
  color: var(--bx-white-color);
  font-weight: 400;
}
.bx-footer__newsletter input:focus {
  color: var(--bx-white-color);
}
.bx-footer__newsletter .bx-btn {
  position: absolute;
  right: 0;
  bottom: 10px;
  font-size: 15px;
  padding: 8px 18px;
  background: var(--bx-white-color);
  color: var(--bx-title-color);
  transition: all 0.3s ease;
}
.bx-footer__newsletter .bx-btn:hover {
  background: var(--bx-primary-color);
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .bx-footer__main {
    gap: 80px;
  }
  .bx-footer__widget-inner {
    gap: 60px;
  }
  .bx-footer__widget.bx-footer__about {
    min-width: 423px;
  }
  .bx-footer__widget-group {
    min-width: 560px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  /* Hero  */
  .bx-hero {
    padding-top: 110px;
  }
  .bx-hero__inner {
    gap: 160px;
  }
  .bx-hero__content {
    max-width: 520px;
    margin-top: 60px;
  }
  .bx-hero__content .title {
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -1.2px;
  }
  .bx-hero__content .text {
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
  }
  .bx-hero__form form {
    margin-top: 35px;
  }
  .bx-hero__form form input {
    padding: 18px 230px 18px 30px;
  }
  .hero-main-img {
    max-width: 550px;
  }
  .h-image-elements .element-1 {
    left: -20%;
    max-width: 90px;
  }
  .h-image-elements .element-3 {
    left: -10%;
    max-width: 80px;
  }
  .h-image-elements .element-4 {
    right: -8%;
    max-width: 80px;
  }
  .h-image-elements .element-2 {
    max-width: 80px;
  }

  /* About  */
  .bx-about {
    padding: 120px 0px;
  }
  .bx-about__widget.img-wrapper {
    max-width: 600px;
    height: auto;
  }
  .bx-about__img img {
    max-width: 600px;
    height: 100%;
  }
  .bx-about__img-info {
    padding: 56px;
    top: auto;
  }
  .bx-about__img {
    height: 100%;
  }
  .bx-about::before {
    height: 100%;
  }
  .bx-about__circle-btn {
    bottom: -192px;
  }
  .bx-about__counter-wrapper {
    gap: 20px;
    margin-top: 240px;
  }
  .bx-about .single-counter h4 {
    font-size: 65px;
    line-height: 60px;
  }
  .bx-about .single-counter .odometer.odometer-auto-theme,
  .bx-about .single-counter .odometer.odometer-theme-default {
    line-height: 60px;
  }
  .bx-about .single-counter p {
    font-size: 18px;
    line-height: 30px;
  }

  /* Service  */
  .bx-service {
    padding-top: 0;
  }
  .bx-service .bx-section-head {
    gap: 30px;
  }
  .bx-section-head__info.two {
    max-width: 420px;
  }
  .bx-service .bx-section-head__btn {
    margin-top: 25px;
  }
  .bx-service__wrapper {
    gap: 25px;
    margin-top: 35px;
  }
  .bx-service__card {
    gap: 50px;
    padding: 45px 45px 45px 50px;
  }
  .bx-service__icon img {
    max-width: 100px;
  }
  .bx-service__content .title {
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 12px;
  }
  .bx-service__content .text {
    font-size: 16px;
    line-height: 28px;
  }
  .bx-service__content a {
    margin-top: 20px;
  }

  /* Why Choose  */
  .bx-why-choose__inner {
    gap: 80px;
  }
  .bx-why-choose__image img {
    max-width: 540px;
  }
  .w-choose-content {
    max-width: 600px;
    min-width: 500px;
  }

  /* Video  */
  .bx-video__content {
    padding: 450px 0px 90px;
  }
  .bx-video__content .title {
    font-size: 36px;
    max-width: 550px;
  }
  .bx-video__player {
    margin-top: 20px;
    padding-top: 20px;
  }
  .bx-video__player .video-content p {
    font-size: 20px;
  }
  .bx-video__player .video-content span {
    margin-top: 14px;
  }
  .bx-video__player .bx-video__btn {
    width: 70px;
    height: 70px;
    line-height: 76px;
    font-size: 18px;
  }

  /* Features  */
  .bx-features__item {
    gap: 80px;
  }
  .features-img img {
    max-width: 500px;
  }
  .bx-features__item .features-content {
    max-width: 500px;
    min-width: 450px;
  }
  .bx-features__item.two {
    margin-top: 90px;
  }

  /* Pricing  */
  .bx-pricing__wrapper {
    gap: 25px;
  }
  .bx-pricing__shape {
    left: 60px;
    top: 90px;
  }
  .pricing-card .pricing-head {
    padding: 20px 35px;
  }
  .pricing-inner {
    padding: 35px 35px;
  }
  .pricing-middle .price .amount {
    font-size: 42px;
  }
  .pricing-middle .price .currency {
    font-size: 20px;
  }
  .pricing-middle .text {
    font-size: 16px;
    line-height: 26px;
  }
  .pricing-features .title {
    font-size: 17px;
    margin-bottom: 20px;
  }
  .pricing-features .features-list li {
    margin-bottom: 16px;
    font-size: 15px;
  }

  /* Blog  */
  .bx-blog__card {
    display: block;
  }
  .bx-blog__cover img {
    max-width: 100%;
    width: 100%;
  }
  .bx-blog__content {
    margin-top: 40px;
  }

  /* Call Action  */
  .bx-call-action__content {
    padding: 0;
  }
  .bx-call-action__content .title {
    font-size: 36px;
    margin-bottom: 35px;
  }

  /* Footer  */
  .bx-footer__main {
    grid-template-columns: repeat(2, 1fr);
  }
  .bx-footer__widget.bx-footer__contact {
    margin-top: -160px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* Hero  */
  .bx-hero {
    padding-top: 100px;
  }
  .bx-hero__inner {
    flex-direction: column;
    gap: 60px;
    align-items: center;
  }
  .bx-hero__content {
    max-width: 100%;
    margin-top: 40px;
    text-align: center;
  }
  .bx-hero__content .title {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1px;
  }
  .bx-hero__content .text {
    font-size: 18px;
    line-height: 30px;
    margin-top: 16px;
  }
  .bx-hero__form {
    max-width: 600px;
    margin: 0 auto;
  }
  .bx-hero__form form {
    margin-top: 30px;
  }
  .bx-hero__form form input {
    padding: 16px 200px 16px 25px;
  }
  .bx-hero__form form .bx-btn {
    height: 45px;
    padding: 10px 20px;
    font-size: 15px;
  }
  .bx-hero__image {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .hero-main-img {
    max-width: 500px;
  }
  .h-image-elements .element-1 {
    left: -5%;
    top: 40%;
    max-width: 75px;
  }
  .h-image-elements .element-2 {
    top: 10%;
    left: 10%;
    max-width: a70px;
  }
  .h-image-elements .element-3 {
    left: 0;
    bottom: 20%;
    max-width: 70px;
  }
  .h-image-elements .element-4 {
    right: 0;
    bottom: 15%;
    max-width: 70px;
  }

  /* About  */
  .bx-about {
    padding: 80px 0px;
  }
  .bx-about__img img {
    width: 100%;
    max-width: 100%;
  }
  .bx-about__wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  .bx-about__img-info {
    padding: 56px;
  }
  .bx-about__img-info h3 {
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 24px;
  }
  .bx-about::before {
    height: 100%;
  }
  .bx-about__circle-btn {
    position: initial;
    margin-top: -80px;
  }
  .bx-about__widget.content-wrapper {
    gap: 40px;
  }
  .bx-about__trustpilot {
    margin-top: 40px;
  }
  .bx-about__content-list {
    margin-top: 40px;
  }
  .bx-about__content-list ul li {
    font-size: 16px;
  }
  .bx-about__counter-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
    padding: 0;
  }
  .bx-about .single-counter {
    width: 45%;
  }
  .bx-about .single-counter h4 {
    font-size: 60px;
    line-height: 56px;
  }
  .bx-about .single-counter .odometer.odometer-auto-theme,
  .bx-about .single-counter .odometer.odometer-theme-default {
    line-height: 56px;
  }
  .bx-about .single-counter p {
    font-size: 16px;
    line-height: 26px;
  }

  /* Service  */
  .bx-service {
    padding-top: 0;
  }
  .bx-service .bx-section-head {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }
  .bx-section-head__info,
  .bx-section-head__info.two {
    max-width: 100%;
  }
  .bx-service .bx-section-head__btn {
    margin-top: 20px;
  }
  .bx-service__wrapper {
    grid-template-columns: 1fr;
    gap: 25px;
    margin-top: 30px;
  }
  .bx-service__card {
    gap: 40px;
    padding: 40px;
  }
  .bx-service__icon img {
    max-width: 90px;
  }
  .bx-service__content .title {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 10px;
  }
  .bx-service__content .text {
    font-size: 16px;
    line-height: 26px;
  }
  .bx-service__content a {
    margin-top: 18px;
  }

  /* Why Choose  */
  .bx-why-choose__inner {
    flex-direction: column;
    gap: 60px;
    padding: 0 16px;
    align-items: start;
  }
  .bx-why-choose__image img {
    max-width: 100%;
  }
  .w-choose-content {
    max-width: 100%;
    min-width: auto;
  }
  .w-choose-content .faq-inner {
    margin-top: 40px;
  }
  .w-choose-content .accordion-item {
    margin-bottom: 24px;
  }
  .w-choose-content .accordion-item .accordion-button {
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 16px;
  }
  .w-choose-content .accordion-item .accordion-button:not(.collapsed) {
    padding-bottom: 24px;
  }

  /* Video  */
  .bx-video__content {
    padding: 350px 0px 80px;
  }

  .bx-video__content .title {
    font-size: 32px;
    max-width: 500px;
  }

  .bx-video__player {
    margin-top: 18px;
    padding-top: 18px;
    gap: 16px;
  }

  .bx-video__player .video-content p {
    font-size: 18px;
    line-height: 20px;
  }

  .bx-video__player .video-content span {
    font-size: 15px;
    margin-top: 12px;
  }

  .bx-video__player .bx-video__btn {
    width: 65px;
    height: 65px;
    line-height: 70px;
    font-size: 16px;
  }

  /* Features  */
  .bx-features__item {
    flex-direction: column;
    gap: 60px;
    align-items: start;
  }
  .bx-features__item.two {
    flex-direction: column-reverse;
    margin-top: 80px;
  }
  .features-img {
    text-align: center;
  }
  .features-img img {
    max-width: 100%;
  }
  .bx-features__item .features-content {
    max-width: 100%;
    min-width: auto;
  }
  .bx-features__item .bx-section-head {
    padding-bottom: 24px;
  }

  .bx-features__item .bx-section-head__text {
    font-size: 16px;
    line-height: 28px;
  }
  .features-list li {
    font-size: 16px;
    line-height: 28px;
  }

  /* Text Move  */
  .bx-text-slide__item .text {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0;
  }
  .bx-text-slide__item .arrow-img {
    max-width: 34px;
    max-height: 34px;
  }
  .bx-text-slide__item {
    gap: 32px;
  }
  .swiper.text-move_slider-reverse {
    margin-top: 32px;
  }

  /* Pricing  */
  .bx-pricing__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
  .bx-pricing__shape {
    left: 40px;
    top: 80px;
    max-width: 120px;
  }
  .pricing-card {
    margin-top: 30px;
  }
  .pricing-card .pricing-head {
    padding: 20px 30px;
  }
  .pricing-card .pricing-head .title {
    font-size: 14px;
    letter-spacing: 2.5px;
  }
  .pricing-inner {
    padding: 30px;
  }
  .pricing-middle .price .amount {
    font-size: 40px;
  }
  .pricing-middle .price .currency {
    font-size: 18px;
  }
  .pricing-middle .price .duration {
    font-size: 14px;
    top: 30px;
  }
  .pricing-middle .text {
    font-size: 16px;
    line-height: 26px;
  }
  .pricing-middle .bx-btn {
    margin-top: 25px;
    height: 48px;
  }
  .pricing-features {
    margin-top: 35px;
  }
  .pricing-features .title {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .pricing-features .features-list li {
    margin-bottom: 15px;
    font-size: 15px;
  }

  /* Testimonial  */
  .bx-testimonial__item {
    padding: 40px;
  }
  .bx-testimonial__content .text {
    font-size: 24px;
  }

  /* Blog  */
  .bx-blog__wrapper {
    display: grid;
    margin-top: 20px;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
  }
  .bx-blog__cover {
    min-width: 100%;
    width: 100%;
  }
  .bx-blog__card {
    display: block;
    min-width: 100%;
    width: 100%;
    padding: 24px;
  }
  .bx-blog__cover img {
    max-width: 100%;
    border-radius: 8px;
    width: 100%;
  }
  .bx-blog__content .title {
    margin-bottom: 9px;
    font-size: 22px;
  }
  .bx-blog__content .title a {
    line-height: 32px;
  }
  .bx-blog__content .text {
    line-height: 25px;
  }
  .bx-blog__meta .category {
    padding: 8px 12px;
    line-height: 11px;
  }
  .bx-blog__content {
    margin-top: 32px;
  }

  /* Call Action  */
  .bx-call-action__content {
    padding: 0;
  }
  .bx-call-action__content .title {
    font-size: 32px;
    line-height: 130%;
    margin-bottom: 30px;
  }
  .bx-call-action__shapes {
    display: none;
  }

  /* Footer  */
  .bx-footer__main {
    display: flex;
    gap: 40px;
    padding: 40px 0px 80px;
    flex-wrap: wrap;
  }
  .bx-footer__widget.bx-footer__about {
    min-width: 100%;
  }
  .bx-footer__about .title {
    font-size: 24px;
  }
  .bx-footer__social {
    margin-top: 40px;
  }
  .bx-footer__social li a {
    font-size: 20px;
  }
  .bx-footer__widget-group {
    min-width: 100%;
  }
  .bx-footer__copyright-inner {
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }
}

@media only screen and (max-width: 767px) {
  /* Hero  */
  .bx-hero {
    padding-top: 90px;
  }
  .bx-hero__inner {
    flex-direction: column;
    gap: 50px;
    padding: 0px 15px;
  }
  .bx-hero__content {
    max-width: 100%;
    margin-top: 0px;
    text-align: center;
  }
  .bx-hero__content .title {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: -0.8px;
  }
  .bx-hero__content .text {
    font-size: 16px;
    line-height: 28px;
    margin-top: 14px;
  }
  .bx-hero__form form {
    margin-top: 25px;
  }
  .bx-hero__form form input {
    height: 55px;
    padding: 15px 15px 15px 20px;
    font-size: 14px;
    line-height: 24px;
  }
  .bx-hero__form form .bx-btn {
    position: static;
    width: 100%;
    margin-top: 15px;
    height: 45px;
    font-size: 14px;
  }
  .bx-hero__image {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .hero-main-img {
    max-width: 100%;
  }
  .h-image-elements .element-1 {
    left: 0;
    top: 40%;
    max-width: 60px;
  }
  .h-image-elements .element-2 {
    top: 10%;
    left: 10%;
    max-width: 55px;
  }
  .h-image-elements .element-3 {
    left: 5%;
    bottom: 20%;
    max-width: 55px;
  }
  .h-image-elements .element-4 {
    right: 5%;
    bottom: 15%;
    max-width: 55px;
  }

  /* About  */
  .bx-about {
    padding: 56px 0px;
  }
  .bx-about {
    padding: 56px 0px;
  }
  .bx-about__img img {
    max-width: 100%;
  }
  .bx-about__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .bx-about__img-info {
    padding: 24px;
  }
  .bx-about__widget.content-wrapper {
    grid-template-columns: auto;
  }
  .bx-about__trustpilot {
    margin-top: 40px;
  }
  .bx-about__content-title {
    padding: 8px 16px;
    font-size: 14px;
    line-height: 11px;
  }
  .bx-about__content-list {
    margin-top: 40px;
  }
  .bx-about::before {
    height: 100%;
  }
  .bx-about__widget.content-wrapper {
    gap: 40px;
  }
  .bx-about__wrapper {
    gap: 40px;
  }
  .bx-about__img-info h3 {
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 1.52px;
    margin-bottom: 12px;
  }
  .bx-about__content-list ul li {
    font-size: 14px;
  }

  .bx-about__circle-btn {
    width: 140px;
    height: 140px;
    position: initial;
    margin: auto;
  }
  .bx-about__circle-btn-info {
    font-size: 14px;
  }
  .bx-about__counter-wrapper {
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
    padding: 0;
  }
  .bx-about .single-counter {
    width: 100%;
    justify-content: center;
  }
  .bx-about .single-counter h4 {
    font-size: 50px;
    line-height: 46px;
  }
  .bx-about .single-counter .odometer.odometer-auto-theme,
  .bx-about .single-counter .odometer.odometer-theme-default {
    line-height: 46px;
  }
  .bx-about .single-counter p {
    font-size: 16px;
    line-height: 26px;
  }

  /* Service  */
  .bx-service .bx-section-head {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .bx-section-head__info,
  .bx-section-head__info.two {
    max-width: 100%;
  }

  .bx-service .bx-section-head__btn {
    margin-top: 15px;
  }
  .bx-service__wrapper {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 25px;
  }
  .bx-service__card {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    padding: 30px;
  }
  .bx-service__icon img {
    max-width: 80px;
  }
  .bx-service__content .title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .bx-service__content .text {
    font-size: 15px;
    line-height: 26px;
  }
  .bx-service__content a {
    margin-top: 15px;
    font-size: 15px;
  }
  .bx-service__content a i {
    font-size: 16px;
  }

  /* Why Choose  */
  .bx-why-choose__inner {
    flex-direction: column;
    gap: 40px;
    padding: 0 12px;
  }
  .bx-why-choose__image {
    margin: 0 auto 24px;
    text-align: center;
  }
  .bx-why-choose__image img {
    max-width: 100%;
  }
  .bx-why-choose__image .image-elements .element-1 {
    bottom: 10px;
    left: 10px;
    max-width: 120px;
  }
  .bx-why-choose__image .image-elements .element-2 {
    bottom: -15px;
    right: -15px;
    max-width: 160px;
  }
  .w-choose-content {
    max-width: 100%;
    min-width: auto;
  }

  .w-choose-content .faq-inner {
    margin-top: 30px;
  }
  .w-choose-content .accordion-item {
    margin-bottom: 20px;
  }
  .w-choose-content .accordion-item .accordion-button {
    font-size: 16px;
    line-height: 24px;
    gap: 10px;
    padding-bottom: 12px;
  }
  .w-choose-content .accordion-item .accordion-button:not(.collapsed) {
    padding-bottom: 16px;
  }
  .w-choose-content .accordion-body {
    padding-bottom: 20px;
  }
  .w-choose-action {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-top: 32px;
  }
  .w-choose-contact p {
    font-size: 14px;
    line-height: 24px;
  }
  .w-choose-contact a {
    font-size: 16px;
  }

  /* Video  */
  .bx-video__content {
    padding: 250px 0px 60px;
  }
  .bx-video__content .title {
    font-size: 26px;
    max-width: 100%;
    line-height: 130%;
  }
  .bx-video__player {
    margin-top: 15px;
    padding-top: 15px;
    gap: 12px;
  }
  .bx-video__player .video-content p {
    font-size: 16px;
    line-height: 18px;
  }
  .bx-video__player .video-content span {
    font-size: 14px;
    margin-top: 10px;
    line-height: 12px;
  }
  .bx-video__player .bx-video__btn {
    width: 55px;
    height: 55px;
    line-height: 60px;
    font-size: 14px;
  }

  /* Partner  */
  .bx-partner__section-head {
    padding-bottom: 24px;
  }
  .bx-partner__section-head .title {
    font-size: 18px;
  }
  .owl-carousel.bx-partner__slider {
    margin-top: 32px;
  }

  /* Features  */
  .bx-features__item {
    flex-direction: column;
    gap: 40px;
  }
  .bx-features__item.two {
    flex-direction: column-reverse;
    margin-top: 60px;
  }
  .features-img {
    text-align: center;
  }
  .features-img img {
    max-width: 100%;
  }
  .bx-features__item .features-content {
    max-width: 100%;
    min-width: auto;
  }
  .bx-features__item .bx-section-head {
    padding-bottom: 20px;
  }

  .bx-features__item .bx-section-head__text {
    font-size: 15px;
    line-height: 26px;
    margin-top: 12px;
    letter-spacing: -0.3px;
  }
  .features-list {
    margin-top: 20px;
  }
  .features-list li {
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 10px;
    letter-spacing: -0.3px;
  }

  /* Text Move  */
  .bx-text-slide__item .text {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0;
  }
  .bx-text-slide__item .arrow-img {
    max-width: 24px;
  }
  .bx-text-slide__item {
    gap: 32px;
  }
  .swiper.text-move_slider-reverse {
    margin-top: 24px;
  }

  /* Pricing  */
  .bx-pricing__wrapper {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .bx-pricing__shape {
    display: none;
  }
  .pricing-card {
    margin-top: 0px;
  }
  .pricing-card .pricing-head {
    padding: 18px 25px;
  }
  .pricing-card .pricing-head .title {
    font-size: 13px;
    letter-spacing: 2px;
  }
  .pricing-inner {
    padding: 25px;
  }
  .pricing-middle .price {
    gap: 5px;
    margin-bottom: 20px;
  }
  .pricing-middle .price .amount {
    font-size: 36px;
  }
  .pricing-middle .price .currency {
    font-size: 16px;
    top: 5px;
  }
  .pricing-middle .price .duration {
    font-size: 13px;
    top: 25px;
  }
  .pricing-middle .text {
    font-size: 15px;
    line-height: 24px;
  }
  .pricing-middle .bx-btn {
    margin-top: 20px;
    height: 46px;
    font-size: 14px;
  }
  .pricing-features {
    margin-top: 30px;
  }
  .pricing-features .title {
    font-size: 16px;
    margin-bottom: 18px;
  }
  .pricing-features .features-list li {
    margin-bottom: 14px;
    font-size: 14px;
  }

  /* Testimonial  */
  .owl-carousel.bx-testimonial__slider {
    margin-top: 20px;
  }
  .bx-testimonial__content .text {
    line-height: 30px;
  }
  .bx-testimonial__item {
    padding: 24px;
  }
  .bx-testimonial__content {
    margin-top: 24px;
  }
  .bx-testimonial__info {
    margin-top: 24px;
  }
  .bx-testimonial__info .name {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .bx-testimonial__reviews .title {
    font-size: 20px;
  }
  .bx-testimonial__reviews .text {
    line-height: 20px;
  }
  .bx-testimonial__reviews {
    padding-top: 16px;
    margin-top: 16px;
  }

  /* Blog  */
  .bx-blog__wrapper {
    display: grid;
    margin-top: 20px;
    gap: 24px;
    grid-template-columns: repeat(1, 1fr);
  }
  .bx-blog__cover {
    min-width: 100%;
    width: 100%;
  }
  .bx-blog__cover img {
    max-width: 100%;
    border-radius: 8px;
    width: 100%;
  }
  .bx-blog__card {
    display: block;
    min-width: 100%;
    width: 100%;
    padding: 24px;
  }
  .bx-blog__content .title {
    margin-bottom: 9px;
    font-size: 22px;
  }
  .bx-blog__content .title a {
    line-height: 32px;
  }
  .bx-blog__content .text {
    line-height: 25px;
  }
  .bx-blog__meta .category {
    padding: 8px 12px;
    line-height: 11px;
  }
  .bx-blog__content {
    margin-top: 32px;
  }

  /* Call Action  */
  .bx-call-action__content {
    padding: 0;
  }
  .bx-call-action__content .sm-title {
    font-size: 14px;
    margin-bottom: 16px;
  }
  .bx-call-action__content .title {
    font-size: 26px;
    line-height: 130%;
    margin-bottom: 24px;
  }
  .bx-call-action__btn {
    flex-direction: column;
    gap: 16px;
  }
  .bx-call-action__shapes {
    display: none;
  }

  /* Footer  */
  .bx-footer__main {
    grid-template-columns: repeat(1, 1fr);
    padding: 16px 0px 56px;
  }
  .bx-footer__widget.bx-footer__about {
    min-width: 100%;
  }
  .bx-footer__about .title {
    font-size: 24px;
    margin-top: 24px;
  }
  .bx-footer__social {
    margin-top: 24px;
  }
  .bx-footer__social li {
    margin-right: 22px;
  }
  .bx-footer__social li a {
    font-size: 20px;
  }
  .bx-footer__widget-group {
    min-width: 100%;
  }
  .bx-footer__main {
    gap: 0;
  }
  .bx-footer__widget .widget-title {
    font-size: 18px;
  }
  .bx-footer__widget-inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .bx-footer__newsletter input {
    height: 48px;
  }
  .bx-footer__newsletter {
    margin-top: 40px;
  }
  .bx-footer__widget .contact-icon img {
    max-width: 40px;
  }
  .bx-footer__widget .contact-info .links {
    font-size: 16px;
    line-height: 120%;
  }
  .bx-footer__widget .contact-item {
    margin-bottom: 32px;
  }
  .bx-footer__copyright-inner {
    display: block;
    text-align: center;
  }
  .copyright-text {
    text-align: center;
    margin-top: 12px;
  }
  .bx-footer__links li {
    padding-right: 12px;
    margin-right: 12px;
  }
}

/*================================================================================================
  End Creative Home CSS
===================================================================================================*/
