/*================================================================================================
    Start Error 404 CSS
===================================================================================================*/
@import url("reset.css");

.error-area {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-position: 50%;
  background-size: cover;
}

.error-img {
  display: block;
  height: 100vh;
  width: 50%;
  background-position: 50%;
  background-size: cover;
}

.error-inner {
  min-height: 100vh;
  padding: 15px 100px;
  display: flex;
  align-items: center;
  width: 50%;
  position: relative;
  z-index: 1;
  background: rgba(105, 105, 105, 0.33);
  backdrop-filter: blur(48.95000076293945px);
}
.error-inner::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 17, 17, 0.5);
  left: 0;
  top: 0;
  z-index: -1;
}
.error-shape {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.error-content {
  margin-top: 70px;
}
.error-content h3 {
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  color: var(--bx-white-color);
}
.error-content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: -0.4px;
  color: var(--bx-white-color);
}
.error-content .bx-btn {
  margin-top: 48px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .error-content h3 {
    font-size: 40px;
  }
  .error-content p {
    font-size: 18px;
  }
  .error-inner {
    padding: 40px 100px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .error-img {
    width: 40%;
  }
  .error-inner {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .error-img {
    width: 0;
  }
  .error-inner {
    padding: 40px 80px;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .error-img {
    width: 0;
  }
  .error-inner {
    padding: 40px;
    width: 100%;
  }
  .error-content h3 {
    font-size: 28px;
    line-height: 140%;
  }
  .error-content {
    margin-top: 40px;
  }
  .error-content .bx-btn {
    margin-top: 40px;
  }
}

/*================================================================================================
    End Error 404 CSS
===================================================================================================*/
