/*================================================================================================
    Start About CSS
===================================================================================================*/
@import url("reset.css");
@import url("mobile-menu.css");
@import url("global-header.css");
@import url("breadcrumbs.css");
@import url("call-action.css");
@import url("footer.css");

/* About  */
.bx-about__image-container {
  max-width: 1920px;
  margin: auto;
  position: relative;
  bottom: -140px;
}
.bx-about__image {
  position: absolute;
  left: 0;
  bottom: 0;
}
.bx-about__image::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 17, 17, 0.35);
  left: 0;
  top: 0;
  border-radius: 1px 8px 0px 1px;
}
.bx-about__image .about-img {
  max-width: 686px;
  height: 698px;
  border-radius: 1px 8px 0px 1px;
}
.bx-about__image .img-shape {
  position: absolute;
  left: 35px;
  bottom: 46px;
}
.bx-about__inner {
  display: flex;
  gap: 515px;
  z-index: 2;
  position: relative;
}
.bx-about__content {
  max-width: 970px;
}
.bx-about__content .title {
  font-size: 40px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.4px;
  margin: 0;
}
.bx-about__counter {
  display: flex;
  align-items: center;
  gap: 170px;
  margin-top: 60px;
}
.bx-about .counter-card .icon {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  line-height: 80px;
  text-align: center;
  border: 1px solid var(--bx-primary-color);
  transition: all 0.4s ease;
}
.bx-about .counter-card:hover .icon {
  background: var(--bx-primary-color);
  border: 1px solid transparent;
}
.bx-about .counter-card:hover .icon svg path {
  fill: var(--bx-white-color);
}
.bx-about .counter-card .info {
  margin-top: 50px;
}

.bx-about .counter-card .title {
  font-size: 77px;
  font-weight: 500;
  line-height: 91px;
  letter-spacing: -1.54px;
}

.bx-about .counter-card .title,
.bx-about .counter-card .odometer {
  font-size: 77px;
  font-weight: 500;
  letter-spacing: -1.54px;
  line-height: 58px;
  font-family: var(--bx-inter-font);
  margin-bottom: 0px;
  display: flex;
  text-transform: uppercase;
  position: relative;
  top: -3px;
}
.bx-about .counter-card .text {
  margin-top: 12px;
  font-size: 22px;
  font-weight: 500;
  line-height: 38px;
}
.bx-about__btn {
  margin-top: 60px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .bx-about__image .about-img {
    max-width: 500px;
    height: auto;
  }
  .bx-about__content {
    max-width: 100%;
  }
  .bx-about__inner {
    gap: 464px;
  }
  .bx-about__inner .bx-section-head {
    white-space: nowrap;
  }
  .bx-about__image-container {
    bottom: 0;
  }

  .bx-about__image .img-shape {
    max-width: 150px;
  }
}

/* Partners  */
.bx-partner__section-head {
  border-bottom: 1px solid rgba(34, 48, 53, 0.17);
  padding-bottom: 40px;
}
.bx-partner__section-head .title {
  color: var(--bx-paragraph-color);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.4px;
  margin: 0;
}
.owl-carousel.bx-partner__slider {
  margin-top: 40px;
}
.bx-partner__item img {
  max-width: 174px;
}

/* Work Process  */
.bx-work-process {
  overflow: hidden;
}
.bx-work-process__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 116px;
  padding-left: 485px;
}
.w-process-card {
  position: relative;
}
.w-process-card.card-1 {
  margin-top: 190px;
}
.w-process-card.card-2 {
  margin-top: 115px;
}
.w-process-card.card-3 {
  margin-top: 45px;
}
.w-process-card.process-icon::before {
  position: absolute;
  content: "";
  background-image: url("../images/icons/process-line.svg");
  width: 312px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  right: -96px;
  background-position: center;
  top: -21px;
  z-index: -1;
}
.w-process-card .process-number {
  width: 90px;
  height: 90px;
  line-height: 90px;
  border: 1px solid var(--bx-title-color);
  border-radius: 100%;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  color: var(--bx-title-color);
  transition: all 0.3s ease;
}
.w-process-card:hover .process-number {
  background: var(--bx-primary-color);
  color: var(--bx-white-color);
  border: 1px solid transparent;
}
.w-process-card .process-content {
  margin-top: 42px;
}
.w-process-card .process-content .title {
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 16px;
}
.w-process-card .process-content .text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}
.bx-work-process__shape {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.bx-work-process__arrow {
  position: absolute;
  left: 115px;
  top: 32%;
}
.bx-work-process__shape .shape-1 {
  position: absolute;
  right: 175px;
  top: 5%;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .w-process-card.process-icon::before {
    width: 250px;
  }
}

/* Portfolio  */
.bx-portfolio .bx-section-head__action {
  max-width: 450px;
}
.bx-portfolio .bx-section-head__text {
  font-size: 18px;
  color: var(--bx-paragraph-color);
  line-height: 30px;
  margin: 0;
  margin-bottom: 32px;
}
.bx-portfolio__tab-menu {
  margin-top: 50px;
  margin-bottom: 70px;
}

.bx-portfolio__tab-menu .list-group {
  flex-direction: row;
}

.bx-portfolio__tab-menu .list-group-item {
  border: none;
  color: var(--bx-paragraph-color);
  font-family: var(--bx-inter-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding: 0px;
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid rgba(34, 48, 53, 0.17);
  background-color: transparent;
}
.bx-portfolio__tab-menu .list-group-item:last-child {
  padding: 0;
  margin: 0;
  border: none;
}
.bx-portfolio__tab-menu .list-group-item.active {
  color: var(--bx-title-color);
}

.bx-portfolio__tab-details {
  position: relative;
  overflow: hidden;
}
.bx-portfolio__tab-details::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 17, 17, 0.45);
}
.bx-portfolio__tab-details > .portfolio-bg-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1.1);
  transition: all 0.6s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.bx-portfolio__tab-details > .portfolio-bg-img.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.bx-portfolio__tab-details .row {
  position: relative;
  z-index: 1;
  margin: 0;
}
.bx-portfolio__tab-details .grid-item {
  padding: 0;
}
.bx-portfolio__tab-details .grid-item .portfolio-item {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  min-height: 846px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-end;
  transition: all 0.3s ease 0s;
  background: transparent;
}
.bx-portfolio__tab-details .grid-item:last-child .portfolio-item {
  border-right-width: 0;
}
.bx-portfolio__tab-details .grid-item .portfolio-inner {
  transition: all 0.3s ease;
  padding: 45px 45px 150px 45px;
}
.bx-portfolio__tab-details .grid-item.active .portfolio-inner {
  background: var(--bx-white-color);
}
.bx-portfolio__tab-details .portfolio-item .category {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.36px;
  color: var(--bx-white-color);
  display: block;
  transition: all 0.3s ease;
}
.bx-portfolio__tab-details .portfolio-item .title {
  color: var(--bx-white-color);
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
  margin-top: 12px;
  transition: all 0.3s ease;
}
.bx-portfolio__tab-details .grid-item.active .portfolio-item .title {
  text-decoration: underline;
  margin-bottom: 18px;
}
.bx-portfolio__tab-details .portfolio-item .desc {
  height: 0;
  transform: scaleY(0);
  color: var(--bx-paragraph-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  transition: all 0.3s ease;
}

.bx-portfolio__tab-details .grid-item.active .portfolio-item .desc {
  height: 80px;
  transform: scaleY(1);
}
.bx-portfolio__tab-details .grid-item.active .portfolio-item .category,
.bx-portfolio__tab-details .grid-item.active .portfolio-item .title,
.bx-portfolio__tab-details .grid-item.active .portfolio-item .desc {
  color: var(--bx-title-color);
}

/* CTA  Description */
.bx-cta-desc__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 264px;
  padding: 0px 85px;
  align-items: center;
}
.bx-cta-desc__content h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -0.4px;
  margin: 0;
  min-width: 685px;
}
.bx-cta-desc__content .text {
  font-size: 20px;
  line-height: 34px;
  letter-spacing: -0.4px;
}
.bx-cta-desc__actions {
  margin-top: 65px;
  display: flex;
  align-items: center;
  gap: 35px;
}
.bx-cta-desc__contact span {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.bx-cta-desc__contact span i {
  color: var(--bx-primary-color);
  position: relative;
  top: 2px;
}
.bx-cta-desc__contact a {
  color: var(--bx-title-color);
  font-family: var(--bx-inter-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 8px;
}
.bx-cta-desc__contact a:hover {
  color: var(--bx-primary-color);
}

/* Text Move  */
.bx-text-move {
  overflow: hidden;
}
.swiper.text-move_slider-reverse {
  margin-top: 40px;
}
.bx-text-move .swiper-slide {
  width: auto !important;
}
.bx-text-move .swiper-wrapper {
  transition-timing-function: linear;
}
.bx-text-slide__item {
  display: flex;
  gap: 58px;
  justify-content: center;
  align-items: center;
}
.bx-text-slide__item .text {
  font-size: 77px;
  font-weight: 900;
  letter-spacing: -3.08px;
  color: var(--bx-title-color);
  line-height: 140%;
}
.bx-text-slide__item .text.text-outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--bx-title-color);
}
.bx-text-slide__item .arrow-img {
  max-width: 50px;
  max-height: 50px;
}

/* Motivation  */
.bx-motivation__image {
  text-align: center;
}
.bx-motivation__image img {
  width: 100%;
  border-radius: 6px;
}
.bx-motivation__content {
  gap: 150px;
  justify-content: center;
  justify-items: end;
}
.bx-award__medal {
  margin-top: 128px;
}
.bx-award__medal .title {
  margin: 0;
  color: var(--bx-title-color);
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
}
.bx-award__medal-icons {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 55px;
}
.bx-award__medal-icons img {
  max-width: 90px;
}
.bx-motivation__widget {
  border-radius: 6px;
  background: var(--bx-primary-color);
  max-width: 342px;
  padding: 45px 30px 35px 30px;
  margin-top: -112px;
}
.bx-motivation__widget .title {
  color: var(--bx-white-color);
  font-size: 26px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 13px;
}
.bx-motivation__widget .text {
  color: rgba(255, 255, 255, 0.75);
  font-family: var(--bx-inter-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.bx-motivation__widget img {
  margin-top: 28px;
}

/* Testimonial  */
.owl-carousel.bx-testimonial__slider-2 {
  padding: 0px 190px;
}
.testimonial-inner {
  display: flex;
  align-items: center;
  gap: 78px;
  border-bottom: 1px solid rgba(34, 48, 53, 0.17);
  padding-bottom: 72px;
  margin-bottom: 60px;
}
.testimonial-inner .quotation-icon {
  min-width: 90px;
  height: 90px;
  line-height: 90px;
  background: var(--bx-white-color);
  border-radius: 100%;
  text-align: center;
  border: 1px solid var(--bx-border-color);
}
.testimonial-inner .quotation-icon img {
  max-width: 40px;
  display: inline-block !important;
}
.testimonial-info img {
  max-width: 140px;
}
.testimonial-info .title {
  margin: 0;
  margin-top: 40px;
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -0.4px;
  color: var(--bx-title-color);
}
.testimonial-author {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 170px;
}
.testimonial-author .author-img img {
  max-width: 60px;
  height: 60px;
  border-radius: 199%;
  object-fit: cover;
}
.testimonial-author .author-info .name {
  font-size: 18px;
  font-weight: 700;
  color: var(--bx-title-color);
  line-height: 120%;
  margin-bottom: 8px;
}

.testimonial-author .author-info .role {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: var(--bx-paragraph-color);
}

/* Slider Controls  */
.owl-carousel.bx-testimonial__slider-2 .owl-dots {
  position: absolute;
  right: 190px;
  bottom: 25px;
  line-height: 0;
  display: flex;
  z-index: 2;
  width: unset !important;
  left: unset !important;
  top: unset !important;
}
.owl-carousel.bx-testimonial__slider-2 .owl-dots span {
  width: 8px;
  height: 8px;
  margin: 0px 16px;
  background: var(--bx-title-color);
  display: block;
  border-radius: 100%;
  position: relative;
  transition: all 0.4s ease;
}
.owl-carousel.bx-testimonial__slider-2
  .owl-dots
  .swiper-pagination-bullet::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid var(--bx-title-color);
  border-radius: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
.owl-carousel.bx-testimonial__slider-2
  span.swiper-pagination-bullet.swiper-pagination-bullet-active,
.owl-carousel.bx-testimonial__slider-2 .swiper-pagination-bullet:hover {
  background: var(--bx-title-color);
}
.owl-carousel.bx-testimonial__slider-2
  span.swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

/* Blog  */
.bx-blog {
  overflow: hidden;
}
.bx-blog__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.bx-blog__card {
  margin-top: 40px;
}
.bx-blog__cover {
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.bx-blog__cover::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(34, 48, 53, 0.24);
  z-index: 2;
}
.bx-blog__cover img {
  width: 100%;
  border-radius: 8px;
}
.bx-blog__card:hover .bx-blog__cover img {
  transform: scale(1.04);
}
.bx-blog__content {
  margin-top: 24px;
}
.bx-blog__meta {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 12px;
}
.bx-blog__meta .category {
  padding: 12px 20px;
  border: 1px solid rgba(34, 48, 53, 0.25);
  border-radius: 56px;
  font-size: 14px;
  font-weight: 500;
  line-height: 12px;
  color: var(--bx-primary-color);
}
.bx-blog__meta .date {
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  color: var(--bx-primary-color);
  text-transform: uppercase;
}
.bx-blog__content .title {
  font-size: 26px;
  font-weight: 500;
  line-height: 140%;
  color: var(--bx-title-color);
  margin-bottom: 16px;
}
.bx-blog__content .title:hover {
  color: var(--bx-primary-color);
}
.bx-blog__content .text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}

.featured-blog .bx-blog__content .title {
  font-size: 40px;
}
.blog-list .bx-blog__card {
  border-radius: 8px;
  border: 1px solid rgba(34, 48, 53, 0.25);
  padding: 30px;
  gap: 30px;
}
.blog-list .bx-blog__cover {
  min-width: 306px;
}
.blog-list .bx-blog__content {
  margin-top: 0;
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  /* About  */
  .bx-about__inner {
    gap: 360px;
  }
  .bx-about__counter {
    gap: 80px;
  }
  .bx-about__image-container {
    max-width: 100%;
  }

  /* Work Progress  */
  .bx-work-process__wrapper {
    padding-left: 350px;
    gap: 80px;
  }
  .bx-work-process__arrow {
    left: 0px;
    top: 350px;
    transform: scale(0.85);
  }
  .w-process-card.card-1 {
    margin-top: 160px;
  }
  .w-process-card.card-2 {
    margin-top: 95px;
  }
  .w-process-card.card-3 {
    margin-top: 35px;
  }
  .w-process-card.process-icon::before {
    width: 260px;
    right: -80px;
  }
  .bx-work-process__shape .shape-1 {
    right: 120px;
  }
  .bx-work-process__shape .shape-2 {
    right: -20px;
  }

  /* Portfolio  */
  .bx-portfolio .bx-section-head__action {
    max-width: 400px;
  }
  .bx-portfolio .bx-section-head__text {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 25px;
  }
  .bx-portfolio__tab-menu {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .bx-portfolio__tab-menu .list-group-item {
    font-size: 15px;
    padding-right: 25px;
    margin-right: 25px;
  }
  .bx-portfolio__tab-details .grid-item .portfolio-item {
    min-height: 750px;
  }
  .bx-portfolio__tab-details .grid-item .portfolio-inner {
    padding: 35px;
  }
  .bx-portfolio__tab-details .portfolio-item .category {
    font-size: 16px;
  }
  .bx-portfolio__tab-details .portfolio-item .title {
    font-size: 20px;
  }
  .bx-portfolio__tab-details .portfolio-item .desc {
    font-size: 16px;
    line-height: 28px;
  }

  /* CTA Description  */
  .bx-cta-desc__content h3 {
    min-width: 500px;
  }
  .bx-cta-desc__inner {
    gap: 80px;
  }

  /* Motivation  */
  .bx-motivation__image img {
    max-width: 100%;
  }
  .bx-motivation__content {
    gap: 100px;
  }
  .bx-award__medal {
    margin-top: 100px;
  }
  .bx-award__medal-icons {
    gap: 40px;
  }
  .bx-award__medal-icons img {
    max-width: 80px;
  }
  .bx-motivation__widget {
    margin-top: -90px;
    padding: 40px 25px 30px 25px;
  }

  /* Testimonial  */
  .owl-carousel.bx-testimonial__slider-2 {
    padding: 0px 40px;
  }

  /* Blog  */
  .bx-blog__wrapper {
    gap: 40px;
  }
  .featured-blog .bx-blog__content .title {
    font-size: 34px;
    line-height: 130%;
  }
  .bx-blog__content .title {
    font-size: 22px;
    line-height: 130%;
  }
  .bx-blog__content .text {
    font-size: 16px;
    line-height: 26px;
  }
  .blog-list .bx-blog__card {
    padding: 25px;
    gap: 25px;
  }
  .blog-list .bx-blog__cover {
    min-width: 260px;
  }
  .bx-blog__meta .category {
    padding: 10px 16px;
    font-size: 13px;
  }
  .bx-blog__meta .date {
    font-size: 13px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* About  */
  .bx-about__inner .bx-section-head {
    display: inline-block;
  }
  .bx-about__inner {
    display: block;
  }
  .bx-about__content .title {
    font-size: 38px;
    line-height: 54px;
  }
  .bx-about__image-container {
    max-width: 100%;
    bottom: 0;
    margin-top: 40px;
  }
  .bx-about__image {
    position: inherit;
  }
  .bx-about__counter {
    gap: 40px;
  }
  .bx-about .counter-card .title,
  .bx-about .counter-card .odometer {
    font-size: 48px;
    line-height: 38px;
  }
  .bx-about .counter-card .info {
    margin-top: 32px;
  }
  .bx-about .counter-card .text {
    line-height: 32px;
  }
  .bx-about__image .about-img {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  /* Work Progress  */
  .bx-work-process__wrapper {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 0;
    gap: 40px;
    margin-top: 60px;
  }
  .w-process-card.card-1,
  .w-process-card.card-2,
  .w-process-card.card-3 {
    margin-top: 0;
  }
  .w-process-card.process-icon::before {
    display: none;
  }
  .bx-work-process__arrow {
    display: none;
  }
  .w-process-card .process-number {
    width: 75px;
    height: 75px;
    line-height: 75px;
    font-size: 22px;
  }
  .w-process-card .process-content {
    margin-top: 25px;
  }
  .w-process-card .process-content .title {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .w-process-card .process-content .text {
    font-size: 16px;
    line-height: 26px;
  }
  .bx-work-process__shape .shape-1 {
    right: 50px;
    top: 80px;
    max-width: 120px;
  }
  .bx-work-process__shape .shape-2 {
    right: -20px;
    bottom: 40px;
    max-width: 80px;
  }

  /* Portfolio  */
  .bx-portfolio .bx-section-head {
    flex-direction: column;
  }
  .bx-portfolio .bx-section-head__action {
    max-width: 100%;
    margin-top: 30px;
  }
  .bx-portfolio .bx-section-head__text {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .bx-portfolio__tab-menu {
    margin-top: 30px;
    margin-bottom: 40px;
    overflow-x: auto;
  }
  .bx-portfolio__tab-menu .list-group {
    flex-wrap: nowrap;
    width: max-content;
  }
  .bx-portfolio__tab-menu .list-group-item {
    font-size: 15px;
    padding-right: 20px;
    margin-right: 20px;
    white-space: nowrap;
  }
  .bx-portfolio__tab-details .grid-item .portfolio-item {
    min-height: 650px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .bx-portfolio__tab-details .grid-item:nth-child(even) .portfolio-item {
    border-right: 0;
  }
  .bx-portfolio__tab-details .grid-item .portfolio-inner {
    padding: 30px;
  }
  .bx-portfolio__tab-details .portfolio-item .category {
    font-size: 16px;
  }
  .bx-portfolio__tab-details .portfolio-item .title {
    font-size: 18px;
    margin-top: 10px;
  }

  .bx-portfolio__tab-details .grid-item.active .portfolio-item .title {
    margin-bottom: 15px;
  }
  .bx-portfolio__tab-details .portfolio-item .desc {
    font-size: 15px;
    line-height: 24px;
  }
  .bx-portfolio__tab-details .grid-item.active .portfolio-item .desc {
    height: 72px;
  }

  /* CTA Description  */
  .bx-cta-desc__inner {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    padding: 0;
  }
  .bx-cta-desc__content h3 {
    font-size: 38px;
    line-height: 56px;
    min-width: 100%;
  }
  .bx-cta-desc__actions {
    margin-top: 41px;
  }

  /* Text Move  */
  .bx-text-slide__item .text {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0;
  }
  .bx-text-slide__item .arrow-img {
    max-width: 34px;
    max-height: 34px;
  }
  .bx-text-slide__item {
    gap: 32px;
  }
  .swiper.text-move_slider-reverse {
    margin-top: 32px;
  }

  /* Motivation  */
  .bx-motivation__image img {
    max-width: 100%;
  }
  .bx-motivation__content {
    flex-direction: column;
    gap: 60px;
    align-items: center;
  }
  .bx-award__medal {
    margin-top: 60px;
    text-align: center;
  }
  .bx-award__medal .title {
    font-size: 24px;
    line-height: 34px;
  }
  .bx-award__medal-icons {
    gap: 30px;
    justify-content: center;
  }
  .bx-award__medal-icons img {
    max-width: 70px;
  }
  .bx-motivation__widget {
    margin-top: 0;
    max-width: 500px;
    text-align: center;
  }
  .bx-motivation__widget .title {
    font-size: 24px;
  }
  .bx-motivation__widget .text {
    font-size: 16px;
    line-height: 28px;
  }
  .bx-motivation__widget img {
    display: block;
    margin: 24px auto 0;
  }

  /* Testimonial  */
  .owl-carousel.bx-testimonial__slider-2 {
    padding: 0;
    padding-bottom: 48px;
  }
  .testimonial-inner .quotation-icon {
    min-width: 80px;
    height: 80px;
    line-height: 80px;
    max-width: 80px;
  }
  .testimonial-inner .quotation-icon img {
    max-width: 24px;
  }
  .testimonial-info .title {
    margin-top: 16px;
    font-size: 32px;
    line-height: 43px;
  }
  .testimonial-inner {
    display: block;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }
  .testimonial-author {
    margin-left: 0;
  }
  .owl-carousel.bx-testimonial__slider-2 .owl-dots {
    position: absolute;
    right: auto;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .testimonial-info {
    margin-top: 24px;
  }
  .owl-carousel.bx-testimonial__slider-2
    .owl-dots
    .swiper-pagination-bullet::before {
    width: 24px;
    height: 24px;
  }
  .owl-carousel.bx-testimonial__slider-2 .owl-dots span {
    margin: 0px 12px;
  }

  /* Blog  */
  .bx-blog__wrapper {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .featured-blog .bx-blog__content .title {
    font-size: 30px;
    line-height: 130%;
  }
  .bx-blog__content .title {
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 12px;
  }
  .bx-blog__content .text {
    font-size: 16px;
    line-height: 26px;
  }
  .blog-list .bx-blog__card {
    padding: 20px;
    gap: 20px;
  }
  .blog-list .bx-blog__cover {
    min-width: 220px;
  }
  .bx-blog__meta {
    gap: 15px;
    margin-bottom: 10px;
  }
  .bx-blog__meta .category {
    padding: 8px 14px;
    font-size: 12px;
  }
  .bx-blog__meta .date {
    font-size: 12px;
  }
}

@media only screen and (max-width: 767px) {
  /* About  */
  .bx-about__inner {
    display: block;
  }
  .bx-about__content .title {
    font-size: 28px;
    line-height: 140%;
  }
  .bx-about__image-container {
    max-width: 100%;
    bottom: 0;
    margin-top: 40px;
  }
  .bx-about__image {
    position: inherit;
  }
  .bx-about__counter {
    gap: 40px;
    flex-wrap: wrap;
  }
  .bx-about .counter-card .title,
  .bx-about .counter-card .odometer {
    font-size: 38px;
    line-height: 38px;
  }
  .bx-about .counter-card .info {
    margin-top: 24px;
  }
  .bx-about .counter-card .text {
    line-height: 24px;
  }
  .bx-about__btn {
    margin-top: 32px;
  }
  .bx-about__image .about-img {
    max-width: 100%;
    height: 100%;
    border-radius: 0px;
  }
  .bx-about__image .img-shape {
    max-width: 120px;
  }
  .bx-about .bx-section-head {
    text-align: left !important;
  }

  /* Partner  */
  .bx-partner__section-head {
    padding-bottom: 24px;
  }
  .bx-partner__section-head .title {
    font-size: 18px;
  }
  .owl-carousel.bx-partner__slider {
    margin-top: 32px;
  }

  /* Work Progress  */
  .bx-work-process__wrapper {
    grid-template-columns: 1fr;
    padding-left: 0;
    gap: 30px;
    margin-top: 40px;
  }
  .w-process-card.card-1,
  .w-process-card.card-2,
  .w-process-card.card-3 {
    margin-top: 0;
  }
  .w-process-card.process-icon::before {
    display: none;
  }
  .bx-work-process__arrow {
    display: none;
  }
  .w-process-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .w-process-card .process-number {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 20px;
  }
  .w-process-card .process-content {
    margin-top: 20px;
  }
  .w-process-card .process-content .title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .w-process-card .process-content .text {
    font-size: 15px;
    line-height: 24px;
  }
  .bx-work-process__shape .shape-1,
  .bx-work-process__shape .shape-2 {
    max-width: 60px;
  }

  .bx-work-process__shape .shape-1 {
    right: 20px;
    top: 60px;
  }

  .bx-work-process__shape .shape-2 {
    right: -10px;
    bottom: 30px;
  }

  /* Portfolio  */
  .bx-portfolio .bx-section-head {
    flex-direction: column;
  }

  .bx-portfolio .bx-section-head__action {
    max-width: 100%;
    margin-top: 25px;
  }

  .bx-portfolio .bx-section-head__text {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .bx-portfolio__tab-menu {
    margin-top: 25px;
    margin-bottom: 30px;
    overflow-x: auto;
  }

  .bx-portfolio__tab-menu .list-group {
    flex-wrap: nowrap;
    width: max-content;
    padding-bottom: 16px;
  }
  .bx-portfolio__tab-menu .list-group-item {
    font-size: 14px;
    padding-right: 15px;
    margin-right: 15px;
    white-space: nowrap;
  }

  .bx-portfolio__tab-details .portfolio-wrapper.row {
    margin: 0;
  }

  .bx-portfolio__tab-details .grid-item {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .bx-portfolio__tab-details .grid-item .portfolio-item {
    min-height: auto;
    border-right: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .bx-portfolio__tab-details .grid-item:last-child .portfolio-item {
    border-bottom: 0;
  }

  .bx-portfolio__tab-details .grid-item .portfolio-inner {
    padding: 25px 20px;
  }

  .bx-portfolio__tab-details .portfolio-item .category {
    font-size: 15px;
  }

  .bx-portfolio__tab-details .portfolio-item .title {
    font-size: 18px;
    margin-top: 8px;
  }

  .bx-portfolio__tab-details .grid-item.active .portfolio-item .title {
    margin-bottom: 12px;
  }

  .bx-portfolio__tab-details .portfolio-item .desc {
    font-size: 14px;
    line-height: 22px;
  }

  .bx-portfolio__tab-details .grid-item.active .portfolio-item .desc {
    height: auto;
    max-height: 88px;
  }

  /* CTA  Description */
  .bx-cta-desc__inner {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    padding: 0;
  }
  .bx-cta-desc__content h3 {
    font-size: 26px;
    line-height: 160%;
    min-width: 100%;
  }
  .bx-cta-desc__content .text {
    line-height: 160%;
  }
  .bx-cta-desc__actions {
    margin-top: 24px;
  }
  .bx-cta-desc__actions {
    gap: 24px;
    flex-wrap: wrap;
  }

  /* Text Move  */
  .bx-text-slide__item .text {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0;
  }
  .bx-text-slide__item .arrow-img {
    max-width: 24px;
  }
  .bx-text-slide__item {
    gap: 32px;
  }
  .swiper.text-move_slider-reverse {
    margin-top: 24px;
  }

  /* Motivation  */
  .bx-motivation__image {
    text-align: center;
  }
  .bx-motivation__image img {
    max-width: 100%;
    border-radius: 6px;
  }
  .bx-motivation__content {
    gap: 150px;
    justify-content: center;
    justify-items: end;
    display: block !important;
  }
  .bx-award__medal {
    margin-top: 40px;
  }
  .bx-award__medal .title {
    margin: 0;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
  }
  .bx-award__medal-icons {
    margin-top: 24px;
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
  }
  .bx-award__medal-icons img {
    max-width: 64px;
  }
  .bx-motivation__widget {
    border-radius: 6px;
    max-width: 100%;
    padding: 24px;
    margin-top: 40px;
  }
  .bx-motivation__widget .title {
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 13px;
  }
  .bx-motivation__widget .text {
    font-family: var(--bx-inter-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  .bx-motivation__widget img {
    margin-top: 28px;
  }

  /* Testimonial  */
  .owl-carousel.bx-testimonial__slider-2 {
    padding: 0;
    padding-bottom: 48px;
  }
  .testimonial-inner .quotation-icon {
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    max-width: 60px;
  }
  .testimonial-inner .quotation-icon img {
    max-width: 24px;
  }
  .testimonial-info .title {
    margin-top: 16px;
    font-size: 24px;
    line-height: 34px;
  }
  .testimonial-inner {
    display: block;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }
  .testimonial-author {
    margin-left: 0;
  }
  .owl-carousel.bx-testimonial__slider-2 .owl-dots {
    position: absolute;
    right: auto;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .testimonial-info {
    margin-top: 24px;
  }
  .owl-carousel.bx-testimonial__slider-2
    .owl-dots
    .swiper-pagination-bullet::before {
    width: 24px;
    height: 24px;
  }
  .owl-carousel.bx-testimonial__slider-2 .owl-dots span {
    margin: 0px 12px;
  }

  /* Blog  */
  .bx-blog__wrapper {
    grid-template-columns: 1fr;
    gap: 25px;
  }
  .featured-blog .bx-blog__content .title {
    font-size: 24px;
    line-height: 130%;
  }
  .bx-blog__content .title {
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 10px;
  }
  .bx-blog__content .text {
    font-size: 15px;
    line-height: 24px;
  }
  .blog-list .bx-blog__card {
    flex-direction: column;
    padding: 15px;
    gap: 15px;
  }
  .blog-list .bx-blog__cover {
    min-width: 100%;
  }
  .blog-list .bx-blog__content {
    margin-top: 15px;
  }
  .bx-blog__meta {
    gap: 12px;
    margin-bottom: 8px;
  }
  .bx-blog__meta .category {
    padding: 8px 12px;
    font-size: 11px;
    line-height: 10px;
  }
  .bx-blog__meta .date {
    font-size: 11px;
  }
}

/*================================================================================================
    End About CSS
===================================================================================================*/
