/*================================================================================================
    Start Breadcrumbs CSS
===================================================================================================*/
.bx-bredcrumb {
  padding: 275px 0px 130px;
  position: relative;
  z-index: 2;
}
.bx-bredcrumb::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 17, 17, 0.5);
  z-index: -1;
}
.bx-bredcrumb__menu {
  display: inline-block;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.19);
  padding: 5px 18px;
  margin-bottom: 24px;
}
.bx-bredcrumb__menu li,
.bx-bredcrumb__menu li a {
  display: inline-block;
  color: var(--bx-white-color);
  line-height: 25px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.15px;
}
.bx-bredcrumb__menu li a:hover {
  color: var(--bx-primary-color);
}
.bredcrumb-title {
  font-size: 54px;
  color: var(--bx-white-color);
  line-height: 65px;
  font-weight: 600;
}
.bredcrumb-actions {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 32px;
}
.bredcrumb-video {
  display: flex;
  align-items: center;
  gap: 20px;
}
.bredcrumb-video__content p {
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  color: var(--bx-white-color);
  letter-spacing: -0.36px;
}
.bredcrumb-video__content span {
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  color: var(--bx-white-color);
  display: block;
  margin-top: 12px;
  letter-spacing: -0.28px;
}
.bredcrumb-video .bredcrumb-video__btn {
  width: 56px;
  height: 56px;
  line-height: 60px;
  font-size: 16px;
  border-radius: 100%;
  text-align: center;
  background: #ffffff30;
  backdrop-filter: blur(4px);
  color: var(--bx-white-color) !important;
  border: 1px solid #ffffff57;
  z-index: 2;
  transition: all 0.3s ease;
}
.bredcrumb-video .bredcrumb-video__btn:hover {
  background: var(--bx-white-color);
  color: var(--bx-title-color) !important;
  border: 1px solid transparent;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .bx-bredcrumb {
    padding: 220px 0px 80px;
  }
  .bredcrumb-title {
    font-size: 48px;
    line-height: 140%;
  }
}

@media only screen and (max-width: 767px) {
  .bx-bredcrumb {
    padding: 216px 0px 56px;
  }
  .bredcrumb-title {
    font-size: 32px;
    line-height: 140%;
  }
  .bredcrumb-actions {
    flex-wrap: wrap;
  }
  .bredcrumb-video__content span {
    margin-top: 8px;
  }
}

/*================================================================================================
    End Breadcrumbs CSS
===================================================================================================*/
