/*================================================================================================
    Start Contact CSS
===================================================================================================*/
@import url("reset.css");
@import url("mobile-menu.css");
@import url("global-header.css");
@import url("breadcrumbs.css");
@import url("call-action.css");
@import url("footer.css");

/* Contact  */
.bx-contact .bx-section-head__text {
  color: var(--bx-paragraph-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: -0.4px;
  margin-top: 24px;
}
.bx-contact__inner {
  display: flex;
  align-items: center;
  gap: 136px;
}
.bx-contact__content {
  max-width: 696px;
}
.bx-contact__main {
  border-top: 1px solid rgba(255, 255, 255, 0.14);
  padding-top: 30px;
  margin-top: 30px;
}
.bx-contact__info {
  margin-bottom: 32px;
}
.bx-contact__info:last-child {
  margin: 0;
}
.bx-contact__info .title {
  font-size: 26px;
  font-weight: 400;
  line-height: 120%;
  color: var(--bx-paragraph-color);
  display: block;
  margin-bottom: 22px;
}
.bx-contact__info .info-list li {
  display: inline-block;
  margin-right: 24px;
  padding-right: 24px;
  position: relative;
  color: var(--bx-paragraph-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}
.bx-contact__info .info-list li a:hover {
  color: var(--bx-primary-color);
}
.bx-contact__info .info-list li::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 14px;
  background: rgba(255, 255, 255, 0.21);
  right: 0;
  top: 8px;
}
.bx-contact__info .info-list li:last-child {
  padding: 0;
  margin: 0;
}
.bx-contact__info .info-list li:last-child::before {
  display: none;
}
.bx-contact__widget {
  border-radius: 8px;
  background: #f0f0f0;
  padding: 75px;
}
.bx-contact__widget h3 {
  font-size: 40px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.4px;
  margin: 0;
}
.bx-contact__form {
  margin-top: 48px;
}
.bx-contact__form .form-group {
  margin-bottom: 24px;
}
.bx-contact__form .form-group input,
.bx-contact__form .form-group textarea {
  width: 100%;
  height: 48px;
  border: 1px solid rgba(34, 48, 53, 0.17);
  background-color: transparent;
  color: var(--bx-title-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  border-radius: 8px;
}
.bx-contact__form .form-group input:focus,
.bx-contact__form .form-group textarea:focus {
  border: 1px solid var(--bx-primary-color);
}
.bx-contact__form .form-group textarea {
  height: 215px;
}
.bx-contact__form .form-group .nice-select {
  width: 100%;
  height: 48px;
  line-height: 48px;
  background: transparent;
  border: 1px solid rgba(34, 48, 53, 0.17);
  background-color: transparent;
  border-radius: 8px;
  color: #70717e;
  padding-left: 12px;
  font-weight: 400;
}
.bx-contact__form .form-group .nice-select::after {
  border-bottom: 2px solid var(--bx-primary-color);
  border-right: 2px solid var(--bx-primary-color);
}
.bx-contact-map .gmap_canvas,
.bx-contact-map .gmap_canvas iframe {
  width: 100%;
  height: 670px;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* Contact  */
  .bx-contact__inner {
    display: block;
  }
  .bx-contact__content {
    max-width: 100%;
  }
  .bx-contact__widget {
    margin-top: 40px;
    padding: 40px;
  }
}

@media only screen and (max-width: 767px) {
  /* Contact  */
  .bx-contact__inner {
    display: block;
  }
  .bx-contact__widget {
    padding: 24px;
    margin-top: 40px;
  }
  .bx-contact__widget h3 {
    font-size: 24px;
  }
  .bx-contact__form {
    margin-top: 24px;
  }
  .bx-contact__info .title {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .bx-contact__info {
    margin-bottom: 24px;
  }

  /* Contact  */
  .bx-contact-map .gmap_canvas,
  .bx-contact-map .gmap_canvas iframe {
    height: 300px;
  }
}

/*================================================================================================
    End Contact CSS
===================================================================================================*/
