/*================================================================================================
    Start Faq CSS
===================================================================================================*/
@import url("reset.css");
@import url("mobile-menu.css");
@import url("global-header.css");
@import url("breadcrumbs.css");
@import url("call-action.css");
@import url("footer.css");

/* Faq  */
.faq-inner {
  margin-top: 30px;
}
.bx-faq__content .accordion-item {
  margin-bottom: 15px;
  background-color: transparent;
  border: none;
  border-radius: 0 !important;
}
.bx-faq__content .accordion-item:last-child {
  margin: 0;
}
.bx-faq__content .accordion-item .accordion-button {
  background: transparent;
  color: var(--bx-paragraph-color);
  padding: 14px 60px 14px 30px;
  border-radius: 8px !important;
  box-shadow: none;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  border: 1px solid rgba(34, 48, 53, 0.17) !important;
}
.bx-faq__content .accordion-item .accordion-button:not(.collapsed) {
  box-shadow: none;
  border-bottom: none !important;
  border-radius: 8px 8px 0px 0px !important;
}
.bx-faq__content .accordion-item .accordion-button:focus {
  box-shadow: none;
}
.bx-faq__content .accordion-item .accordion-button span {
  color: var(--bx-primary-color);
}
.bx-faq__content .accordion-item .accordion-button svg {
  position: absolute;
  right: 4px;
  top: 12px;
}
.bx-faq__content .accordion-body {
  padding: 0px 30px 20px 30px;
  transition: all 0.3s ease;
  border-radius: 0px 0px 8px 8px !important;
  border: 1px solid rgba(34, 48, 53, 0.17);
  border-top: none;
}
.bx-faq__content .accordion-body p {
  color: var(--bx-paragraph-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.32px;
}
.bx-faq__content .accordion-button::after {
  background-image: none;
  transform: none;
  position: absolute;
  right: 30px;
  content: "\f8d8";
  font-family: uicons-solid-rounded !important;
  border-radius: 100%;
  text-align: center;
  color: var(--bx-primary-color);
  transition: all 0.3s ease;
  font-size: 20px;
  top: 15px;
}
.bx-faq__content .accordion-button:not(.collapsed)::after {
  content: "\f7e3";
}

/* Contact  */
.bx-contact .bx-section-head__text {
  color: var(--bx-paragraph-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: -0.4px;
  margin-top: 24px;
}
.bx-contact__inner {
  display: flex;
  align-items: center;
  gap: 136px;
}
.bx-contact__content {
  max-width: 696px;
}
.bx-contact__main {
  border-top: 1px solid rgba(255, 255, 255, 0.14);
  padding-top: 30px;
  margin-top: 30px;
}
.bx-contact__info {
  margin-bottom: 32px;
}
.bx-contact__info:last-child {
  margin: 0;
}
.bx-contact__info .title {
  font-size: 26px;
  font-weight: 400;
  line-height: 120%;
  color: var(--bx-paragraph-color);
  display: block;
  margin-bottom: 22px;
}
.bx-contact__info .info-list li {
  display: inline-block;
  margin-right: 24px;
  padding-right: 24px;
  position: relative;
  color: var(--bx-paragraph-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}
.bx-contact__info .info-list li a:hover {
  color: var(--bx-primary-color);
}
.bx-contact__info .info-list li::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 14px;
  background: rgba(255, 255, 255, 0.21);
  right: 0;
  top: 8px;
}
.bx-contact__info .info-list li:last-child {
  padding: 0;
  margin: 0;
}
.bx-contact__info .info-list li:last-child::before {
  display: none;
}
.bx-contact__widget {
  border-radius: 8px;
  background: #f0f0f0;
  padding: 75px;
}
.bx-contact__widget h3 {
  font-size: 40px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.4px;
  margin: 0;
}
.bx-contact__form {
  margin-top: 48px;
}
.bx-contact__form .form-group {
  margin-bottom: 24px;
}
.bx-contact__form .form-group input,
.bx-contact__form .form-group textarea {
  width: 100%;
  height: 48px;
  border: 1px solid rgba(34, 48, 53, 0.17);
  background-color: transparent;
  color: var(--bx-title-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  border-radius: 8px;
}
.bx-contact__form .form-group input:focus,
.bx-contact__form .form-group textarea:focus {
  border: 1px solid var(--bx-primary-color);
}
.bx-contact__form .form-group textarea {
  height: 215px;
}
.bx-contact__form .form-group .nice-select {
  width: 100%;
  height: 48px;
  line-height: 48px;
  background: transparent;
  border: 1px solid rgba(34, 48, 53, 0.17);
  background-color: transparent;
  border-radius: 8px;
  color: #70717e;
  padding-left: 12px;
  font-weight: 400;
}
.bx-contact__form .form-group .nice-select::after {
  border-bottom: 2px solid var(--bx-primary-color);
  border-right: 2px solid var(--bx-primary-color);
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* Contact  */
  .bx-contact__inner {
    display: block;
  }
  .bx-contact__content {
    max-width: 100%;
  }
  .bx-contact__widget {
    margin-top: 40px;
    padding: 40px;
  }
}

@media only screen and (max-width: 767px) {
  /* Faq  */
  .faq-inner {
    margin-top: 20px;
  }
  .bx-faq__content .accordion-item .accordion-button {
    padding: 12px 52px 12px 16px;
    font-size: 16px;
    line-height: 24px;
  }
  .bx-faq__content .accordion-body {
    padding: 0px 16px 16px 15px;
  }
  .bx-faq__content .accordion-button::after {
    right: 16px;
    font-size: 16px;
  }

  /* Contact  */
  .bx-contact__inner {
    display: block;
  }
  .bx-contact__widget {
    padding: 24px;
    margin-top: 40px;
  }
  .bx-contact__widget h3 {
    font-size: 24px;
  }
  .bx-contact__form {
    margin-top: 24px;
  }
  .bx-contact__info .title {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .bx-contact__info {
    margin-bottom: 24px;
  }
}

/*================================================================================================
    End Faq CSS
===================================================================================================*/
