/*================================================================================================
    Start Portfolio CSS
===================================================================================================*/
@import url("reset.css");
@import url("mobile-menu.css");
@import url("global-header.css");
@import url("breadcrumbs.css");
@import url("call-action.css");
@import url("footer.css");

/* Portfolio  */
.bx-portfolio .container {
  max-width: 1620px;
}
.bx-portfolio__shape {
  position: absolute;
  right: 8%;
  top: 142px;
}
.bx-portfolio__card {
  margin-top: 50px;
}
.portfolio-img {
  overflow: hidden;
  border-radius: 8px;
}
.portfolio-img img {
  border-radius: 8px;
  transition: all 0.3s ease;
}
.bx-portfolio__card:hover .portfolio-img img {
  transform: scale(1.04);
}
.portfolio-engagement {
  position: absolute;
  right: 20px;
  bottom: -100px;
  border-radius: 8px;
  background: var(--bx-white-color);
  padding: 25px 54px 25px 25px;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.bx-portfolio__card:hover .portfolio-engagement {
  opacity: 1;
  visibility: visible;
  bottom: 20px;
}
.portfolio-engagement .percent {
  font-size: 40px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.4px;
  margin-bottom: 6px;
}
.portfolio-engagement .text {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.36px;
}
.portfolio-content {
  margin-top: 16px;
}
.portfolio-content .category li {
  display: inline-block;
  margin-right: 8px;
  padding-right: 8px;
  position: relative;
}
.portfolio-content .category li:last-child {
  padding: 0;
  margin: 0;
}
.portfolio-content .category li::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  background: var(--bx-paragraph-color);
  border-radius: 100%;
  right: -2px;
  top: 10px;
}
.portfolio-content .category li:last-child::before {
  display: none;
}
.portfolio-content .category li a {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.3px;
  color: var(--bx-paragraph-color);
}
.portfolio-content .category li a:hover {
  color: var(--bx-primary-color);
}
.portfolio-content .title {
  font-family: var(--bx-inter-font);
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
  color: var(--bx-title-color);
  margin-top: 8px;
}
.bx-portfolio__card:hover .title {
  color: var(--bx-primary-color);
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  .bx-portfolio .container {
    max-width: 1400px;
  }
  .portfolio-engagement {
    padding: 20px 45px 20px 20px;
  }
  .portfolio-engagement .percent {
    font-size: 36px;
  }
  .portfolio-engagement .text {
    font-size: 16px;
  }
  .portfolio-content .title {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .bx-portfolio .container {
    max-width: 100%;
  }
  .bx-portfolio__card {
    margin-top: 30px;
  }
  .portfolio-engagement {
    padding: 15px 40px 15px 15px;
  }
  .portfolio-engagement .percent {
    font-size: 32px;
  }
  .portfolio-engagement .text {
    font-size: 15px;
    line-height: 16px;
  }
  .portfolio-content {
    margin-top: 12px;
  }
  .portfolio-content .title {
    font-size: 18px;
    margin-top: 6px;
  }
  .portfolio-content .category li a {
    font-size: 14px;
    line-height: 22px;
  }
  .portfolio-content .category li::before {
    top: 9px;
  }
}

@media only screen and (max-width: 767px) {
  .bx-portfolio .container {
    max-width: 100%;
  }
  .bx-portfolio__card {
    margin-top: 25px;
  }
  .portfolio-engagement {
    padding: 12px 30px 12px 12px;
    right: 15px;
  }
  .bx-portfolio__card:hover .portfolio-engagement {
    bottom: 15px;
  }
  .portfolio-engagement .percent {
    font-size: 28px;
    margin-bottom: 4px;
  }
  .portfolio-engagement .text {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.28px;
  }
  .portfolio-content {
    margin-top: 10px;
  }
  .portfolio-content .title {
    font-size: 16px;
    margin-top: 5px;
  }
  .portfolio-content .category li {
    margin-right: 6px;
    padding-right: 6px;
  }
  .portfolio-content .category li a {
    font-size: 13px;
    line-height: 20px;
  }
  .portfolio-content .category li::before {
    top: 8px;
  }
}

/*================================================================================================
    End Portfolio CSS
===================================================================================================*/
