/*================================================================================================
    Start Portfolio CSS
===================================================================================================*/
@import url("reset.css");
@import url("mobile-menu.css");
@import url("global-header.css");
@import url("breadcrumbs.css");
@import url("call-action.css");
@import url("footer.css");

/* Portfolio */
.bx-portfolio .bx-container {
  max-width: 1680px;
}
/* .portfolio-row {
  --bs-gutter-y: 1.9rem;
} */
.filter-menu {
  border-bottom: 1px solid rgba(34, 48, 53, 0.17);
  text-align: center;
  margin-bottom: 50px;
}
.filter-menu .tab-btn {
  color: var(--bx-paragraph-color);
  font-size: 16px;
  font-weight: 500;
  position: relative;
  padding: 20px 40px;
  line-height: 18px;
}
.filter-menu .tab-btn.active,
.filter-menu .tab-btn:hover {
  color: var(--bx-primary-color);
}
.filter-menu .tab-btn::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 40px;
  background: rgba(34, 48, 53, 0.17);
  right: 0px;
  bottom: 0;
}
.portfolio-card {
  position: relative;
  overflow: hidden;
}
.portfolio-img {
  position: relative;
}
.portfolio-img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  background: rgba(0, 16, 21, 0.65);
  z-index: 1;
  transition: all 0.3s ease;
}
.portfolio-card:hover .portfolio-img::before {
  background: var(--bx-primary-color);
}
.portfolio-img {
  overflow: hidden;
  border-radius: 8px;
}
.portfolio-img img {
  width: 100%;
  height: 524px;
  object-fit: cover;
  border-radius: 8px;
}
.portfolio-card:hover .portfolio-img img {
  transform: scale(1.04);
}
.portfolio-card .arrow-icon {
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 2;
}
.portfolio-card:hover .arrow-icon path {
  fill: var(--bx-white-color);
}
.portfolio-content {
  position: absolute;
  padding: 40px;
  width: 100%;
  height: auto;
  left: 0;
  bottom: 0;
  z-index: 2;
  transition: all 0.3s ease;
  transform: translateY(100px);
}
.portfolio-card:hover .portfolio-content {
  transform: translateY(0px);
}
.portfolio-content .sm-title {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.29);
  display: inline-block;
  color: var(--bx-white-color);
  padding: 6px 18px;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.15px;
}
.portfolio-content .title {
  margin: 0;
  margin-top: 24px;
  color: var(--bx-white-color);
  font-size: 26px;
  font-weight: 600;
  line-height: 120%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.portfolio-content p {
  margin-top: 16px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  transition: all 0.3 ease;
  min-height: 90px;
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  /* Portfolio  */
  .portfolio-content p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media only screen and (max-width: 767px) {
  .bx-portfolio__inner {
    margin-top: 20px;
  }
  .portfolio-row {
    margin-top: 0;
  }

  .filter-menu .tab-btn {
    font-size: 14px;
    padding: 6px 10px;
  }
  .filter-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-bottom: 12px;
    margin-bottom: 40px;
  }
  .filter-menu .tab-btn::before {
    display: none;
  }
  .portfolio-img img {
    height: auto;
  }
  .portfolio-content .sm-title {
    padding: 4px 12px;
    font-size: 12px;
    line-height: 20px;
  }
  .portfolio-content .title {
    margin-top: 16px;
    font-size: 18px;
  }
  .portfolio-content p {
    line-height: 27px;
  }
  .portfolio-content {
    padding: 24px;
  }
  .portfolio-card .arrow-icon {
    right: 30px;
    top: 30px;
    max-width: 40px;
  }
  .portfolio-content {
    bottom: 12px;
  }
}

/*================================================================================================
    End Portfolio CSS
===================================================================================================*/
