/*================================================================================================
    Start Sidebars CSS
===================================================================================================*/
.bx-sidebar {
  z-index: 99999;
  border: none !important;
  width: 500px !important;
  max-width: 500px;
}

.bx-sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  border-bottom: 1px solid var(--bx-border-color);
  background: var(--bx-offwhite-color);
}
.bx-sidebar-header-title {
  font-size: 28px;
  margin: 0;
}
.bx-sidebar-logo {
  max-width: 140px;
  height: 34px;
  object-fit: contain;
  display: inline-block;
}

.bx-sidebar-header button {
  width: 32px;
  height: 32px;
  background: transparent;
  color: var(--bx-title-color) !important;
  border: 1px solid var(--bx-title-color) !important;
  border-radius: 100%;
  font-size: 12px;
  padding: 0;
  line-height: 35px;
  transition: all 0.4s ease;
}
.bx-sidebar-header button:hover {
  background: var(--bx-title-color);
  color: var(--bx-white-color) !important;
  border: 1px solid transparent !important;
}
.bx-sidebar-body {
  padding: 24px;
  overflow-y: scroll;
  margin-bottom: 156px;
}
.bx-sidebar-widget-title {
  font-size: 24px;
  margin-bottom: 24px;
}

.bx-sidebar-social {
  display: flex;
  align-items: center;
  gap: 24px;
}
.bx-sidebar-social li a {
  font-size: 20px;
}
.bx-sidebar-social li a:hover {
  color: var(--bx-primary-color);
}
.bx-sidebar-widget {
  margin-bottom: 40px;
}

.bx-sidebar-widget .bx-contact__info-item {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}
.bx-contact__info-icon {
  width: 70px;
  max-width: 70px;
  height: 70px;
  line-height: 77px;
  border-radius: 100%;
  text-align: center;
  font-size: 24px;
  background: var(--bx-offwhite-color);
}
.bx-contact__info-content span {
  display: block;
  margin-bottom: 8px;
}

.bx-contact__info-content a {
  color: var(--bx-title-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}
.bx-contact__info-content a:hover {
  color: var(--bx-primary-color);
}
.bx-sidebar-subscribe input {
  width: 100%;
  height: 52px;
  border: 1px solid var(--bx-primary-color) !important;
  border-radius: 42px !important;
  padding: 12px 20px !important;
}
.bx-sidebar-subscribe .bx-btn {
  margin-top: 16px;
}

@media only screen and (max-width: 767px) {
  .bx-sidebar {
    width: 100% !important;
    max-width: 100%;
  }
  .bx-sidebar-widget {
    margin-bottom: 32px;
  }
  .bx-sidebar-header-title {
    font-size: 24px;
  }
  .bx-sidebar-subscribe input {
    height: 44px;
  }
}
/*================================================================================================
      End Sidebars CSS
  ===================================================================================================*/
